<app-page-header title="{{ 'collaboration-list.title' | translate }}">
  <button actions mat-flat-button color="primary" *ngIf="canCreate" [routerLink]="routes.collaborationCreate">
    <mat-icon>add</mat-icon>{{ "collaboration-create.title" | translate }}
  </button>
</app-page-header>
<mat-card *ngIf="!isLoading; else loading">
  <mat-card-content>
    <app-table [data]="table" (rowClick)="handleTableClick($event)"></app-table>
    <mat-paginator (page)="handlePageEvent($event)" [length]="pagination?.total" pageSize="10" [hidePageSize]="true"></mat-paginator>
  </mat-card-content>
</mat-card>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
