<app-page-header [title]="formTitle"></app-page-header>
<ng-container *ngIf="!isLoading; else loading">
  <mat-card>
    <mat-card-content *ngIf="isDataInitialized && hasOnlineNode() && hasAlgorithmStores() && hasAlgorithms(); else cannotCreateAlgorithm">
      <mat-stepper [linear]="true" orientation="vertical" #stepper>
        <!-- by default, completed steps get an 'edit' icon to indicate they are completed but still editable.
          We change this to a check mark to show clearly which steps have been filled in -->
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <mat-step [stepControl]="sessionForm" *ngIf="availableSteps.session">
          <form class="form" [formGroup]="sessionForm">
            <ng-template matStepLabel>{{ "task-create.step-session" | translate }}</ng-template>
            <div *ngIf="sessions.length < 1" class="margin-bottom-4">
              <app-alert label="{{ 'task-create.alert-no-sessions-found' | translate }}"> </app-alert>
            </div>
            <div class="margin-bottom-4">
              <button actions mat-flat-button color="primary" [routerLink]="routes.sessionCreate">
                <mat-icon>add</mat-icon>{{ "session-create.create-title" | translate }}
              </button>
            </div>
            <mat-form-field *ngIf="sessions.length > 0" subscriptSizing="dynamic">
              <mat-label>{{ "task.session" | translate }}</mat-label>
              <mat-select formControlName="sessionID">
                <mat-option *ngFor="let session of sessions" [value]="session.id.toString()">
                  {{ session.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step *ngIf="shouldShowStudyStep && availableSteps.study" [completed]="isStudyCompleted" [stepControl]="studyForm">
          <form class="form" [formGroup]="studyForm">
            <ng-template matStepLabel>{{ "task-create.step-study.title" | translate }}</ng-template>
            <div class="field-description">{{ "task-create.step-study.explanation" | translate }}</div>
            <div class="field-description">{{ "task-create.step-study.description" | translate }}</div>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>{{ "resources.study" | translate }}</mat-label>
              <mat-select formControlName="studyOrCollabID" [compareWith]="compareStudyOrCollabForSelection">
                <mat-option [value]="studyOrCollab.Collaboration + collaboration?.id">
                  {{ "task-create.step-study.select-full-collaboration" | translate }}
                </mat-option>
                <mat-option *ngFor="let study of collaboration?.studies" [value]="studyOrCollab.Study + study.id">
                  {{ study.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- TODO only show back buttons if there actually IS a step before it (which depends on the type of action)
                Also check other steps -->
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
              <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="functionForm" *ngIf="availableSteps.function">
          <form class="form" [formGroup]="functionForm">
            <ng-template matStepLabel>{{ "task-create.step-function.title" | translate }}</ng-template>
            <div class="field-description">{{ "task-create.step-function.description.function" | translate }}</div>
            <mat-form-field subscriptSizing="dynamic" class="select-form-field">
              <mat-label>{{ "task.function" | translate }}</mat-label>
              <mat-select formControlName="algorithmFunctionSpec">
                <mat-form-field class="search-form-field">
                  <input
                    matInput
                    placeholder="{{ 'task-create.step-function.description.function-placeholder' | translate }}"
                    (keyup)="$event.stopPropagation(); search()"
                    formControlName="algorithmFunctionSearch"
                    type="text"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    color="primary"
                    *ngIf="functionForm.controls.algorithmFunctionSearch.value"
                    (click)="clearFunctionSearchInput()"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  <button matSuffix mat-icon-button aria-label="Search" color="primary">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
                <mat-option
                  *ngFor="let function of filteredFunctions"
                  class="function-select-option"
                  [innerHTML]="getFunctionOptionLabel(function) | highlight: functionForm.controls.algorithmFunctionSearch.value : true"
                  [value]="getAlgorithmFunctionSpec(function)"
                >
                  <span [innerHTML]="getFunctionOptionLabel(function)"></span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="function">
              <div class="field-description" *ngIf="!isFederatedStep(function.step_type)">
                {{ "task-create.step-function.description.organization-central" | translate }}
              </div>
              <div class="field-description" *ngIf="isFederatedStep(function.step_type)">
                {{ "task-create.step-function.description.organization-partial" | translate }}
              </div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ "task-create.step-function.organization" | translate }}</mat-label>
                <!--
                This ugly if-else is required because the 'multiple' property of mat-select
                cannot be changed after initialization (see e.g.
                https://stackoverflow.com/questions/51204450/error-cannot-change-multiple-mode-of-select-after-initialization)
                -->
                <div *ngIf="!isFederatedStep(function.step_type); else partialOrgDropdown">
                  <mat-select formControlName="organizationIDs" [compareWith]="compareIDsForSelection" [multiple]="false">
                    <mat-option *ngFor="let organization of organizations" [value]="organization.id.toString()">
                      {{ organization.name }}
                    </mat-option>
                  </mat-select>
                </div>
                <ng-template #partialOrgDropdown>
                  <mat-select formControlName="organizationIDs" [compareWith]="compareIDsForSelection" [multiple]="true">
                    <mat-option *ngFor="let organization of organizations" [value]="organization.id.toString()">
                      {{ organization.name }}
                    </mat-option>
                  </mat-select>
                </ng-template>
                <!-- End ugly if-else -->
              </mat-form-field>
              <div class="field-description">{{ "task-create.step-package.description.name" | translate }}</div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ "task.name" | translate }}</mat-label>
                <input matInput type="text" formControlName="taskName" />
              </mat-form-field>
              <div class="field-description">{{ "task-create.step-package.description.description" | translate }}</div>
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ "task.description" | translate }}</mat-label>
                <input matInput type="text" formControlName="description" />
              </mat-form-field>
            </div>
            <app-alert
              class="node-alert"
              *ngIf="node && node?.status !== 'online'"
              label="{{ 'task.alert-node-offline' | translate: { name: node.name } }}"
            ></app-alert>
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
              <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="databaseForm" *ngIf="shouldShowDatabaseStep && availableSteps.database">
          <ng-template matStepLabel>{{ "task-create.step-database.title" | translate }}</ng-template>
          <div class="field-description">{{ "task-create.step-database.description.database" | translate }}</div>
          <form class="form" [formGroup]="databaseForm">
            <div *ngIf="availableDatabases.length > 0; else noDatabasesBlock">
              <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{ "task.database" | translate }}</mat-label>
                <mat-select formControlName="database">
                  <mat-option *ngFor="let availableDatabase of availableDatabases" [value]="availableDatabase.name">
                    {{ availableDatabase.name }}
                    <div class="detail-txt">({{ availableDatabase.type }})</div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
          <div>
            <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
            <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="dataframeForm" *ngIf="shouldShowDataframeStep && availableSteps.dataframe">
          <form class="form" [formGroup]="dataframeForm">
            <ng-template matStepLabel>{{ "task-create.step-dataframe.title" | translate }}</ng-template>
            <mat-form-field *ngIf="dataframes.length > 0" subscriptSizing="dynamic">
              <mat-label>{{ "task.dataframe" | translate }}</mat-label>
              <mat-select formControlName="dataframeId">
                <mat-option *ngFor="let dataframe of dataframes" [value]="dataframe.id">
                  {{ dataframe.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
              <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
            </div>
          </form>
        </mat-step>
        <mat-step *ngIf="shouldShowParameterStep && availableSteps.parameter" [stepControl]="parameterForm">
          <form class="form" [formGroup]="parameterForm">
            <ng-template matStepLabel>{{ "task-create.step-parameters.title" | translate }}</ng-template>
            <ng-container *ngIf="!containsColumnArguments() || !isLoadingColumns; else loadingColumns">
              <div class="field-description">{{ "task-create.step-parameters.description" | translate }}</div>
              <ng-container *ngFor="let argument of sortArgumentsForDisplay(function?.arguments)">
                <ng-container *ngIf="shouldDisplayArgument(function, argument)">
                  <b>{{ argument.description }}</b>
                  <p *ngIf="argument.type === argumentType.Json">{{ "task-create.step-parameters.valid-json" | translate }}</p>
                  <!-- Show form field for dropdowns or single input fields (float, int, string) -->
                  <mat-form-field *ngIf="shouldIncludeFormField(argument)" subscriptSizing="dynamic">
                    <mat-label>{{ getDisplayName(argument) }}</mat-label>
                    <mat-select
                      *ngIf="shouldShowColumnDropdown(argument)"
                      [formControlName]="argument.name"
                      [multiple]="argument.type === argumentType.ColumnList"
                    >
                      <mat-option *ngFor="let column of columns" [value]="column">{{ column }}</mat-option>
                    </mat-select>
                    <mat-select
                      *ngIf="shouldShowOrganizationDropdown(argument)"
                      [formControlName]="argument.name"
                      [compareWith]="compareIDsForSelection"
                      [multiple]="argument.type === argumentType.OrganizationList"
                    >
                      <mat-option *ngFor="let organization of organizations" [value]="organization.id">
                        {{ organization.name }}
                      </mat-option>
                    </mat-select>
                    <input
                      *ngIf="shouldShowParameterSimpleInput(argument)"
                      matInput
                      appNumberOnly
                      [type]="argument.type === argumentType.Integer || argument.type === argumentType.Float ? 'number' : 'text'"
                      [formControlName]="argument.name"
                    />
                  </mat-form-field>
                  <!-- Show form field for json input -->
                  <div *ngIf="shouldShowParameterJsonInput(argument)">
                    <p>{{ "task-create.step-parameters.upload-or-fill-in-json" | translate }}</p>
                    <mat-form-field subscriptSizing="dynamic">
                      <mat-label>{{ "algorithm-create.card-from-json.file-label" | translate }}</mat-label>
                      <input matInput value="{{ getJsonFileName(argument) }}" disabled />
                      <input hidden (change)="selectedJsonFile($event, argument)" #fileInput type="file" id="file" />
                      <button mat-flat-button type="button" matSuffix color="primary" (click)="fileInput.click()">
                        {{ "general.file-select" | translate }}
                      </button>
                    </mat-form-field>
                    <p>{{ "task-create.step-parameters.valid-json" | translate }}</p>
                    <mat-form-field subscriptSizing="dynamic">
                      <mat-label>{{ argument.name }}</mat-label>
                      <textarea matInput [formControlName]="argument.name"></textarea>
                    </mat-form-field>
                  </div>
                  <!-- Show checkbox for boolean parameters -->
                  <mat-checkbox
                    class="newLineCheckbox"
                    *ngIf="shouldShowParameterBooleanInput(argument)"
                    [formControlName]="argument.name"
                    [checked]="false"
                  >
                    {{ argument.name }}
                  </mat-checkbox>
                  <!-- Show expandable list for multiple inputs (list of str, int, or float) -->
                  <div *ngIf="shouldShowMultipleInput(argument)">
                    <div formArrayName="{{ argument.name }}" *ngFor="let input of getFormArrayControls(argument); let idx = index">
                      <div style="display: flex; align-items: center">
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ argument.name }} {{ idx + 1 }}</mat-label>
                          <input
                            matInput
                            appNumberOnly
                            [type]="argument.type === argumentType.Integer || argument.type === argumentType.Float ? 'number' : 'text'"
                            [formControlName]="idx"
                          />
                        </mat-form-field>
                        <button mat-raised-button color="warn" (click)="removeInputFieldForArg(argument, idx)">Delete</button>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="addInputFieldForArg(argument)">Add More</button>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      <button mat-flat-button color="primary" [disabled]="isFormInvalid()" (click)="handleSubmit()">
        {{ "general.submit" | translate }}
      </button>
      <button mat-flat-button color="secondary" (click)="handleCancel()">
        {{ "general.cancel" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #loadingColumnsPreprocessing>
  <ng-template [ngTemplateOutlet]="loadingColumns"></ng-template>
</ng-template>
<ng-template #loadingColumns>
  <div class="loading-container">
    <mat-spinner diameter="48"></mat-spinner>
    <div>{{ "task-create.step-preprocessing.get-columns" | translate }}</div>
  </div>
</ng-template>
<ng-template #cannotCreateAlgorithm>
  <app-alert *ngIf="!hasOnlineNode()" class="node-alert" label="{{ 'task-create.alert-no-online-nodes' | translate }}"></app-alert>
  <app-alert *ngIf="!hasAlgorithmStores()" class="node-alert" label="{{ 'task-create.alert-no-stores' | translate }}"></app-alert>
  <app-alert
    *ngIf="hasAlgorithmStores() && !hasAlgorithms()"
    class="node-alert"
    label="{{ 'task-create.alert-no-algorithms' | translate }}"
  ></app-alert>
</ng-template>
<ng-template #noDatabasesBlock>
  <app-alert
    class="node-alert"
    *ngIf="node && node.config.length === 0"
    label="{{ 'task-create.alert-no-node-config' | translate: { name: node.name } }}"
  ></app-alert>
  <app-alert
    class="node-alert"
    *ngIf="node && node.config.length > 0 && !nodeConfigContainsDatabases()"
    label="{{ 'task-create.alert-no-databases' | translate: { name: node.name } }}"
  ></app-alert>
</ng-template>
