@import "src/app/styles/config.scss";

.node-alert {
  display: block;
  margin-bottom: $spacing-px-2;
}

.field-description {
  margin-bottom: $spacing-px-2;
}

.margin-bottom-4 {
  margin-bottom: $spacing-px-4;
}

.detail-txt {
  font-size: small;
  color: grey;
  display: inline;
}

.newLineCheckbox {
  display: block;
  width: 100%;
}
