<app-page-header [title]="formTitle"></app-page-header>
<ng-container *ngIf="!isLoading; else loading">
  <mat-card>
    <mat-card-content *ngIf="isDataInitialized && hasOnlineNode() && hasAlgorithmStores() && hasAlgorithms(); else cannotCreateAlgorithm">
      <mat-stepper [linear]="true" orientation="vertical" #stepper>
        <!-- by default, completed steps get an 'edit' icon to indicate they are completed but still editable.
          We change this to a check mark to show clearly which steps have been filled in -->
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <mat-step [stepControl]="sessionForm" *ngIf="availableSteps.session">
          <ng-template matStepLabel>{{ "task-create.step-session" | translate }}</ng-template>
          <app-session-step
            [formGroup]="sessionForm"
            [allowedTaskTypes]="allowedTaskTypes"
            [dataframes]="dataframes"
            [hasLoadedDataframes]="hasLoadedDataframes"
            [allDataframesNotReady]="allDataframesNotReady"
            [session]="session"
            (sessionSelected)="onSessionStepSessionSelected($event)"
            (sessionsLoaded)="onSessionStepSessionsLoaded($event)"
          >
          </app-session-step>
          <div>
            <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
          </div>
        </mat-step>
        <mat-step *ngIf="shouldShowStudyStep && availableSteps.study" [completed]="isStudyCompleted" [stepControl]="studyForm">
          <ng-template matStepLabel>{{ "task-create.step-study.title" | translate }}</ng-template>
          <app-study-step
            [formGroup]="studyForm"
            [collaboration]="collaboration!"
            [isStudyCompleted]="isStudyCompleted"
            (studySelected)="onStudyStepStudySelected($event)"
          ></app-study-step>
          <!-- TODO only show back buttons if there actually IS a step before it (which depends on the type of action)
                Also check other steps -->
          <div>
            <button mat-button matStepperPrevious *ngIf="!isFirstStep(availableStepsEnum.Study)">{{ "general.back" | translate }}</button>
            <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="functionForm" *ngIf="availableSteps.function">
          <ng-template matStepLabel>{{ "task-create.step-function.title" | translate }}</ng-template>
          <app-function-step
            [formGroup]="functionForm"
            [functionsFilteredBySearch]="functionsFilteredBySearch"
            [organizations]="organizations"
            [function]="function"
            [sessionRestrictedToSameImage]="sessionRestrictedToSameImage"
            [showWarningUniqueDFName]="showWarningUniqueDFName"
            [node]="node"
            [algorithms]="algorithms"
            [collaboration]="collaboration"
            [functionsAllowedForSession]="functionsAllowedForSession"
            (functionSelected)="onFunctionStepFunctionSelected($event)"
          >
          </app-function-step>
          <div>
            <button mat-button matStepperPrevious *ngIf="!isFirstStep(availableStepsEnum.Function)">
              {{ "general.back" | translate }}
            </button>
            <button mat-button matStepperNext *ngIf="!isLastStep(availableStepsEnum.Function)">
              {{ "general.next" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="databaseForm" *ngIf="shouldShowDatabaseStep && availableSteps.database">
          <ng-template matStepLabel>{{ "task-create.step-database.title" | translate }}</ng-template>
          <div class="field-description">{{ "task-create.step-database.description.database" | translate }}</div>
          <app-database-step [formGroup]="databaseForm" [availableDatabases]="availableDatabases"> </app-database-step>
          <div>
            <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
            <button mat-button matStepperNext *ngIf="!isLastStep(availableStepsEnum.Database)">
              {{ "general.next" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="dataframeForm" *ngIf="shouldShowDataframeStep && availableSteps.dataframe">
          <ng-template matStepLabel>{{ "task-create.step-dataframe.title" | translate }}</ng-template>
          <app-dataframe-step
            [formGroup]="dataframeForm"
            [dataframes]="dataframes"
            [function]="function"
            [session]="session"
            [organizationNamesWithNonReadyDataframes]="organizationNamesWithNonReadyDataframes"
            [selectedDataframes]="selectedDataframes"
            [organizations]="organizations"
            [functionForm]="functionForm"
          >
          </app-dataframe-step>
          <div>
            <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
            <button mat-button matStepperNext *ngIf="!isLastStep(availableStepsEnum.Dataframe)">
              {{ "general.next" | translate }}
            </button>
          </div>
        </mat-step>
        <mat-step *ngIf="shouldShowParameterStep && availableSteps.parameter" [stepControl]="parameterForm">
          <ng-template matStepLabel>{{ "task-create.step-parameters.title" | translate }}</ng-template>
          <app-parameter-step
            [formGroup]="parameterForm"
            [function]="function"
            [columns]="columns"
            [organizations]="organizations"
            [isLoadingColumns]="isLoadingColumns"
            [argumentType]="argumentType"
          >
          </app-parameter-step>
          <div>
            <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
          </div>
        </mat-step>
      </mat-stepper>
      <button mat-flat-button color="primary" [disabled]="isFormInvalid() || isSubmitting" (click)="handleSubmit()">
        <mat-spinner *ngIf="isSubmitting" diameter="20" class="button-spinner"></mat-spinner>
        <span *ngIf="!isSubmitting">{{ "general.submit" | translate }}</span>
      </button>
      <button mat-flat-button color="secondary" (click)="handleCancel()">
        {{ "general.cancel" | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #loadingColumnsPreprocessing>
  <ng-template [ngTemplateOutlet]="loadingColumns"></ng-template>
</ng-template>
<ng-template #loadingColumns>
  <div class="loading-container">
    <mat-spinner diameter="48"></mat-spinner>
    <div>{{ "task-create.step-preprocessing.get-columns" | translate }}</div>
  </div>
</ng-template>
<ng-template #cannotCreateAlgorithm>
  <app-alert *ngIf="!hasOnlineNode()" class="node-alert" label="{{ 'task-create.alert-no-online-nodes' | translate }}"></app-alert>
  <app-alert *ngIf="!hasAlgorithmStores()" class="node-alert" label="{{ 'task-create.alert-no-stores' | translate }}"></app-alert>
  <app-alert
    *ngIf="hasAlgorithmStores() && !hasAlgorithms()"
    class="node-alert"
    label="{{ 'task-create.alert-no-algorithms' | translate }}"
  ></app-alert>
</ng-template>
<ng-template #noDatabasesBlock>
  <app-alert
    class="node-alert"
    *ngIf="node && node.config.length === 0"
    label="{{ 'task-create.alert-no-node-config' | translate: { name: node.name } }}"
  ></app-alert>
  <app-alert
    class="node-alert"
    *ngIf="node && node.config.length > 0 && !nodeConfigContainsDatabases()"
    label="{{ 'task-create.alert-no-databases' | translate: { name: node.name } }}"
  ></app-alert>
</ng-template>
