<app-page-header [title]="formTitle"></app-page-header>
<mat-card>
  @if (isDataInitialized && hasOnlineNode() && hasAlgorithmStores() && hasAlgorithms()) {
    <mat-card-content>
      <mat-stepper [linear]="true" orientation="vertical" #stepper>
        <!-- by default, completed steps get an 'edit' icon to indicate they are completed but still editable.
        We change this to a check mark to show clearly which steps have been filled in -->
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        @if (availableSteps.session) {
          <mat-step [stepControl]="sessionForm">
            <ng-template matStepLabel>{{ "task-create.step-session" | translate }}</ng-template>
            <app-session-step
              [formGroup]="sessionForm"
              [allowedTaskTypes]="allowedTaskTypes"
              [dataframes]="dataframes"
              [isLoadingRepeatTask]="isLoadingRepeatTask"
            >
            </app-session-step>
            <div>
              <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
            </div>
          </mat-step>
        }
        @if (shouldShowStudyStep && availableSteps.study) {
          <mat-step [stepControl]="studyForm">
            <ng-template matStepLabel>{{ "task-create.step-study.title" | translate }}</ng-template>
            <app-study-step
              [formGroup]="studyForm"
              [collaboration]="collaboration!"
              [shouldShowStudyStep]="shouldShowStudyStep"
            ></app-study-step>
            <!-- TODO only show back buttons if there actually IS a step before it (which depends on the type of action)
            Also check other steps -->
            <div>
              @if (!isFirstStep(availableStepsEnum.Study)) {
                <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
              }
              <button mat-button matStepperNext>{{ "general.next" | translate }}</button>
            </div>
          </mat-step>
        }
        @if (availableSteps.function) {
          <mat-step [stepControl]="functionForm">
            <ng-template matStepLabel>{{ "task-create.step-function.title" | translate }}</ng-template>
            <app-function-step
              [formGroup]="functionForm"
              [functions]="functions"
              [node]="node"
              [algorithms]="algorithms"
              [collaboration]="collaboration"
              [allowedTaskTypes]="allowedTaskTypes"
              [isLoadingRepeatTask]="isLoadingRepeatTask"
            >
            </app-function-step>
            <div>
              @if (!isFirstStep(availableStepsEnum.Function)) {
                <button mat-button matStepperPrevious>
                  {{ "general.back" | translate }}
                </button>
              }
              @if (!isLastStep(availableStepsEnum.Function)) {
                <button mat-button matStepperNext>
                  {{ "general.next" | translate }}
                </button>
              }
            </div>
          </mat-step>
        }
        @if (shouldShowDatabaseStep && availableSteps.database) {
          <mat-step [stepControl]="databaseForm">
            <ng-template matStepLabel>{{ "task-create.step-database.title" | translate }}</ng-template>
            <div class="field-description">{{ "task-create.step-database.description.database" | translate }}</div>
            <app-database-step [formGroup]="databaseForm" [node]="node"> </app-database-step>
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
              @if (!isLastStep(availableStepsEnum.Database)) {
                <button mat-button matStepperNext>
                  {{ "general.next" | translate }}
                </button>
              }
            </div>
          </mat-step>
        }
        @if (shouldShowDataframeStep && availableSteps.dataframe) {
          <mat-step [stepControl]="dataframeForm">
            <ng-template matStepLabel>{{ "task-create.step-dataframe.title" | translate }}</ng-template>
            <app-dataframe-step [formGroup]="dataframeForm" [dataframes]="dataframes"> </app-dataframe-step>
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
              @if (!isLastStep(availableStepsEnum.Dataframe)) {
                <button mat-button matStepperNext>
                  {{ "general.next" | translate }}
                </button>
              }
            </div>
          </mat-step>
        }
        @if (shouldShowParameterStep && availableSteps.parameter) {
          <mat-step [stepControl]="parameterForm">
            <ng-template matStepLabel>{{ "task-create.step-parameters.title" | translate }}</ng-template>
            <app-parameter-step [formGroup]="parameterForm" [preSelectedDataframes]="preSelectedDataframes"> </app-parameter-step>
            <div>
              <button mat-button matStepperPrevious>{{ "general.back" | translate }}</button>
            </div>
          </mat-step>
        }
      </mat-stepper>
      <!-- show alert if the form is invalid and the issue is NOT in the last step (parameter step) -->
      @if (isFormInvalid() && stepper.selectedIndex === stepper.steps.length - 1 && isLastStepValid()) {
        <app-alert class="node-alert" [label]="getInvalidAlertLabel()"></app-alert>
      }
      <button mat-flat-button color="primary" [disabled]="isFormInvalid() || isSubmitting" (click)="handleSubmit()">
        @if (isSubmitting) {
          <mat-spinner diameter="20" class="button-spinner"></mat-spinner>
        }
        @if (!isSubmitting) {
          <span>{{ "general.submit" | translate }}</span>
        }
      </button>
      <button mat-flat-button color="secondary" (click)="handleCancel()">
        {{ "general.cancel" | translate }}
      </button>
    </mat-card-content>
  } @else {
    @if (isDataInitialized) {
      <div>
        @if (!hasOnlineNode()) {
          <app-alert class="node-alert" label="{{ 'task-create.alert-no-online-nodes' | translate }}"></app-alert>
        }
        @if (!hasAlgorithmStores()) {
          <app-alert class="node-alert" label="{{ 'task-create.alert-no-stores' | translate }}"></app-alert>
        }
        @if (hasAlgorithmStores() && !hasAlgorithms()) {
          <app-alert class="node-alert" label="{{ 'task-create.alert-no-algorithms' | translate }}"></app-alert>
        }
      </div>
    }
  }
</mat-card>
