<mat-card>
  <h3>Welcome</h3>
  <p>
    Set up your vantage6 environment for <b>{{ api_url }}</b>!
  </p>
</mat-card>
<div class="row justify-content-md-center">
  <div class="col-lg">
    <mat-card>
      <h4>stuff</h4>
      <p>
        Click on the links in the sidebar to view resources
      </p>
    </mat-card>
  </div>

  <div class="col-lg">
    <mat-card>
      <h4>More stuff</h4>
      <p>
        You will only be able to do what your roles allow you to do
      </p>
    </mat-card>
  </div>
</div>