<mat-card>
  <h2>Welcome</h2>
  <p>
    Set up your vantage6 environment for <b>{{ api_url }}</b>!
  </p>
</mat-card>
<div class="row justify-content-md-center">
  <div class="col-lg">
    <mat-card>
      <h4>How to use</h4>
      <p>
        Use the sidebar to migrate to pages showing your resources.
      </p>
      <p>
        Depending on your permissions on this server, you may or may not be able
        to view, create, edit and delete the various resources.
      </p>
    </mat-card>
  </div>

  <div class="col-lg">
    <mat-card>
      <h4>Vantage6 resources</h4>
      <p>
        The following places contain more information on vantage6:
      </p>
      <mat-card>
        <a href="https://vantage6.ai">
          <img src="../assets/images/vantage6_logo.png" style="width: 120px; margin-right: 15px;"/>
          <div class="inline link-text">The project website</div>
        </a>
      </mat-card>
      <mat-card>
        <a href="https://docs.vantage6.ai/">
          <img src="../assets/images/vantage6_logo.png" style="width: 120px; margin-right: 15px;"/>
          <div class="inline link-text">Our user documentation</div>
        </a>
      </mat-card>
      <mat-card>
        <a href="https://discord.com/invite/yAyFf6Y">
          <img src="../assets/images/discord-logo.svg" style="width: 120px; margin-right: 15px;"/>
          <div class="inline link-text">Our Discord community</div>
        </a>
      </mat-card>
      <mat-card>
        <a href="https://github.com/vantage6">
          <img src="../assets/images/github-logo.png" style="width: 120px; margin-right: 15px;"/>
          <div class="inline link-text">Our Github repositories</div>
        </a>
      </mat-card>
    </mat-card>
  </div>
</div>