<mat-card>
  <h3>Welcome</h3>
  <p>
    Set up your vantage6 environment for <b>{{ server_name }}</b>!
  </p>
</mat-card>
<div class="row justify-content-md-center">
  <div class="col-lg">
    <mat-card>
      <h4>stuff</h4>
      <p>
        <b>Maybe we should add some links to the resources here?</b>
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget lorem dolor sed viverra. Proin fermentum leo vel orci porta non pulvinar neque laoreet. Mauris cursus mattis molestie a iaculis. Suspendisse in est ante in nibh mauris cursus. Nibh tellus molestie nunc non. Fames ac turpis egestas integer eget aliquet nibh praesent. Vestibulum mattis ullamcorper velit sed ullamcorper. Sit amet consectetur adipiscing elit pellentesque habitant. Purus ut faucibus pulvinar elementum integer. Condimentum lacinia quis vel eros donec ac odio tempor orci.</p>
      <p>Facilisi cras fermentum odio eu feugiat pretium. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Malesuada bibendum arcu vitae elementum curabitur vitae. At erat pellentesque adipiscing commodo elit at. Cursus eget nunc scelerisque viverra. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Auctor neque vitae tempus quam pellentesque nec nam. Pellentesque elit ullamcorper dignissim cras tincidunt. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Laoreet sit amet cursus sit. Amet consectetur adipiscing elit duis tristique sollicitudin. Et malesuada fames ac turpis egestas maecenas. Dignissim suspendisse in est ante in nibh mauris cursus mattis.</p>
    </mat-card>
  </div>

  <div class="col-lg">
    <mat-card>
      <h4>More stuff</h4>
      <p>
        <b>
          Not sure what we should put here
        </b>
      </p>
      <p>Ultrices tincidunt arcu non sodales neque sodales ut etiam sit. Viverra nibh cras pulvinar mattis nunc sed blandit libero. Justo donec enim diam vulputate ut pharetra sit amet. Volutpat ac tincidunt vitae semper quis lectus nulla. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Sapien pellentesque habitant morbi tristique senectus et netus et. Neque egestas congue quisque egestas diam in arcu cursus euismod. Leo a diam sollicitudin tempor id eu nisl nunc mi. Quam quisque id diam vel quam. Fringilla ut morbi tincidunt augue interdum velit euismod in. Sit amet commodo nulla facilisi. Ut aliquam purus sit amet luctus venenatis lectus.</p>
      <p>Quam vulputate dignissim suspendisse in est ante in nibh mauris. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Ac odio tempor orci dapibus. Morbi tristique senectus et netus et. Enim lobortis scelerisque fermentum dui faucibus in ornare. Netus et malesuada fames ac turpis egestas sed tempus. Nisl rhoncus mattis rhoncus urna neque viverra justo. Non nisi est sit amet facilisis magna. Arcu risus quis varius quam quisque id diam vel. Libero id faucibus nisl tincidunt eget nullam non. Enim facilisis gravida neque convallis a cras semper auctor. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat. Lorem dolor sed viverra ipsum. Sed cras ornare arcu dui vivamus arcu felis bibendum. Eget duis at tellus at urna. Condimentum lacinia quis vel eros donec ac odio tempor. Ornare aenean euismod elementum nisi quis. Volutpat est velit egestas dui id ornare arcu.</p>
    </mat-card>
  </div>
</div>