<mat-card class="auth-card">
  <mat-card-header>
    <mat-card-title>{{ "login.lost.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ "login.lost.instruction" | translate }}
    </p>
    <form class="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "user.username" | translate }}</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "user.email" | translate }}</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <button mat-flat-button type="submit" color="primary" [disabled]="!forgotPasswordForm.valid">
        {{ "login.lost.request-token" | translate }}
      </button>
    </form>
    <app-alert-with-button
      *ngIf="executed_request"
      label="{{ responseMsg }}"
      buttonText="{{ 'login.lost.enter-token' | translate }}"
      buttonLink="{{ routes.passwordRecover }}"
    ></app-alert-with-button>
    <button mat-flat-button type="submit" [routerLink]="routes.passwordRecover">{{ "login.lost.already-reset" | translate }}</button>
  </mat-card-content>
</mat-card>
