@import "../../styles/config.scss";
@import "../../styles/material.scss";

.layout-container {
  margin: $spacing-px-4;
}

mat-toolbar {
  .logo {
    height: $spacing-px-12;
  }
}

mat-sidenav {
  max-width: 275px;

  button {
    width: calc(100% - ($spacing-px-4 * 2));
    margin: 0 $spacing-px-4 $spacing-px-2 $spacing-px-4;
    box-sizing: border-box;
  }

  mat-list-item {
    padding: 0 $spacing-px-8;

    mat-icon {
      margin: 0 $spacing-px-4 0 0;
    }
  }
}

mat-sidenav-container {
  min-height: calc(100% - 56px);

  @media only screen and (min-width: 600px) {
    min-height: calc(100% - 64px);
  }
}

mat-toolbar {
  .actions {
    display: flex;
    align-items: center;
    gap: $spacing-px-2;
    margin-left: auto;

    .mat-mdc-mini-fab {
      box-shadow: none;
    }
  }
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  height: 0;
  // slight indent of submenus
  padding-left: 20px;
}

.submenu.expanded {
  height: auto;
}

.choice-alert {

  background-color: map-get($vantage-primary, 900);
  margin-bottom: $spacing-px-2;

  mat-card-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      >*:not(:last-child) {
        margin-bottom: $spacing-px-2;
      }
    }
  }

  span {
    color: map-get($vantage-primary, 50);
    display: flex;
    align-items: center;

    &.low-importance {
      color: map-get($vantage-primary, 200);
    }
  }
}