@import "/src/app/styles/config.scss";

.layout-container {
  margin: $spacing-px-4;
  height: calc(100vh - 56px);
  overflow-y: auto;

  @media only screen and (min-width: 600px) {
    height: calc(100vh - 64px);
  }

  &.fixed-sidenav {
    margin-left: 16px;
  }
}

mat-toolbar {
  .logo {
    height: $spacing-px-12;
  }
}

mat-sidenav {
  max-width: 285px;
  height: calc(100vh - 56px);
  top: 56px;

  @media only screen and (min-width: 600px) {
    height: calc(100vh - 64px);
    top: 64px;
  }

  &.fixed-sidenav {
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 1000;
    height: calc(100vh - 56px);

    @media only screen and (min-width: 600px) {
      top: 64px;
      height: calc(100vh - 64px);
    }
  }

  button {
    width: calc(100% - ($spacing-px-4 * 2));
    margin: 0 $spacing-px-4 $spacing-px-2 $spacing-px-4;
    box-sizing: border-box;
  }

  .sidenav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }

  mat-list-item {
    padding: 0 $spacing-px-8;

    mat-icon {
      margin: 0 $spacing-px-4 0 0;
    }
  }
}

mat-sidenav-container {
  height: calc(100vh - 56px);
  position: relative;

  @media only screen and (min-width: 600px) {
    height: calc(100vh - 64px);
  }
}

mat-toolbar {
  .actions {
    display: flex;
    align-items: center;
    gap: $spacing-px-2;
    margin-left: auto;

    .mat-mdc-mini-fab {
      box-shadow: none;
    }
  }
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  height: 0;
  // slight indent of submenus
  padding-left: 20px;
}

.submenu.expanded {
  height: auto;
}

.privacy-link {
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  mat-icon {
    color: #666;
  }

  a {
    color: #666;
    font-size: 0.9rem;
  }
}

.choice-alert {
  background-color: map-get($vantage-primary, 900);
  margin-bottom: $spacing-px-2;

  mat-card-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > *:not(:last-child) {
        margin-bottom: $spacing-px-2;
      }
    }
  }

  span {
    color: map-get($vantage-primary, 50);
    display: flex;
    align-items: center;

    &.low-importance {
      color: map-get($vantage-primary, 200);
    }
  }
}
