@use 'src/app/shared/scss/variables' as v;

table {
    width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  max-width: 200px;
}

.mat-header-cell {
  font-size: large;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}


mat-table {


  .detail-row{
    border-color: v.$vtg-blue-opac03;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    font-size: 0.9em;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 10px 10px;
  }


}