{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prom-conf
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
{{ include "vantage6.labels" . | indent 4 }}
    component: prometheus
data:
  prometheus.yml: |
    global:
      # How frequently to scrape targets by default.
      scrape_interval: 1m

    scrape_configs:
      - job_name: vantage6_hq_metrics
        static_configs:
          - targets:
              - {{ .Release.Name }}-prometheus:{{ .Values.prometheus.exporter_port | default 7603 }}
{{- end }}
