<div class="col-md-12">
  <div class="card card-container">
    <h6>Enter your reset token and new password</h6>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="username.errors && f.submitted"
        >
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
          />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">
          Login
        </button>
      </div>
      <div class="form-group">
        <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted"
        >
        <!-- Login failed: {{ errorMessage }} -->
      </div>
    </div>
  </form>
  <button class="btn btn-link" [routerLink]="['/password_lost']">
    Forgot your password?
  </button>
  </div>
</div>