<table mat-table
       [dataSource]="algorithms" multiTemplateDataRows
       class="mat-elevation-z8">
    @for (column of columnsToDisplay; track column) {
        <ng-container matColumnDef="{{column}}">
            @if (column === 'code_url' || column === 'documentation_url') {
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">
                    <a href="{{ element[column] }}">{{ element[column] }} </a>
                </td>
            }@else if (column === 'image'){
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">
                   <code>{{ element[column] }}</code>
                </td>
            }@else if (column === 'submitted_at' || column === 'approved_at'){
                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">{{ element[column]|date:'medium' }}</td>
            } @else {

                <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            }
        </ng-container>
    }
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button
                    mat-icon-button
                    aria-label="expand row"
                    (click)="toggle(element); $event.stopPropagation()"
                    class="example-toggle-button"
                    [class.example-toggle-button-expanded]="isExpanded(element)">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="algorithm-detail-wrapper"
                 [class.algorithm-detail-wrapper-expanded]="isExpanded(element)">
                <div class="algorithm-detail">

                    <div class="algorithm-description">{{ element.description }}
                        <h4 class="algorithm-functions-header">Functions</h4>
                        <mat-list>
                            @for (func of element.functions; track func) {
                                <mat-list-item>
                                <span class="algorithm-function-name">
                                    {{ func.display_name ? func.display_name : func.name }}:
                                </span>
                                    <span class="algorithm-function-description">
                                    {{ func.description }}
                                </span>

                                </mat-list-item>
                            }
                        </mat-list>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="isExpanded(element)"
        (click)="toggle(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>