@if (!isLoading && !isLoadingRepeatTask) {
  <form class="form" [formGroup]="formGroup">
    @if (sessionRestrictedToSameImage) {
      <app-alert label="{{ 'task-create.step-function.description.function-restricted-to-same-image' | translate }}"></app-alert>
    }
    <div class="field-description">{{ "task-create.step-function.description.function" | translate }}</div>
    <mat-form-field subscriptSizing="dynamic" class="select-form-field">
      <mat-label>{{ "task.function" | translate }}</mat-label>
      <mat-select formControlName="algorithmFunctionSpec">
        <mat-form-field class="search-form-field">
          <input
            matInput
            placeholder="{{ 'task-create.step-function.description.function-placeholder' | translate }}"
            (keyup)="$event.stopPropagation(); search()"
            formControlName="algorithmFunctionSearch"
            type="text"
          />
          @if (formGroup.controls["algorithmFunctionSearch"].value) {
            <button matSuffix mat-icon-button aria-label="Clear" color="primary" (click)="clearFunctionSearchInput()">
              <mat-icon>close</mat-icon>
            </button>
          }
          <button matSuffix mat-icon-button aria-label="Search" color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        @for (function of functionsFilteredBySearch; track function) {
          <mat-option
            class="function-select-option"
            [innerHTML]="getFunctionOptionLabel(function) | highlight: formGroup.controls['algorithmFunctionSearch'].value : true"
            [value]="getAlgorithmFunctionSpec(function)"
          >
            <span [innerHTML]="getFunctionOptionLabel(function)"></span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (selectedFunction) {
      <div>
        @if (!isFederatedStep(selectedFunction.step_type)) {
          <div class="field-description">
            {{ "task-create.step-function.description.organization-central" | translate }}
          </div>
        }
        @if (isFederatedStep(selectedFunction.step_type)) {
          <div class="field-description">
            {{ "task-create.step-function.description.organization-partial" | translate }}
          </div>
        }
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "task-create.step-function.organization" | translate }}</mat-label>
          <!--
          This ugly if-else is required because the 'multiple' property of mat-select
          cannot be changed after initialization (see e.g.
          https://stackoverflow.com/questions/51204450/error-cannot-change-multiple-mode-of-select-after-initialization)
          -->
          @if (!isFederatedStep(selectedFunction.step_type)) {
            <div>
              <mat-select formControlName="organizationIDs" [compareWith]="compareIDsForSelection" [multiple]="false">
                @for (organization of organizations; track organization) {
                  <mat-option [value]="organization.id.toString()">
                    {{ organization.name }}
                  </mat-option>
                }
              </mat-select>
            </div>
          } @else {
            <mat-select formControlName="organizationIDs" [compareWith]="compareIDsForSelection" [multiple]="true">
              @for (organization of organizations; track organization) {
                <mat-option [value]="organization.id.toString()">
                  {{ organization.name }}
                </mat-option>
              }
            </mat-select>
          }
          <!-- End ugly if-else -->
        </mat-form-field>
        @if (isDataExtractionStep()) {
          <div class="field-description">
            {{ "task-create.step-function.description.df-name" | translate }}
          </div>
        }
        @if (!isDataExtractionStep()) {
          <div class="field-description">
            {{ "task-create.step-function.description.name" | translate }}
          </div>
        }
        @if (showWarningUniqueDFName) {
          <app-alert label="{{ 'task-create.step-function.description.df-name-warning' | translate }}"></app-alert>
        }
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "task.name" | translate }}</mat-label>
          <input matInput type="text" formControlName="taskName" />
        </mat-form-field>
        @if (!isDataExtractionStep()) {
          <div>
            <div class="field-description">
              {{ "task-create.step-function.description.description" | translate }}
            </div>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>{{ "task.description" | translate }}</mat-label>
              <input matInput type="text" formControlName="description" />
            </mat-form-field>
          </div>
        }
      </div>
    }
    @if (node && node?.status !== "online") {
      <app-alert class="node-alert" label="{{ 'task.alert-node-offline' | translate: { name: node.name } }}"></app-alert>
    }
  </form>
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
