<ng-container *ngIf="!isLoading && study; else loading">
  <app-page-header [title]="study.name">
    <button actions mat-icon-button class="page-header__more" [matMenuTriggerFor]="menu" *ngIf="canDelete || canDelete">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="canEdit" [routerLink]="[routes.studyEdit, id]">
        <mat-icon>edit</mat-icon>
        <span>{{ "general.edit" | translate }}</span>
      </button>
      <button mat-menu-item *ngIf="canDelete" (click)="handleDelete()">
        <mat-icon>delete</mat-icon>
        <span>{{ "general.delete" | translate }}</span>
      </button>
    </mat-menu>
  </app-page-header>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "study-read.card-details.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-list">
        <div class="data-list__item">
          <b>{{ "general.id" | translate }}</b>
          <span>{{ study.id || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "general.name" | translate }}</b>
          <span>{{ study.name || "-" }}</span>
        </div>
        <div class="data-list__item>">
          <b> {{ "resources.collaboration" | translate }}</b>
          <span>
            <div class="chip-container">
              <app-chip [label]="study.collaboration?.name || ''"></app-chip>
            </div>
          </span>
        </div>
        <div class="data-list__item data-list__item--full">
          <b>{{ "resources.organizations" | translate }}</b>
          <span>
            <div class="chip-container">
              <app-chip *ngFor="let organization of study.organizations" [label]="organization.name"></app-chip>
            </div>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
