openpyxl>=3.0.0
pandas>=1.5.3
pyjwt==2.9.0
pyfiglet==1.0.4
# psycopg2-binary is not used directly in algorithm tools, but is necessary when
# running SQL queries on a postgres database.
psycopg2-binary==2.9.10
SPARQLWrapper>=2.0.0
sqlalchemy==1.4.46