
# documentation
docs/_build
docs/api-docs/_autosummary

# Python
.ipynb_checkpoints
**/__pycache__
**/.coverage

# IDE's
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# build files
**/build/
**/dist/
*.egg-info
*.code-workspace

# UI build files
**/node_modules/

# Ignore DevSpace cache and log folder
.devspace/
dev/.data/
dev/.tasks/
dev/.db/

# Helm
charts/**/*.tgz