<mat-card>
  <h4>View status update</h4>
  <p>
    The messages below are status updates from the server and the nodes. They
    list updates like which nodes appear online and which tasks are started or
    finished.
  </p>
  <p>
    Note that these messages are not saved. <i>If you refresh this page or logout, they
    will be lost.</i>
  </p>

  <!-- TODO 22-11-28 BvB: maybe build a filter -- no priority at this point.  -->
  <!-- <mat-form-field appearance="standard" class="inline">
    <mat-label>Filter columns</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input/>
  </mat-form-field> -->
</mat-card>

<mat-card>
  <mat-list role="list">
    <mat-list-item *ngFor="let message of displayed_messages">
      &#x2022; {{message}}
    </mat-list-item>
  </mat-list>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
  </mat-paginator>
</mat-card>