<app-page-header title="{{ 'resources.task' | translate }}">
  @if (task && (canDelete || canCreate)) {
    <button actions mat-icon-button class="page-header__more" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  }
  <mat-menu #menu="matMenu">
    @if (canDelete) {
      <button mat-menu-item (click)="handleDelete()">
        <mat-icon>delete</mat-icon>
        <span>{{ "general.delete" | translate }}</span>
      </button>
    }
    @if (canCreate) {
      <button mat-menu-item (click)="handleRepeat()">
        <mat-icon>repeat</mat-icon>
        <span>{{ "task-read.repeat" | translate }}</span>
      </button>
    }
  </mat-menu>
</app-page-header>
@if (algorithmNotFoundInStore) {
  <app-alert label="{{ 'task-read.alert-algorithm-not-found' | translate }}"></app-alert>
}
@if (!isLoading && task) {
  <mat-card>
    <mat-expansion-panel [expanded]="!isTaskComplete()">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ "task-read.card-status.title" | translate }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h3>{{ "task-read.card-status.main-process-title" | translate }}</h3>
      <div [ngClass]="{ 'status-info-container': true, 'status-info-container--small': isSmallTileView() }">
        @for (run of $safeNavigationMigration(task?.runs) | orderByTaskStatus: "status" : "asc"; track run) {
          <app-status-info
            [type]="getStatusType(run.status)"
            taskName="{{ getPrintableTaskName(task) }}"
            nodeName="{{ run.node.name }}"
            [status]="getTaskStatusTranslation(run.status)"
          >
            <button actions mat-raised-button (click)="openLog(run)">
              {{ "task-run.show-log" | translate }}
            </button>
            @if (run.node.status !== "online" && isActiveRun(run)) {
              <span actionText>{{ "task-run.alert-node-offline" | translate }}</span>
            }
          </app-status-info>
        }
      </div>
      @if (childTasks.length > 0) {
        <div>
          <h3>{{ "task-read.card-status.child-process-title" | translate }}</h3>
          @for (
            childTask of childTasks
              | orderBy: "id"
              | slice: (!showAllChildTasks && childTasks.length > 1 ? childTasks.length - 1 : 0) : childTasks.length;
            track childTask
          ) {
            <div [ngClass]="{ 'status-info-container': true, 'status-info-container--small': isSmallTileView() }">
              @for (run of $safeNavigationMigration(childTask?.runs) | orderByTaskStatus: "status" : "asc"; track run) {
                <app-status-info
                  [type]="getStatusType(run.status)"
                  taskName="{{ childTask.name }}"
                  nodeName="{{ run.node.name }}"
                  [status]="getTaskStatusTranslation(run.status)"
                >
                  <button actions mat-raised-button (click)="openLog(run)">
                    {{ "task-run.show-log" | translate }}
                  </button>
                  @if (run.node.status !== "online" && isActiveRun(run)) {
                    <span actionText>{{ "task-run.alert-node-offline" | translate }}</span>
                  }
                </app-status-info>
              }
            </div>
          }
          @if (childTasks.length > 1) {
            <button mat-raised-button class="status-info-container__load-more" (click)="showAllChildTasks = !showAllChildTasks">
              {{ (showAllChildTasks ? "general.show_less" : "general.show_more") | translate }}
            </button>
          }
        </div>
      }
      @if (canKill && isActiveTask()) {
        <mat-card-actions>
          <button mat-flat-button color="warn" (click)="handleTaskKill()">
            {{ "task-read.card-status.actions.kill" | translate }}
          </button>
        </mat-card-actions>
      }
    </mat-expansion-panel>
  </mat-card>
  @if (!isLoading && task.results && task.results.length > 0) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ "task-read.card-results.title" | translate }}</mat-card-title>
        @if (function && function.ui_visualizations.length > 0) {
          <mat-form-field class="select-visualization">
            <mat-label>{{ "task-read.card-results.actions.visualization" | translate }}</mat-label>
            <mat-select [formControl]="visualization">
              @for (visualization of function?.ui_visualizations; track visualization; let index = $index) {
                <mat-option [value]="index">
                  {{ visualization.name || ("general.visualization" | translate) + " " + index + 1 }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </mat-card-header>
      <mat-card-content>
        @for (result of task.results; track result) {
          <div>
            @if (result.decoded_result && task.arguments) {
              @if (function?.step_type !== algorithmStepType.CentralCompute) {
                <b>{{ getRunForResult(result.id)?.node?.name }}</b>
              }
              <app-visualize-result
                [result]="result.decoded_result"
                [visualization]="selectedVisualization"
                [result_id]="result.id.toString()"
              ></app-visualize-result>
              @if (function && function.ui_visualizations.length < 1) {
                <p>{{ displayTextResult(result.decoded_result) }}</p>
              }
              <br />
              <button mat-flat-button color="primary" (click)="downloadResult(result)">
                {{ "task-read.card-results.actions.download-json" | translate }}
              </button>
            } @else {
              @if (result.result) {
                @if (result.decoded_result) {
                  <div>
                    @if (result.decoded_result) {
                      <app-alert label="{{ 'task.alert-failed-read-arguments-visualization' | translate }}"> </app-alert>
                    }
                    <p>{{ displayTextResult(result.decoded_result) }}</p>
                  </div>
                }
                @if (result.blob_storage_used) {
                  <app-alert label="{{ 'task.alert-blob-read-result' | translate }}"> </app-alert>
                }
                @if (!result.blob_storage_used && !result.decoded_result) {
                  <app-alert label="{{ 'task.alert-failed-read-result' | translate }}"> </app-alert>
                }
                <br />
                <button mat-flat-button color="primary" (click)="downloadResult(result)">
                  {{ "task-read.card-results.actions.download-result" | translate }}
                </button>
              }
            }
          </div>
        }
      </mat-card-content>
    </mat-card>
  }
  @if (!isLoading) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ "task-read.card-general.title" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="data-list">
          <div class="data-list__item">
            <b>{{ "general.id" | translate }}</b>
            <span>{{ task.id || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task.name" | translate }}</b>
            <span>{{ task.name || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task.status" | translate }}</b>
            <app-chip [label]="getTaskStatusTranslation(task.status)" [type]="getChipTypeForStatus(task.status)" [small]="true"></app-chip>
          </div>
          <div class="data-list__item data-list__item--full">
            <b>{{ "task.description" | translate }}</b>
            <span>{{ task.description || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task.organization" | translate }}</b>
            <span>{{ task.init_org?.name || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task.user" | translate }}</b>
            <span>{{ task.init_user?.username || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task.created-at" | translate }}</b>
            <span>{{ printDate(task.created_at) }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task.session" | translate }}</b>
            <span>{{ session?.name ?? "-" }}</span>
          </div>
          @if (study) {
            <div class="data-list__item">
              <b>{{ "resources.study" | translate }}</b>
              <span>{{ study.name }}</span>
            </div>
          }
          @if (task.parent) {
            <div class="data-list__item">
              <b>{{ "task.parent" | translate }}</b>
              <app-chip
                [label]="task.parent.id.toString()"
                [small]="true"
                [clickable]="true"
                [routerLink]="[routes.task, task.parent.id]"
              ></app-chip>
            </div>
          }
          @if (childTasks.length > 0) {
            <div class="data-list__item">
              <b>{{ "task.children" | translate }}</b>
              <div class="chip-container">
                @for (childTask of childTasks; track childTask) {
                  <app-chip
                    [label]="childTask.id.toString()"
                    [small]="true"
                    [clickable]="true"
                    [routerLink]="[routes.task, childTask.id]"
                  ></app-chip>
                }
              </div>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  }
  @if (!isLoading) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ "task-read.card-algorithm.title" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="data-list">
          <div class="data-list__item">
            <b>{{ "task.algorithm" | translate }}</b>
            <span>{{ algorithm?.name || "-" }}</span>
          </div>
          @if (task.arguments) {
            <div class="data-list__item">
              <b>{{ "task.function" | translate }}</b>
              <span>{{ (function?.display_name ?? task.method) || "-" }}</span>
            </div>
          }
        </div>
        @if (task.arguments) {
          <h4 class="data-list__header">{{ "task.parameters" | translate }}</h4>
          <div class="data-list">
            @for (parameter of task?.arguments; track parameter) {
              <div class="data-list__item">
                <b>{{ getParameterDisplayName(parameter) }}</b>
                <span>{{ getParameterValueAsString(parameter) }}</span>
              </div>
            }
          </div>
        }
        @if (!task.runs[0]?.blob_storage_used && !task.arguments) {
          <app-alert label="{{ 'task.alert-failed-read-arguments-function' | translate }}"> </app-alert>
        }
        @if (task.runs[0]?.blob_storage_used) {
          <app-alert label="{{ 'task.alert-blob-read-arguments' | translate }}"> </app-alert>
        }
        <br />
        @if (!task.arguments && task.runs[0]?.arguments) {
          <button mat-flat-button color="primary" (click)="downloadArguments(task.runs[0])">
            {{ "task-read.card-results.actions.download-arguments" | translate }}
          </button>
        }
      </mat-card-content>
    </mat-card>
  }
  @if (!isLoading && task && task.runs.length > 0) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ "task-read.card-runs.title" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion class="card-accordion">
          @for (run of task.runs; track run) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ run.id }}</mat-panel-title>
                <mat-panel-description>
                  <app-chip
                    label="{{ getTaskStatusTranslation(run.status) }}"
                    [type]="getChipTypeForStatus(run.status)"
                    [small]="true"
                  ></app-chip>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="data-list">
                <div class="data-list__item">
                  <b>{{ "task-run.assigned-at" | translate }}</b>
                  <span>{{ printDate(run.assigned_at) }}</span>
                </div>
                <div class="data-list__item">
                  <b>{{ "task-run.started-at" | translate }}</b>
                  <span>{{ printDate(run.started_at) }}</span>
                </div>
                <div class="data-list__item">
                  <b>{{ "task-run.finished-at" | translate }}</b>
                  <span>{{ printDate(run.finished_at) }}</span>
                </div>
                <div class="data-list__item">
                  <b>{{ "task-run.node" | translate }}</b>
                  <span>{{ run.node.name }}</span>
                </div>
                <div class="data-list__item">
                  <b>{{ "task-run.blob-storage-used" | translate }}</b>
                  <span>{{ (run.blob_storage_used ? "general.yes" : "general.no") | translate }}</span>
                </div>
              </div>
              <div class="run__actions">
                <button actions mat-raised-button (click)="openLog(run)">
                  {{ "task-run.show-log" | translate }}
                </button>
              </div>
            </mat-expansion-panel>
          }
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
}
