$vtg-blue: #144175;//rgba(20, 65, 177, 1);
$vtg-blue-opac03: #B7C7D5; //rgba(20, 65, 177, 1);
$vtg-blue-opac06: #506195; //rgba(20, 65, 177, 1);
$white: white;
$white-opaque: rgba(1, 1, 1, 0.5);
$transparent: rgba(1, 1, 1, 0);
$vtg-orange: rgba(248, 174, 0, 1);
$red: #f44336;

$green: #096909;
