<app-page-header title="{{ 'resources.algorithms' | translate }}">
  @if (canAddAlgorithm) {
    <button actions mat-flat-button color="primary" [routerLink]="routes.algorithmCreate">
      <mat-icon>add</mat-icon>
      {{ "algorithm-create.short-title" | translate }}
    </button>
  }
</app-page-header>
@if (!isLoading) {
  <app-display-algorithms [algorithms]="algorithms" [routeOnClick]="routePaths.algorithmManage"> </app-display-algorithms>
  @if (algorithms.length === 0) {
    <mat-card>
      <mat-card-content>
        <p>{{ "algorithm-list.no-algorithms" | translate }}</p>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
