<form class="form role-form" [formGroup]="form" (ngSubmit)="handleSubmit()">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ "role-create.formlabels.name" | translate }}</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ "role-create.formlabels.description" | translate }}</mat-label>
    <input matInput type="text" formControlName="description" />
  </mat-form-field>
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>{{ "role-create.formlabels.organization" | translate }}</mat-label>
    <mat-select formControlName="organization_id">
      <mat-option *ngFor="let organization of organizations | orderBy: 'name'" [value]="organization.id">
        {{ organization.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-permissions-matrix
    class="role-form__permissions-matrix"
    [selectable]="selectableRules"
    (changed)="handleChangedSelection($event)"
  ></app-permissions-matrix>
  <app-role-submit-buttons [submitDisabled]="submitDisabled" (cancelled)="handleCancel()"></app-role-submit-buttons>
</form>
