<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "algorithm-read.card-details.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-list">
      <div class="data-list__item">
        <b>{{ "general.id" | translate }}</b>
        <span>{{ algorithm?.id || "-" }}</span>
      </div>
      <div class="data-list__item">
        <b>{{ "general.name" | translate }}</b>
        <span>{{ algorithm?.name || "-" }}</span>
      </div>
      <div class="data-list__item">
        <b>{{ "algorithm.partitioning" | translate }}</b>
        <span>{{ algorithm?.partitioning || "-" }}</span>
      </div>
      <div class="data-list__item data-list__item--big">
        <b>{{ "algorithm.description" | translate }}</b>
        <span>{{ algorithm?.description || "-" }}</span>
      </div>
      <div class="data-list__item">
        <b>{{ "algorithm.v6version" | translate }}</b>
        <span>{{ algorithm?.vantage6_version }}</span>
      </div>
      <div class="data-list__item data-list__item--big">
        <b>{{ "algorithm.image" | translate }}</b>
        <span>{{ algorithm?.image || "-" }}</span>
      </div>
      <div class="data-list__item data-list__item--big">
        <b>{{ "algorithm.code-url" | translate }}</b>
        <div *ngIf="algorithm && algorithm.code_url">
          <a [href]="algorithm.code_url">{{ algorithm.code_url }}</a>
        </div>
        <div *ngIf="!algorithm || !algorithm.code_url">
          <span>-</span>
        </div>
      </div>
      <div class="data-list__item data-list__item--big">
        <b>{{ "algorithm.documentation-url" | translate }}</b>
        <div *ngIf="algorithm && algorithm.documentation_url">
          <a [href]="algorithm.documentation_url">{{ algorithm.documentation_url }}</a>
        </div>
        <div *ngIf="!algorithm || !algorithm.documentation_url">
          <span>-</span>
        </div>
      </div>
      <div class="data-list__item">
        <b>{{ "algorithm.submitted-at" | translate }}</b>
        <span>{{ printDate(algorithm?.submitted_at) }}</span>
      </div>
      <div *ngIf="algorithm?.approved_at" class="data-list__item">
        <b>{{ "algorithm.approved-at" | translate }}</b>
        <span>{{ printDate(algorithm?.approved_at) }}</span>
      </div>
      <div *ngIf="algorithm?.invalidated_at" class="data-list__item">
        <b>{{ "algorithm.invalidated-at" | translate }}</b>
        <span>{{ printDate(algorithm?.invalidated_at) }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "algorithm-read.card-functions.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion *ngIf="algorithm && algorithm.functions.length > 0; else noFunctions" class="card-accordion">
      <mat-expansion-panel *ngFor="let function of algorithm.functions" (opened)="selectFunction(function.id)">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ function.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-spinner *ngIf="!selectedFunction" diameter="48"></mat-spinner>
          <ng-container *ngIf="selectedFunction">
            <div class="data-list">
              <div class="data-list__item">
                <b>{{ "general.name" | translate }}</b>
                <span>{{ selectedFunction.name || "-" }}</span>
              </div>
              <div class="data-list__item">
                <b>{{ "algorithm.function.type" | translate }}</b>
                <span>{{ selectedFunction.type || "-" }}</span>
              </div>
              <div class="data-list__item data-list__item--big">
                <b>{{ "general.description" | translate }}</b>
                <span>{{ selectedFunction.description || "-" }}</span>
              </div>
              <!-- Separate accordeon for arguments -->
              <div class="data-list__item data-list__item--full">
                <h4>{{ "algorithm.function.argument.title" | translate }}</h4>
                <mat-accordion *ngIf="function.arguments.length > 0; else noArguments" class="card-accordion sub-accordeon" [multi]="true">
                  <mat-expansion-panel *ngFor="let argument of function.arguments">
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{ argument.name }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="data-list">
                        <div class="data-list__item">
                          <b>{{ "general.name" | translate }}</b>
                          <span>{{ argument.name || "-" }}</span>
                        </div>
                        <div class="data-list__item">
                          <b>{{ "algorithm.function.argument.type" | translate }}</b>
                          <span>{{ argument.type || "-" }}</span>
                        </div>
                        <div class="data-list__item data-list__item--big">
                          <b>{{ "general.description" | translate }}</b>
                          <span>{{ argument.description || "-" }}</span>
                        </div>
                      </div>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <!-- Separate accordeon for databases -->
              <div class="data-list__item data-list__item--full">
                <h4>{{ "algorithm.function.databases" | translate }}</h4>
                <mat-accordion *ngIf="function.databases.length > 0; else noDatabases" class="card-accordion sub-accordeon" [multi]="true">
                  <mat-expansion-panel *ngFor="let db of function.databases">
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{ db.name }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="data-list">
                        <div class="data-list__item">
                          <b>{{ "general.name" | translate }}</b>
                          <span>{{ db.name || "-" }}</span>
                        </div>
                        <div class="data-list__item data-list__item--big">
                          <b>{{ "general.description" | translate }}</b>
                          <span>{{ db.description || "-" }}</span>
                        </div>
                      </div>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <!-- Separate accordeon for visualizations -->
              <div class="data-list__item data-list__item--full">
                <h4>{{ "algorithm.function.visualization.title" | translate }}</h4>
                <mat-accordion
                  *ngIf="function.ui_visualizations.length > 0; else noVisualizations"
                  class="card-accordion sub-accordeon"
                  [multi]="true"
                >
                  <mat-expansion-panel *ngFor="let vis of function.ui_visualizations">
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{ vis.name }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="data-list">
                        <div class="data-list__item">
                          <b>{{ "general.name" | translate }}</b>
                          <span>{{ vis.name || "-" }}</span>
                        </div>
                        <div class="data-list__item">
                          <b>{{ "algorithm.function.visualization.type" | translate }}</b>
                          <span>{{ vis.type || "-" }}</span>
                        </div>
                        <div class="data-list__item data-list__item--big">
                          <b>{{ "general.description" | translate }}</b>
                          <span>{{ vis.description || "-" }}</span>
                        </div>
                        <!-- TODO build system for more clearly indicating in UI what these properties mean -->
                        <div class="data-list__item data-list__item--big">
                          <b>{{ "algorithm.function.visualization.details" | translate }}</b>
                          <span>{{ getVisualizationSchemaAsText(vis) }}</span>
                        </div>
                      </div>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "algorithm-read.card-download-json.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ "algorithm-read.card-download-json.description" | translate }}</p>
    <button mat-raised-button color="primary" (click)="downloadAlgorithmJson()">
      <mat-icon>file_download</mat-icon>
      <span>{{ "algorithm-read.card-download-json.download-button" | translate }}</span>
    </button>
  </mat-card-content>
</mat-card>
<ng-template #noFunctions>
  <p>{{ "algorithm-read.card-functions.no-functions" | translate }}</p>
</ng-template>
<ng-template #noArguments>
  <p>{{ "algorithm-read.card-functions.no-parameters" | translate }}</p>
</ng-template>
<ng-template #noDatabases>
  <p>{{ "algorithm-read.card-functions.no-databases" | translate }}</p>
</ng-template>
<ng-template #noVisualizations>
  <p>{{ "algorithm-read.card-functions.no-visualizations" | translate }}</p>
</ng-template>
