.button-container {
  display: flex;
  gap: $spacing-px-2;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-px-2;
}

.page-header__more {
  //Has to be outside component style, because it's used as slotted content
  margin: -6px -6px -12px 0;
}
