<app-page-header title="{{ 'algorithm-assign-review.title' | translate }}"> </app-page-header>
<ng-container *ngIf="!isLoading; else loading">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-assign-review.description" | translate: { name: algorithm?.name || "" } }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm-assign-review.reviewers" | translate }}</mat-label>
          <mat-select multiple formControlName="reviewers">
            <mat-option *ngFor="let reviewer of reviewers" [value]="reviewer">
              {{ reviewer.username }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-container">
          <button mat-flat-button type="submit" color="primary">{{ "general.submit" | translate }}</button>
          <button mat-flat-button (click)="handleCancel()">{{ "general.cancel" | translate }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner diameter="48"></mat-spinner>
</ng-template>
