<app-page-header title="{{ 'role-list.title' | translate }}">
  <button actions mat-flat-button color="primary" *ngIf="canCreate" [routerLink]="routes.roleCreate">
    <mat-icon>add</mat-icon>{{ "role-create.title" | translate }}
  </button>
</app-page-header>
<mat-card>
  <mat-card-content>
    <app-table
      [data]="table"
      (rowClick)="handleTableClick($event)"
      (searchChanged)="handleSearchChanged($event)"
      [isLoading]="isLoading"
    ></app-table>
    <mat-paginator (page)="handlePageEvent($event)" [length]="pagination?.total" pageSize="10" [hidePageSize]="true"></mat-paginator>
  </mat-card-content>
</mat-card>
