<!-- <div class="modal-header">
    Create a new user
</div>
<div class="modal-body"> -->
<div class="row justify-content-md-center">
  <div class="col-md">
    <mat-card>
      <div class="form-area">
          <div class="form-row">
              <span class="form-label">Username:</span>
              <input type="text" [(ngModel)]="username"/>
          </div>
          <div class="form-row">
              <span class="form-label">Password:</span>
              <input type="password" [(ngModel)]="password"/>
          </div>
          <div class="form-row">
              <span class="form-label">Repeat password:</span>
              <input type="password" [(ngModel)]="password_repeated"/>
          </div>
          <div class="form-row">
              <span class="form-label">First name:</span>
              <input type="text" [(ngModel)]="first_name"/>
          </div>
          <div class="form-row">
              <span class="form-label">Last name:</span>
              <input type="text" [(ngModel)]="last_name"/>
          </div>
          <div class="form-row">
            <span class="form-label">Email:</span>
            <input type="text" [(ngModel)]="email"/>
        </div>
        <!-- TODO
            Add role dropdown
            Add rule dropdown
            Add organization dropdown (only if root, otherwise just put immutable text)
         -->
      </div>
      {{ password }}
    </mat-card>
  </div>
</div>
<!-- </div>
<div class="modal-footer">
    <button type="button" class="btn" (click)="closeModal()">Close</button>
</div> -->