<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography confirm-dialog-content">{{ data.content }}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>{{ data.cancelButtonText || "general.cancel" | translate }}</button>
  <button mat-flat-button mat-dialog-close color="{{ data.confirmButtonType || 'primary' }}" [mat-dialog-close]="true">
    {{ data.confirmButtonText || "general.confirm" | translate }}
  </button>
</mat-dialog-actions>
