<mat-toolbar class="">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <img class="logo" src="../assets/images/vantage6_logo.png" />

  <span class="spacer"></span>

  <button mat-button class="profile btn-default" [routerLink]="['/profile']">
    <mat-icon class="profile-icon">person</mat-icon>
    <span>{{loggedin_user.username}}</span>
  </button>
  <button class="btn-primary" mat-button (click)="logout()">
    Logout
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav="matSidenav" class="">

    <!-- Link to home page -->
  <button mat-button class="menu-button" routerLink="/home" routerLinkActive="menu-is-active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <div *ngIf="userPermission.hasPermission('view', 'organization', '*')">
    <button mat-button class="menu-button"
            [routerLink]="['/organization', loggedin_user.organization_id]"
            routerLinkActive="menu-is-active">
      <mat-icon>location_city</mat-icon>
      <span>Organization</span>
    </button>
  </div>

  <!-- Link to organization page -->
  <div *ngIf="userPermission.hasPermission('view', 'collaboration', 'global'); else orgCollabLink">
    <button mat-button class="menu-button"
            [routerLink]="['/collaborations']"
            routerLinkActive="menu-is-active">
      <mat-icon>train</mat-icon>
      <span>Collaborations</span>
    </button>
  </div>
  <ng-template #orgCollabLink>
    <div *ngIf="userPermission.hasPermission('view', 'collaboration', 'organization')">
      <button mat-button class="menu-button"
            [routerLink]="['/collaborations', loggedin_user.organization_id]"
            routerLinkActive="menu-is-active">
        <mat-icon>train</mat-icon>
        <span>Collaborations</span>
      </button>
    </div>
  </ng-template>

  <!-- Link to role page -->
  <div *ngIf="userPermission.hasPermission('view', 'role', 'global'); else orgRoleLink">
    <button mat-button class="menu-button"
            [routerLink]="['/roles']"
            routerLinkActive="menu-is-active">
      <mat-icon>roller_skating</mat-icon>
      <span>Roles</span>
    </button>
  </div>
  <ng-template #orgRoleLink>
    <div *ngIf="userPermission.hasPermission('view', 'role', 'organization')">
      <button mat-button class="menu-button"
            [routerLink]="['/roles', loggedin_user.organization_id]"
            routerLinkActive="menu-is-active">
        <mat-icon>roller_skating</mat-icon>
        <span>Roles</span>
      </button>
    </div>
  </ng-template>

  <!-- Link to user page -->
  <div *ngIf="userPermission.hasPermission('view', 'user', 'global'); else orgUserLink">
    <button mat-button class="menu-button"
            [routerLink]="['/users']"
            routerLinkActive="menu-is-active">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </button>
  </div>
  <ng-template #orgUserLink>
    <div *ngIf="userPermission.hasPermission('view', 'user', 'organization')">
      <button mat-button class="menu-button"
            [routerLink]="['/users', loggedin_user.organization_id]"
            routerLinkActive="menu-is-active">
          <mat-icon>people</mat-icon>
          <span>Users</span>
      </button>
    </div>
  </ng-template>

  <!-- Link to node page -->
  <div *ngIf="userPermission.hasPermission('view', 'node', 'global'); else orgNodeLink">
    <button mat-button class="menu-button"
            [routerLink]="['/nodes']"
            routerLinkActive="menu-is-active">
      <mat-icon>data_object</mat-icon>
      <span>Nodes</span>
    </button>
  </div>
  <ng-template #orgNodeLink>
    <div *ngIf="userPermission.hasPermission('view', 'node', 'organization')">
      <button mat-button class="menu-button"
            [routerLink]="['/nodes/org', loggedin_user.organization_id]"
            routerLinkActive="menu-is-active">
          <mat-icon>data_object</mat-icon>
          <span>Nodes</span>
      </button>
    </div>
  </ng-template>

  <!-- Link to task page -->
  <div *ngIf="userPermission.hasPermission('view', 'task', 'global'); else orgTaskLink">
    <button mat-button class="menu-button"
            [routerLink]="['/tasks']"
            routerLinkActive="menu-is-active">
      <mat-icon>science</mat-icon>
      <span>Tasks</span>
    </button>
  </div>
  <ng-template #orgTaskLink>
    <div *ngIf="userPermission.hasPermission('view', 'task', 'organization')">
      <button mat-button class="menu-button"
            [routerLink]="['/tasks/org', loggedin_user.organization_id]"
            routerLinkActive="menu-is-active">
          <mat-icon>science</mat-icon>
          <span>Tasks</span>
      </button>
    </div>
  </ng-template>

  <mat-divider></mat-divider>

  <div *ngIf="userPermission.hasPermission('view', 'event', '*')">
    <button mat-button class="menu-button"
            [routerLink]="['/status-messages']"
            routerLinkActive="menu-is-active">
      <mat-icon>message</mat-icon>
      <span>Status updates</span>
    </button>
  </div>

  <!-- TODO add help pages -->
  <!--
  <button mat-button class="menu-button">
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button> -->

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content ">
      <div class="container-fluid">
        <div class="vertical-spacer"></div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>