@use 'src/app/shared/scss/variables' as v;

$toolbar_height: 80px;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  background: v.$white;
  color: v.$vtg-blue;
  height: $toolbar_height;

  .logo {
    height: $toolbar_height * 0.8;
    margin-left: 16px;
    margin-top: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav {
  margin: 16px;
  margin-top: 6px;
  width: 200px;
  border-right: none;
  background: v.$vtg-blue;
  color: v.$white;
  border-radius: 0 10px 0 0;
  padding: 16px;
  text-align: center;
  bottom: auto;
}

.content {
  height: calc(100% - 6px);
  background-color: v.$vtg-blue-opac03;
  border-radius: 10px 0 0 10px;
  margin: 6px 6px 0 6px;
  margin-left: 32px;
  overflow-y: auto;
}

mat-sidenav-container {
  flex-grow: 1;
  background-color: v.$white;
  padding-bottom: 16px;
}

.btn-primary {
  background-color: v.$vtg-blue;
  color: v.$white;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-is-active {
  background-color: v.$white-opaque;
}

.vertical-spacer {
  height: 16px;
}

.profile {
  margin-right: 16px;
  border-color: v.$vtg-blue;
  border-width: thin;
  border-style: solid;
}

.profile-icon {
  margin-right: 10px;
}