@use 'src/app/shared/scss/variables' as v;

$toolbar_height: 70px;

mat-toolbar {
  background: v.$white;
  color: v.$vtg-blue;
  height: $toolbar_height;

  .logo {
    height: $toolbar_height * 0.9;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav {
  margin: 16px;
  margin-top: 6px;
  width: 200px;
  border-right: none;
  background: v.$vtg-blue;
  color: v.$white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 88px);
  border-radius: 10px;
  margin: 6px;
  margin-left: 32px;

  // display: flex;
  background-color: v.$vtg-blue-opac03;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: v.$white;
}

.btn-primary {
  background-color: v.$vtg-blue;
  color: v.$white;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-is-active {
  background-color: v.$white-opaque;
}

.vertical-spacer {
  height: 25px;
}
