@import "../../styles/config.scss";

.login-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.attribution-text {
  position: absolute;
  bottom: $spacing-px-2;
  left: $spacing-px-2;
  font-size: 0.75rem;
  color: $light-primary-text;
}
