<form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
>
  <div class="form-group">
    <label for="username">Two-factor authentication code</label>
    <input
      type="text"
      class="form-control"
      name="mfa_code"
      [(ngModel)]="form.mfa_code"
      required
      #mfa_code="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="mfa_code.errors && f.submitted"
    >
      Two-factor code is required!
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">
      Login
    </button>
  </div>
  <div class="form-group">
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="f.submitted && isLoginFailed"
    >
      Login failed: {{ errorMessage }}
    </div>
  </div>
</form>