<table style="width: 100%">
  <colgroup>
    <col span="1" style="width: 20%;"/>
    <col span="1" style="width: 80%;"/>
  </colgroup>
  <tr>
    <td>Name:</td>
    <td>{{node.name}}</td>
  </tr>
  <tr>
    <td>Status:</td>
    <td>{{getStatus()}}</td>
  </tr>
  <tr>
    <td>Last node-server contact:</td>
    <td *ngIf="node.last_seen !== null">{{node.last_seen | date: "MMMM d, y, HH:mm:ss"}}</td>
    <td *ngIf="node.last_seen === null">Never - this node has not yet been online!</td>
  </tr>
  <tr *ngIf="node.ip !== null">
    <td>VPN IP address:</td>
    <td>{{node.ip}}</td>
  </tr>
  <tr *ngIf="node.organization">
    <td>Organization:</td>
    <td>
      <button mat-button class="btn btn-link"
          [routerLink]="['/organization', node.organization.id]">
        {{node.organization.name}}
      </button>
    </td>
  </tr>
  <tr *ngIf="node.collaboration">
    <td>Collaboration:</td>
    <td>
      <button mat-button class="btn btn-link"
          [routerLink]="['/collaboration', node.collaboration.id, node.organization_id]">
        {{node.collaboration.name}}
      </button>
    </td>
  </tr>
</table>
<button *ngIf="userPermission.can('edit', 'node', node.organization_id)"
    mat-button class="btn btn-edit inline"
    (click)="editNodeName()">
  Change node name
</button>
<br/>
<div *ngIf="userPermission.can('edit', 'node', node.organization_id)"
      style="margin-top: 15px;">
  <h4>API key</h4>
  <p>
    Have you lost your API key? Please generate a new API key and paste it into
    your node configuration file.
  </p>
  <button mat-button class="btn btn-edit" (click)="generateApiKey()">
    Generate new API key
  </button>
</div>