flasgger==0.9.5
flask==3.1.0
Flask-Cors==5.0.1
Flask-Principal==0.4.0
flask-marshmallow==0.15.0
Flask-RESTful==0.3.10
gevent==25.4.2
jsonschema==4.21.1
marshmallow==3.19.0
requests==2.32.3
schema==0.7.5
SQLAlchemy==1.4.46
werkzeug==3.1.3
