flask==3.1.0
flask-cors==6.0.0
Flask-Principal==0.4.0
flask-marshmallow==0.15.0
Flask-RESTful==0.3.10
gevent==25.4.2
jsonschema==4.21.1
marshmallow==3.19.0
requests==2.32.3
schema==0.7.5
SQLAlchemy==1.4.46
werkzeug==3.1.3
