flasgger==0.9.5
flask==2.2.5
Flask-Cors==3.0.10
Flask-Principal==0.4.0
flask-marshmallow==0.15.0
Flask-RESTful==0.3.10
gevent==23.9.1
jsonschema==4.21.1
marshmallow==3.19.0
requests==2.31.0
schema==0.7.5
SQLAlchemy==1.4.46
werkzeug==3.0.1
