$vtg-blue: rgba(6, 86, 177, 1);
$vtg-blue-opaque: rgba(6, 86, 177, 0.3);
$white: white;
$white-opaque: rgba(1, 1, 1, 0.5);

$toolbar_height: 70px;

mat-toolbar {
  background: $white;
  color: $vtg-blue;
  height: $toolbar_height;

  .logo {
    height: $toolbar_height * 0.9;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav {
  margin: 16px;
  margin-top: 6px;
  width: 200px;
  border-right: none;
  background: $vtg-blue;
  color: $white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 88px);
  border-radius: 10px;
  margin: 6px;
  margin-left: 32px;

  // display: flex;
  background-color: $vtg-blue-opaque;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: $white;
}

.btn-primary {
  background-color: $vtg-blue;
  color: $white;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-is-active {
  background-color: $white-opaque;
}
