@import "../../styles/config.scss";

.tile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-px-4;

  @media only screen and (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }

  button {
    font-size: 1.5rem;
    padding: $spacing-px-16 0;
  }
}

mat-spinner {
  margin: auto;
}
