<app-page-header title="Choose a collaboration"></app-page-header>
<ng-container *ngIf="!isLoading; else loading">
  <div class="tile-grid">
    <button mat-raised-button *ngFor="let collaboration of collaborations" (click)="handleCollaborationClick(collaboration)">
      {{ collaboration.name }}
    </button>
  </div>
  <mat-card *ngIf="collaborations.length === 0">
    <mat-card-content>
      <p>{{ "start.no-collaborations" | translate }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner diameter="48"></mat-spinner>
</ng-template>
