<app-page-header title="{{ 'resources.algorithms' | translate }}"></app-page-header>
<ng-container *ngIf="!isLoading; else loading">
  <app-display-algorithms [algorithms]="algorithms" [routeOnClick]="routePaths.algorithmManage"></app-display-algorithms>
  <mat-card *ngIf="algorithms.length === 0">
    <mat-card-content>
      <p>{{ "algorithm-list.no-algorithms" | translate }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner diameter="48"></mat-spinner>
</ng-template>
