@if (showData) {
  <app-page-header [title]="role ? role.name : ''"> </app-page-header>
  <mat-card>
    <mat-card-content>
      <div class="data-list">
        <div class="data-list__item data-list__item--big">
          <b>{{ "general.description" | translate }}</b>
          <span>{{ role?.description }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "role-read.default-role" | translate }}</b>
          <span>{{ getDefaultRoleLabel() }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="{{ 'role-read.tab.permissions' | translate }}">
          <div class="role-read__tab-content">
            <div class="role-read__buttons">
              @if (editEnabled && !isEditing) {
                <button mat-flat-button (click)="handleEnterEditMode()">
                  <mat-icon>edit</mat-icon>
                  <span>{{ "role-read.edit-permissions" | translate }}</span>
                </button>
              }
              @if (deleteEnabled) {
                <button mat-flat-button color="warn" (click)="handleDeleteRole()">
                  <mat-icon>delete</mat-icon>
                  <span>{{ "general.delete" | translate }}</span>
                </button>
              }
            </div>
            <app-permissions-matrix-store
              [fixedSelectedPrimary]="fixedSelectedRules"
              [preselected]="preselectedRules"
              [selectable]="selectableRules"
              (changed)="handleChangedSelection($event)"
            >
            </app-permissions-matrix-store>
            @if (isEditing) {
              <app-role-submit-buttons
                (submitted)="handleSubmitEdit()"
                (cancelled)="handleCancelEdit()"
                class="role-read__submit-buttons"
              ></app-role-submit-buttons>
            }
          </div>
        </mat-tab>
        <mat-tab label="{{ 'role-read.tab.users' | translate }}">
          <div class="role-read__tab-content">
            @if (showUserTable) {
              <app-table [data]="userTable"></app-table>
            }
            @if (!showUserTable) {
              <p>{{ "role-read.no-users" | translate }}</p>
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
}
@if (isLoading) {
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
}
