<app-page-header title="Task">
  <button actions mat-icon-button class="page-header__more" [matMenuTriggerFor]="menu" *ngIf="task && (canDelete || canCreate)">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="canDelete" (click)="handleDelete()">
      <mat-icon>delete</mat-icon>
      <span>{{ "general.delete" | translate }}</span>
    </button>
    <button mat-menu-item *ngIf="canCreate" (click)="handleRepeat()">
      <mat-icon>repeat</mat-icon>
      <span>{{ "task-read.repeat" | translate }}</span>
    </button>
  </mat-menu>
</app-page-header>
<ng-container *ngIf="!isLoading && task; else loading">
  <mat-card *ngIf="isTaskInProgress()">
    <mat-card-header>
      <mat-card-title>{{ "task-read.card-status.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="status-info-container">
        <app-status-info
          *ngFor="let run of task?.runs"
          [type]="getStatusInfoTypeForStatus(run.status)"
          title="{{ run.node.name }}"
          [subTitle]="getTaskStatusTranslation(run.status)"
        >
          <button actions mat-raised-button *ngIf="run.log && isFailedRun(run.status)" (click)="openLog(run.log)">
            {{ "task-run.show-log" | translate }}
          </button>
          <span actionText *ngIf="run.node.status !== 'online' && isActiveRun(run.status)">{{
            "task-run.alert-node-offline" | translate
          }}</span>
        </app-status-info>
      </div>
    </mat-card-content>
    <div *ngIf="childTasks.length > 0">
      <mat-card-header>
        <mat-card-title>{{ "task-read.card-status.child-title" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="status-info-container" *ngFor="let childTask of childTasks">
          <app-status-info
            *ngFor="let run of childTask?.runs"
            [type]="getStatusInfoTypeForStatus(run.status)"
            title="{{ run.node.name }}"
            [subTitle]="getTaskStatusTranslation(run.status)"
          >
            <button actions mat-raised-button *ngIf="run.log && isFailedRun(run.status)" (click)="openLog(run.log)">
              {{ "task-run.show-log" | translate }}
            </button>
            <span actionText *ngIf="run.node.status !== 'online' && isActiveRun(run.status)">{{
              "task-run.alert-node-offline" | translate
            }}</span>
          </app-status-info>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card *ngIf="!isLoading && task.results && task.results.length > 0">
    <mat-card-header>
      <mat-card-title>{{ "task-read.card-results.title" | translate }}</mat-card-title>
      <mat-form-field class="select-visualization">
        <mat-label>{{ "task-read.card-results.actions.visualization" | translate }}</mat-label>
        <mat-select [formControl]="visualization">
          <mat-option *ngFor="let output of function?.output; index as index" [value]="index">
            {{ output.title || ("general.visualization" | translate) + " " + index + 1 }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let result of task.results">
        <ng-container *ngIf="result.result">
          <b>{{ getRunForResult(result.id)?.node?.name }}</b>
          <app-visualize-result [result]="result.result" [functionOutput]="selectedOutput"></app-visualize-result>
          <!-- TODO only display text result if there are no visualizations -->
          <p>{{ displayTextResult(result.decoded_result) }}</p>
          <button mat-flat-button color="primary" (click)="downloadResult(result)">
            {{ "task-read.card-results.actions.download" | translate }}
          </button>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>{{ "task-read.card-general.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-list">
        <div class="data-list__item">
          <b>{{ "general.id" | translate }}</b>
          <span>{{ task.id || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.name" | translate }}</b>
          <span>{{ task.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.status" | translate }}</b>
          <app-chip [label]="getTaskStatusTranslation(task.status)" [type]="getChipTypeForStatus(task.status)" [small]="true"></app-chip>
        </div>
        <div class="data-list__item data-list__item--full">
          <b>{{ "task.description" | translate }}</b>
          <span>{{ task.description || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.organization" | translate }}</b>
          <span>{{ task.init_org?.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.user" | translate }}</b>
          <span>{{ task.init_user?.username || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.created-at" | translate }}</b>
          <span>{{ (task.created_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
        </div>
        <div class="data-list__item" *ngIf="task.parent">
          <b>{{ "task.parent" | translate }}</b>
          <app-chip
            [label]="task.parent.id.toString()"
            [small]="true"
            [clickable]="true"
            [routerLink]="[routes.task, task.parent.id]"
          ></app-chip>
        </div>
        <div class="data-list__item" *ngIf="childTasks.length > 0">
          <b>{{ "task.children" | translate }}</b>
          <div class="chip-container">
            <app-chip
              *ngFor="let childTask of childTasks"
              [label]="childTask.id.toString()"
              [small]="true"
              [clickable]="true"
              [routerLink]="[routes.task, childTask.id]"
            ></app-chip>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>{{ "task-read.card-algorithm.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-list">
        <div class="data-list__item">
          <b>{{ "task.algorithm" | translate }}</b>
          <span>{{ algorithm?.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.function" | translate }}</b>
          <span>{{ task.input?.method || "-" }}</span>
        </div>
      </div>
      <ng-container *ngIf="task.input?.parameters">
        <h4 class="data-list__header">{{ "task.parameters" | translate }}</h4>
        <div class="data-list">
          <div class="data-list__item" *ngFor="let parameter of task?.input?.parameters">
            <b>{{ parameter.label }}</b>
            <span>{{ parameter.value }}</span>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!isLoading && task && task.runs.length > 0">
    <mat-card-header>
      <mat-card-title>{{ "task-read.card-runs.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion class="card-accordion">
        <mat-expansion-panel *ngFor="let run of task.runs">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ run.id }}</mat-panel-title>
            <mat-panel-description>
              <app-chip
                label="{{ getTaskStatusTranslation(run.status) }}"
                [type]="getChipTypeForStatus(run.status)"
                [small]="true"
              ></app-chip>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="data-list">
            <div class="data-list__item">
              <b>{{ "task-run.assigned-at" | translate }}</b>
              <span>{{ (run.assigned_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
            </div>
            <div class="data-list__item">
              <b>{{ "task-run.started-at" | translate }}</b>
              <span>{{ (run.started_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
            </div>
            <div class="data-list__item">
              <b>{{ "task-run.finished-at" | translate }}</b>
              <span>{{ (run.finished_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
            </div>
            <div class="data-list__item">
              <b>{{ "task-run.node" | translate }}</b>
              <span>{{ run.node.name }}</span>
            </div>
          </div>
          <div class="run__actions">
            <button mat-flat-button color="warn" *ngIf="run.log && isFailedRun(run.status)" (click)="openLog(run.log)">
              {{ "task-run.show-log" | translate }}
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
