<app-page-header title="Task">
  <button actions mat-flat-button color="primary" [routerLink]="routes.tasks">
    <mat-icon>arrow_back</mat-icon>{{ "task-list.title" | translate }}
  </button>
</app-page-header>
<mat-card *ngIf="!isLoading && task && task.runs.length > 0">
  <mat-card-header>
    <mat-card-title>Status</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="status-info-container">
      <app-status-info
        *ngFor="let run of task.runs"
        [type]="getStatusInfoTypeForStatus(run.status)"
        title="{{ run.node.name }}"
        [subTitle]="getTaskStatusTranslation(run.status)"
      >
        <button actions mat-raised-button *ngIf="run.log && !isActiveRun(run.status)">Show logs</button>
        <span actionText *ngIf="run.node.status !== 'online' && isActiveRun(run.status)">Task can't start, node is offline.</span>
      </app-status-info>
    </div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!isLoading">
  <mat-card-header>
    <mat-card-title>{{ "task-read.card-general.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container>
      <div class="data-list">
        <div class="data-list__item">
          <b>{{ "task.id" | translate }}</b>
          <span>{{ this.task?.id || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.name" | translate }}</b>
          <span>{{ this.task?.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.status" | translate }}</b>
          <app-chip *ngIf="this.task" [label]="getTaskStatusTranslation(task.status)" [type]="getChipTypeForStatus(task.status)"></app-chip>
        </div>
        <div class="data-list__item data-list__item--full">
          <b>{{ "task.description" | translate }}</b>
          <span>{{ this.task?.description || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.organization" | translate }}</b>
          <span>{{ this.task?.init_org?.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "task.user" | translate }}</b>
          <span>{{ this.task?.init_user?.username || "-" }}</span>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!isLoading">
  <mat-card-header>
    <mat-card-title>{{ "task-read.card-algorithm.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-list">
      <div class="data-list__item">
        <b>{{ "task.algorithm" | translate }}</b>
        <span>{{ this.algorithm?.name || "-" }}</span>
      </div>
      <div class="data-list__item">
        <b>{{ "task.function" | translate }}</b>
        <span>{{ this.task?.input?.method || "-" }}</span>
      </div>
    </div>
    <ng-container *ngIf="this.task?.input?.parameters">
      <h4 class="data-list__header">{{ "task.parameters" | translate }}</h4>
      <div class="data-list">
        <div class="data-list__item" *ngFor="let parameter of task?.input?.parameters">
          <b>{{ parameter.label }}</b>
          <span>{{ parameter.value }}</span>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!isLoading && task && task.runs.length > 0">
  <mat-card-header>
    <mat-card-title>{{ "task-read.card-runs.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="card-accordion">
      <mat-expansion-panel *ngFor="let run of task.runs">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ run.id }}</mat-panel-title>
          <mat-panel-description>
            <app-chip
              *ngIf="this.task"
              label="{{ getTaskStatusTranslation(run.status) }}"
              [type]="getChipTypeForStatus(run.status)"
              [small]="true"
            ></app-chip>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="data-list">
          <div class="data-list__item">
            <b>{{ "task-run.assigned-at" | translate }}</b>
            <span>{{ (run.assigned_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task-run.started-at" | translate }}</b>
            <span>{{ (run.started_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task-run.finished-at" | translate }}</b>
            <span>{{ (run.finished_at | date: "MMMM d, y, HH:mm:ss") || "-" }}</span>
          </div>
          <div class="data-list__item">
            <b>{{ "task-run.node" | translate }}</b>
            <span>{{ run.node.name }}</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="isLoading">
  <mat-card-content>
    <mat-spinner diameter="48"></mat-spinner>
  </mat-card-content>
</mat-card>
