<div *ngIf="userPermission.hasPermission('view', 'organization', 'global') || userPermission.hasPermission('view', 'organization', 'collaboration')">
  <mat-card>
    Select organization to view:
    <div class="inline">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>{{current_organization.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
          <div *ngFor="let org of organizations">
            <button ngbDropdownItem
                    [routerLink]="['/organization', org.id]">
              {{org.name}}
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="userPermission.hasPermission('create', 'organization', 'global')" class="inline">
        <button mat-button class="btn btn-dflt btn-right" id="new_org_button"
                [routerLink]="['/organization', 'create']">
          <mat-icon>add_circle</mat-icon>
          <span>New organization</span>
        </button>
      </div>
    </div>
  </mat-card>
</div>
<div *ngIf="current_organization.id!==-1">
  <div class="row justify-content-md-center">
    <div class="col-lg">
      <mat-card>
        <h3>{{current_organization.name}}</h3>
        <address>
          {{current_organization.address1}}<br/>
          {{current_organization.address2}}<br/>
          {{current_organization.country}}<br/>
          {{current_organization.domain}}
        </address>
        <button mat-button class="btn btn-dflt btn-in-block" (click)="showPublicKey()">
          View public key
        </button>
        <button *ngIf="userPermission.can('edit', 'organization', current_organization.id)"
                mat-button class="btn-edit"
                (click)="editOrganization(current_organization)"
                [routerLink]="['/organization', current_organization.id, 'edit']">
          Edit
        </button>
      </mat-card>

      <mat-card>
        <h4>Roles</h4>
        <div *ngIf="userPermission.can('create', 'role', current_organization.id)" class="inline">
          <button mat-button class="btn btn-dflt btn-right"
                  (click)="createRole()"
                  [routerLink]="['/role', 'create']">
            <mat-icon>add_circle</mat-icon>
            <span>New role</span>
          </button>
        </div>
        <div *ngIf="current_org_role_count===0">
          <div *ngIf="!userPermission.can('view', 'role', current_organization.id); else noRolesBlock">
            You do not have permission to view the roles!
          </div>
          <ng-template #noRolesBlock>
            This organization has no roles!
          </ng-template>
        </div>
        <div *ngFor="let role of roles; let idx = index">
          <div *ngIf="(role.organization_id === current_organization.id) ||
                      (role.organization_id === null && current_organization.id === 1)">
            <app-role-view
              [role]="role"
              (deletingRole)="deleteRole(role)"
            ></app-role-view>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg">
      <mat-card>
        <h4>Users</h4>
        <div *ngIf="userPermission.can('create', 'user', current_organization.id)" class="inline">
          <button mat-button class="btn btn-dflt btn-right"
                  (click)="createUser()"
                  [routerLink]="['/user', 'create']">
            <mat-icon>add_circle</mat-icon>
            <span>New user</span>
          </button>
        </div>
        <div *ngIf="organization_users.length===0">
          <div *ngIf="!userPermission.can('view', 'user', current_organization.id); else noUsersBlock">
            You do not have permission to view the users!
          </div>
          <ng-template #noUsersBlock>
            This organization has no users!
          </ng-template>
        </div>
        <div *ngFor="let user of organization_users; let idx = index">
          <app-user-view
            [user]="user"
            (deletingUser)="deleteUser(user)"
            (editingUser)="editUser(user)"
          ></app-user-view>
        </div>
      </mat-card>
    </div>
  </div>
</div>