<div *ngIf="userPermission.hasPermission('view', 'organization', 'global')">
  <mat-card>
    Select organization:
    <div class="inline">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>{{current_organization.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
          <div *ngFor="let org of organizations">
            <button ngbDropdownItem (click)="selectOrganizationDropdown(org.id)">{{org.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div *ngIf="current_organization.id!==-1">
  <div class="row justify-content-md-center">
    <div class="col-lg">
      <mat-card>
        <h3>{{current_organization.name}}</h3>
        <address>
          {{current_organization.address1}}<br/>
          {{current_organization.address2}}<br/>
          {{current_organization.country}}<br/>
          {{current_organization.domain}}
        </address>
        <br/>
        <!-- TODO show button with 'show public key' or so to display public key
        {{current_organization.public_key}}
        <br/>
        -->
        <button mat-button class="btn-edit">
          Edit
        </button>
      </mat-card>

      <mat-card>
        <h4>Roles</h4>
        <button mat-button class="btn-add btn-right">
          <mat-icon>add_circle</mat-icon>
          <span>New role</span>
        </button>
        <div *ngIf="current_org_role_count===0">
          This organization has no roles!
        </div>
        <div *ngFor="let role of roles">
          <div *ngIf="(role.organization_id === current_organization.id) ||
                      (role.organization_id === null && current_organization.id === 1)">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{role.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let rule of role.rules" class="inline">
                {{rule.id}},
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg">
      <mat-card>
        <h4>Users</h4>
        <button mat-button class="btn-add btn-right" (click)="createUser()">
          <mat-icon>add_circle</mat-icon>
          <span>New user</span>
        </button>
        <div *ngIf="organization_users.length===0">
          This organization has no users!
        </div>
        <div *ngFor="let user of organization_users">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{user.first_name}} {{user.last_name}}
              </mat-panel-title>
              <mat-panel-description>
                <div *ngIf="user.id===userId">
                  It's you!
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="!isUserBeingEdited(user.id); else editBlock">
              <table style="width: 100%">
                <colgroup>
                  <col span="1" style="width: 20%;"/>
                  <col span="1" style="width: 80%;"/>
                </colgroup>
                <tr>
                  <td>Username:</td>
                  <td>{{user.username}}</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <td>Role(s):</td>
                  <td>
                    <div *ngFor="let role of user.roles" class="inline">
                        <button mat-button class="btn-detail inline" disabled>
                          {{role.name}}
                        </button>
                    </div>
                    <div *ngIf="user.roles.length===0">
                      This user has no roles!
                    </div>
                    <!-- <button mat-button class="btn-add inline">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button> -->
                  </td>
                </tr>
                <tr *ngIf="user.rules.length > 0">
                  <td>Extra rules:</td>
                  <td>
                    <div *ngFor="let rule of user.rules" class="inline">
                      <button mat-button class="btn-detail inline" disabled>
                        {{rule.type}} {{rule.resource}} ({{rule.scope}})
                      </button>
                    </div>
                    <!-- <button mat-button class="btn-add inline">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button> -->
                  </td>
                </tr>
              </table>
              <button mat-button class="btn-edit" (click)="editUser(user)">
                Edit
              </button>
            </div>
            <ng-template #editBlock>
              <table style="width: 100%">
                <colgroup>
                  <col span="1" style="width: 20%;"/>
                  <col span="1" style="width: 80%;"/>
                </colgroup>
                <tr>
                  <td>Username:</td>
                  <td><input [(ngModel)]="user.username"/></td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td><input [(ngModel)]="user.email"/></td>
                </tr>
                <tr>
                  <td>First name:</td>
                  <td><input [(ngModel)]="user.first_name"/></td>
                </tr>
                <tr>
                  <td>Last name:</td>
                  <td><input [(ngModel)]="user.last_name"/></td>
                </tr>
                <tr>
                  <td>Role(s):</td>
                  <td>
                    <div *ngFor="let role of user.roles" class="inline">
                        <button mat-button class="btn-delete inline" (click)="removeRole(user, role)">
                          <mat-icon>remove_circle</mat-icon>
                          <span>{{role.name}}</span>
                        </button>
                    </div>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-dropdown" id="dropdownRoles" ngbDropdownToggle>
                        <mat-icon>add_circle</mat-icon>
                        <span class="align-top">Add role</span>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownRoles">
                        <div *ngFor="let role of roles">
                          <button ngbDropdownItem (click)="addRole(user, role)">{{role.name}}</button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="user.roles.length===0">
                      This user has no roles!
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Extra rules:</td>
                  <td>
                    <div *ngFor="let rule of user.rules" class="inline">
                      <button mat-button class="btn-delete inline" (click)="removeRule(user, rule)">
                      <!-- <button mat-button class="btn-delete inline" disabled> -->
                        <mat-icon>remove_circle</mat-icon>
                        <span>{{rule.type}} {{rule.resource}} ({{rule.scope}})</span>
                      </button>
                    </div>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-dropdown" id="dropdownRules" ngbDropdownToggle>
                        <mat-icon>add_circle</mat-icon>
                        <span class="align-top">Add rule</span>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownRules">
                        <!-- TODO change this or have rules instead of roles -->
                        <div *ngFor="let rule of roles">
                          <button ngbDropdownItem (click)="addRule(user, rule)">{{rule.name}}</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <button mat-button class="btn btn-save">
                <!-- (click)="saveUser(user.id)"> -->
                Save
              </button>
              <!-- TODO change name of btn-add class to 'btn-default' or so -->
              <button mat-button class="btn btn-add">
                <!-- (click)="saveUser(user.id)"> -->
                Cancel
              </button>
            </ng-template>


          </mat-expansion-panel>
        </div>
      </mat-card>
    </div>
  </div>
</div>