@use '../globals/variables' as v;

.column {
  float: center;
  width: 50%;
}

mat-expansion-panel {
  margin-top: 10px;
}

mat-card {
  margin-bottom: 10px;
}

.add-button {
  background-color: v.$transparent;
  color: v.$vtg-blue;
  transition-duration: 0.2s;
  position: absolute;
  right: 0;
  display: inline-block;
  vertical-align: middle;

  margin: {
    top: -7px;
    right: 15px;
  }

  border: {
    color: v.$vtg-blue;
    style: solid;
    width: 2px;
    radius: 4px;
  }

  mat-icon {
    margin-right: 8px;
  }
}

.add-button:hover {
  background-color: v.$white;
  border-color: v.$vtg-blue;
}

h4 {
  display: inline-block;
}
