<!-- <p>User id: {{userId}}</p> -->
<div *ngIf="organization_details!==null">
  <div class="row justify-content-md-center">
    <div class="col-md">
        <mat-card>
        <h3>{{organization_details.name}}</h3>
        {{organization_details.address1}}
        <br/>
        {{organization_details.address2}}
        <br/>
        {{organization_details.country}}
        <br/>
        <button mat-button class="btn-edit">
          Edit
        </button>
      </mat-card>

      <mat-card>
        <h4>Roles</h4>
        <button mat-button class="btn-add btn-right">
          <mat-icon>add_circle_outline</mat-icon>
          <span>New role</span>
        </button>
        <div *ngFor="let role of roles">
          <div *ngIf="role.organization_id === organization_details.id">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{role.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let rule of role.rules" class="inline">
                {{rule.id}},
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md">
      <mat-card>
        <h4>Users</h4>
        <button mat-button class="btn-add btn-right" (click)="createUser()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>New user</span>
        </button>
        <div *ngFor="let user of organization_users">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{user.first_name}} {{user.last_name}}
              </mat-panel-title>
              <mat-panel-description>
                <div *ngIf="user.id===userId">
                  It's you!
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table style="width: 100%">
              <colgroup>
                <col span="1" style="width: 20%;"/>
                <col span="1" style="width: 80%;"/>
              </colgroup>
              <tr>
                <td>Username:</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Role(s):</td>
                <td>
                  <div *ngFor="let role of user.roles" class="inline">
                      <button mat-button class="btn-detail inline" disabled>
                        {{role.name}}
                      </button>
                  </div>
                  <div *ngIf="user.roles.length===0">
                    This user has no roles!
                  </div>
                  <!-- <button mat-button class="btn-add inline">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button> -->
                </td>
              </tr>
              <tr *ngIf="user.rules.length > 0">
                <td>Extra rules:</td>
                <td>
                  <div *ngFor="let rule of user.rules" class="inline">
                    <button mat-button class="btn-detail inline" disabled>
                      {{rule.type}} {{rule.resource}} ({{rule.scope}})
                    </button>
                  </div>
                  <!-- <button mat-button class="btn-add inline">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button> -->
                </td>
              </tr>
            </table>

            <button mat-button class="btn-edit">
              Edit
            </button>
          </mat-expansion-panel>
        </div>
      </mat-card>
    </div>
  </div>
</div>