<mat-card>
  <h4>Your user profile</h4>
  <h6>User details</h6>
  <app-user-view
    [user]="user"
    (deletingResource)="signOut()"
  ></app-user-view>
  <h6>Reset your password</h6>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr>
      <td>Current password:</td>
      <input type="password" [(ngModel)]="old_password"/>
    </tr>
    <tr>
      <td>New password:</td>
      <td><input type="password" [(ngModel)]="new_password"/></td>
    </tr>
    <tr>
      <td>Repeat new password:</td>
      <td>
        <input type="password" [(ngModel)]="new_password_repeated"/>
        <p class="inline text-warning" *ngIf="new_password != new_password_repeated">
          Passwords do not match!
        </p>
      </td>
    </tr>
    <button mat-button class="btn btn-save" (click)="savePassword()" [disabled]="!hasFilledInPasswords()">
      Save new password
    </button>
  </table>
</mat-card>