table {
    width: 100%;
}

th {
    font-size: large;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .element-row {
    position: relative;
  }

  .element-row:not(.expanded) {
    cursor: pointer;
  }

  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }

  .element-row.expanded {
    border-bottom-color: transparent;
  }