<app-page-header title="{{ 'resources.algorithms' | translate }}">
  <button actions mat-flat-button color="primary" [routerLink]="routePaths.algorithmsManage">
    {{ "algorithm-list.manage" | translate }}
  </button>
</app-page-header>
@if (!isLoading) {
  <app-display-algorithms [algorithms]="algorithms" [routeOnClick]="routePaths.algorithm"></app-display-algorithms>
  @if (algorithms.length === 0) {
    <mat-card>
      <mat-card-content>
        <p>{{ "algorithm-list.no-algorithms" | translate }}</p>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
