<ng-container *ngIf="!isLoading; else loading">
  <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "general.name" | translate }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "general.description" | translate }}</mat-label>
      <input matInput type="text" formControlName="description" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "algorithm.image" | translate }}</mat-label>
      <input matInput type="text" formControlName="image" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "algorithm.v6version" | translate }}</mat-label>
      <input matInput type="text" formControlName="vantage6_version" />
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "algorithm.partitioning" | translate }}</mat-label>
      <mat-select formControlName="partitioning">
        <mat-option *ngFor="let partitionType of partitionTypes" [value]="partitionType">
          {{ partitionType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card class="subcard" *ngFor="let functionFormGroup of functionFormGroups; let idx = index">
      <mat-card-header>
        <mat-card-title>{{ "algorithm-create.function.title" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="form" [formGroup]="functionFormGroup">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ "general.name" | translate }}</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ "general.description" | translate }}</mat-label>
            <input matInput type="text" formControlName="description" />
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ "algorithm.function.type" | translate }}</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let functionType of functionTypes" [value]="functionType">
                {{ functionType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-container button-container-separate">
            <button mat-flat-button color="primary" (click)="addParameter(functionFormGroup)">
              {{ "algorithm-create.function.parameter.add" | translate }}
            </button>
            <button mat-flat-button color="primary" (click)="addDatabase(functionFormGroup)">
              {{ "algorithm-create.function.database.add" | translate }}
            </button>
            <button mat-flat-button color="warn" (click)="deleteFunction(idx)">{{ "algorithm-create.function.delete" | translate }}</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div class="button-container button-container-separate">
      <button mat-flat-button color="primary" (click)="addFunction()">{{ "algorithm-create.function.add" | translate }}</button>
    </div>
    <div class="button-container">
      <button mat-flat-button type="submit" color="primary">{{ "general.submit" | translate }}</button>
      <button mat-flat-button (click)="handleCancel()">{{ "general.cancel" | translate }}</button>
    </div>
  </form>
</ng-container>
<ng-template #loading>
  <mat-spinner diameter="48"></mat-spinner>
</ng-template>
