<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "algorithm-create.card-from-json.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ "algorithm-create.card-from-json.description" | translate }}</p>
    <form class="form" [formGroup]="uploadForm">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "algorithm-create.card-from-json.file-label" | translate }}</mat-label>
        <input matInput value="{{ selectedFile?.name }}" disabled />
        <input hidden (change)="selectedJsonFile($event)" #fileInput type="file" id="file" />
        <button mat-flat-button type="button" matSuffix color="primary" (click)="fileInput.click()">
          {{ "general.file-select" | translate }}
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "algorithm-create.subtitle" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!isLoading; else loading">
      <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm.submission-comments" | translate }}</mat-label>
          <textarea matInput type="text" formControlName="submission_comments"></textarea>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "general.name" | translate }}</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "general.description" | translate }}</mat-label>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm.image" | translate }}</mat-label>
          <input matInput type="text" formControlName="image" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm.v6version" | translate }}</mat-label>
          <input matInput type="text" formControlName="vantage6_version" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm.code-url" | translate }}</mat-label>
          <input matInput type="text" formControlName="code_url" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm.documentation-url" | translate }}</mat-label>
          <input matInput type="text" formControlName="documentation_url" />
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ "algorithm.partitioning" | translate }}</mat-label>
          <mat-select formControlName="partitioning">
            <mat-option *ngFor="let partitionType of partitionTypes" [value]="partitionType">
              {{ partitionType | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Card per function -->
        <mat-accordion
          *ngFor="let functionFormGroup of functionFormGroups; let funcIdx = index"
          class="card-accordion sub-accordion"
          [multi]="true"
        >
          <mat-expansion-panel #expansionPanel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title
                >{{ "algorithm-create.function.title" | translate }} {{ functionFormGroup.get("name")?.value || "" }}</mat-panel-title
              >
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <form class="form" [formGroup]="functionFormGroup">
                <mat-form-field subscriptSizing="dynamic">
                  <mat-label>{{ "general.name" | translate }}</mat-label>
                  <input matInput type="text" formControlName="name" />
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                  <mat-label>{{ "general.display_name" | translate }}</mat-label>
                  <input matInput type="text" formControlName="display_name" />
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                  <mat-label>{{ "general.description" | translate }}</mat-label>
                  <input matInput type="text" formControlName="description" />
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                  <mat-label>{{ "algorithm.function.execution-type" | translate }}</mat-label>
                  <mat-select formControlName="execution_type">
                    <mat-option *ngFor="let functionType of functionExecutionTypes" [value]="functionType">
                      {{ functionType | titlecase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                  <mat-label>{{ "algorithm.function.step-type" | translate }}</mat-label>
                  <mat-select formControlName="step_type">
                    <mat-option *ngFor="let functionStepType of functionStepTypes" [value]="functionStepType">
                      {{ functionStepType | titlecase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox matTooltip="{{ 'algorithm.function.standalone_tooltip' | translate }}" formControlName="standalone">
                  {{ "algorithm.function.standalone" | translate }}
                </mat-checkbox>
                <!-- Accordion per parameter -->
                <mat-accordion class="card-accordion" [multi]="true">
                  <mat-expansion-panel
                    class="subpanel"
                    [expanded]="true"
                    *ngFor="
                      let parameterFormGroup of form.controls.functions.controls[funcIdx].controls.arguments.controls;
                      let paramIdx = index
                    "
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title
                        >{{ "algorithm-create.function.parameter.title" | translate }} {{ parameterFormGroup.get("name")?.value || "" }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <form class="form" [formGroup]="parameterFormGroup">
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.name" | translate }}</mat-label>
                          <input matInput type="text" formControlName="name" />
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.display_name" | translate }}</mat-label>
                          <input matInput type="text" formControlName="display_name" />
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.description" | translate }}</mat-label>
                          <input matInput type="text" formControlName="description" />
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "algorithm.function.argument.type" | translate }}</mat-label>
                          <mat-select formControlName="type">
                            <mat-option *ngFor="let paramType of paramTypes" [value]="paramType">
                              {{ paramType | titlecase }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-radio-group formControlName="has_default_value">
                          <mat-label>{{ "algorithm.function.argument.has_default" | translate }}</mat-label>
                          <mat-radio-button [value]="true" color="primary">{{ "general.yes" | translate }}</mat-radio-button>
                          <mat-radio-button [value]="false" color="primary">{{ "general.no" | translate }}</mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="isTruthy(parameterFormGroup.controls['has_default_value'].value)">
                          <mat-radio-group formControlName="is_default_value_null">
                            <mat-label>{{ "algorithm.function.argument.default_value_null" | translate }}</mat-label>
                            <mat-radio-button [value]="true" color="primary">{{ "general.yes" | translate }}</mat-radio-button>
                            <mat-radio-button [value]="false" color="primary">{{ "general.no" | translate }}</mat-radio-button>
                          </mat-radio-group>
                          <div *ngIf="!isTruthy(parameterFormGroup.controls['is_default_value_null'].value)">
                            <app-alert
                              class="node-alert"
                              *ngIf="isListTypeArgument(parameterFormGroup.controls['type'].value)"
                              label="{{ 'algorithm.function.argument.list-warning' | translate }}"
                            ></app-alert>
                            <mat-radio-group
                              *ngIf="parameterFormGroup.controls['type'].value === argumentType.Boolean"
                              formControlName="default_value"
                            >
                              <mat-label>{{ "algorithm.function.argument.default_value" | translate }}</mat-label>
                              <mat-radio-button [value]="true" color="primary">{{ "general.true" | translate }}</mat-radio-button>
                              <mat-radio-button [value]="false" color="primary">{{ "general.false" | translate }}</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field
                              *ngIf="parameterFormGroup.controls['type'].value !== argumentType.Boolean"
                              subscriptSizing="dynamic"
                            >
                              <mat-label>{{ "algorithm.function.argument.default_value" | translate }}</mat-label>
                              <input
                                matInput
                                appNumberOnly
                                [type]="
                                  parameterFormGroup.controls['type'].value === argumentType.Integer ||
                                  parameterFormGroup.controls['type'].value === argumentType.Float
                                    ? 'number'
                                    : 'text'
                                "
                                formControlName="default_value"
                              />
                            </mat-form-field>
                          </div>
                          <mat-radio-group formControlName="hasCondition">
                            <mat-label>{{ "algorithm.function.argument.condition.has_condition" | translate }}</mat-label>
                            <mat-radio-button [value]="true" color="primary">{{ "general.yes" | translate }}</mat-radio-button>
                            <mat-radio-button [value]="false" color="primary">{{ "general.no" | translate }}</mat-radio-button>
                          </mat-radio-group>
                          <div *ngIf="isTruthy(parameterFormGroup.controls['hasCondition'].value)">
                            <p>
                              <b>{{ "algorithm.function.argument.condition.explanation" | translate }}</b>
                            </p>
                            <mat-form-field subscriptSizing="dynamic">
                              <mat-label>{{ "algorithm.function.argument.condition.conditional_on" | translate }}</mat-label>
                              <mat-select formControlName="conditional_on">
                                <mat-option *ngFor="let arg of getAvailableConditionalArguments(functionFormGroup, paramIdx)" [value]="arg">
                                  {{ arg }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic">
                              <mat-label>{{ "algorithm.function.argument.condition.operator" | translate }}</mat-label>
                              <mat-select formControlName="conditional_operator">
                                <mat-option
                                  *ngFor="let arg of getAvailableComparators(functionFormGroup, parameterFormGroup)"
                                  [value]="arg"
                                >
                                  {{ "algorithm.function.argument.condition.operators." + arg | translate }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div *ngIf="!isConditionalArgBoolean(functionFormGroup, parameterFormGroup)">
                              <mat-radio-group formControlName="conditionalValueNull">
                                <mat-label>{{ "algorithm.function.argument.condition.conditional-value-null" | translate }}</mat-label>
                                <mat-radio-button [value]="true" color="primary">{{ "general.yes" | translate }}</mat-radio-button>
                                <mat-radio-button [value]="false" color="primary">{{ "general.no" | translate }}</mat-radio-button>
                              </mat-radio-group>
                              <mat-form-field
                                *ngIf="!isTruthy(parameterFormGroup.controls['conditionalValueNull'].value)"
                                subscriptSizing="dynamic"
                              >
                                <mat-label>{{ "algorithm.function.argument.condition.value" | translate }}</mat-label>
                                <input
                                  matInput
                                  appNumberOnly
                                  [type]="getConditionalParamInputType(functionFormGroup, parameterFormGroup)"
                                  formControlName="conditional_value"
                                />
                              </mat-form-field>
                            </div>
                            <mat-radio-group
                              *ngIf="isConditionalArgBoolean(functionFormGroup, parameterFormGroup)"
                              formControlName="conditional_value"
                            >
                              <mat-label>{{ "algorithm.function.argument.condition.value" | translate }}:</mat-label>
                              <mat-radio-button [value]="true" color="primary">{{ "general.true" | translate }}</mat-radio-button>
                              <mat-radio-button [value]="false" color="primary">{{ "general.false" | translate }}</mat-radio-button>
                            </mat-radio-group>
                            <!-- TODO add error text like this for all errors -->
                            <!-- <div *ngIf="parameterFormGroup.errors?.['conditionalFields']" class="error">
                            {{ parameterFormGroup.errors?.["conditionalFields"] }}
                          </div> -->
                          </div>
                        </div>
                        <mat-radio-group formControlName="is_frontend_only">
                          <mat-label>{{ "algorithm.function.argument.frontend_only.toggle_explain" | translate }}</mat-label>
                          <mat-radio-button [value]="true" color="primary">{{ "general.yes" | translate }}</mat-radio-button>
                          <mat-radio-button [value]="false" color="primary">{{ "general.no" | translate }}</mat-radio-button>
                        </mat-radio-group>
                        <div class="button-container button-container-separate">
                          <button mat-flat-button color="warn" (click)="deleteParameter(functionFormGroup, paramIdx)">
                            {{ "algorithm-create.function.parameter.delete" | translate }}
                          </button>
                        </div>
                      </form>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- Card per database -->
                <mat-accordion
                  class="card-accordion"
                  *ngFor="let databaseFormGroup of form.controls.functions.controls[funcIdx].controls.databases.controls; let dbIdx = index"
                  [multi]="true"
                >
                  <mat-expansion-panel class="subpanel" [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title
                        >{{ "algorithm-create.function.database.title" | translate }}
                        {{ databaseFormGroup.get("name")?.value || "" }}</mat-panel-title
                      >
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <form class="form" [formGroup]="databaseFormGroup">
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.name" | translate }}</mat-label>
                          <input matInput type="text" formControlName="name" />
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.description" | translate }}</mat-label>
                          <input matInput type="text" formControlName="description" />
                        </mat-form-field>
                        <div class="button-container button-container-separate">
                          <button mat-flat-button color="warn" (click)="deleteDatabase(functionFormGroup, dbIdx)">
                            {{ "algorithm-create.function.database.delete" | translate }}
                          </button>
                        </div>
                      </form>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- Card per visualization -->
                <mat-accordion
                  class="card-accordion"
                  *ngFor="
                    let visualizationFormGroup of form.controls.functions.controls[funcIdx].controls.ui_visualizations.controls;
                    let visIdx = index
                  "
                  [multi]="true"
                >
                  <mat-expansion-panel class="subpanel" [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title
                        >{{ "algorithm-create.function.visualization.title" | translate }}
                        {{ visualizationFormGroup.get("name")?.value || "" }}</mat-panel-title
                      >
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <form class="form" [formGroup]="visualizationFormGroup">
                        <div class="field-description">{{ "algorithm-create.function.visualization.explanation" | translate }}</div>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.name" | translate }}</mat-label>
                          <input matInput type="text" formControlName="name" />
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "general.description" | translate }}</mat-label>
                          <input matInput type="text" formControlName="description" />
                        </mat-form-field>
                        <mat-form-field subscriptSizing="dynamic">
                          <mat-label>{{ "algorithm.function.visualization.type" | translate }}</mat-label>
                          <mat-select formControlName="type" (selectionChange)="setVisSchema(funcIdx, visIdx, $event.value)">
                            <mat-option *ngFor="let visType of visualizationTypes" [value]="visType">
                              {{ visType | titlecase }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- generate dynamic input for visualization details -->
                        <form class="form" [formGroup]="visualizationFormGroup.controls.schema">
                          <ng-container *ngFor="let control of visualizationFormGroup.controls.schema.controls | keyvalue">
                            <div class="field-description" *ngIf="true">
                              <div>
                                <b>{{ getVisSchemaField(funcIdx, visIdx, control.key, "description") }}</b>
                              </div>
                              <div>
                                <i>{{ getVisSchemaField(funcIdx, visIdx, control.key, "example") }}</i>
                              </div>
                            </div>
                            <mat-form-field subscriptSizing="dynamic">
                              <mat-label>{{ control.key }}</mat-label>
                              <input matInput type="text" [formControlName]="control.key" />
                            </mat-form-field>
                          </ng-container>
                        </form>
                        <!-- // -->
                        <div class="button-container button-container-separate">
                          <button mat-flat-button color="warn" (click)="deleteVisualization(functionFormGroup, visIdx)">
                            {{ "algorithm-create.function.visualization.delete" | translate }}
                          </button>
                        </div>
                      </form>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- Buttons per function -->
                <div class="button-container button-container-separate">
                  <button mat-flat-button color="primary" (click)="addParameter(functionFormGroup)">
                    {{ "algorithm-create.function.parameter.add" | translate }}
                  </button>
                  <button mat-flat-button color="primary" (click)="addDatabase(functionFormGroup)">
                    {{ "algorithm-create.function.database.add" | translate }}
                  </button>
                  <button mat-flat-button color="primary" (click)="addVisualization(functionFormGroup)">
                    {{ "algorithm-create.function.visualization.add" | translate }}
                  </button>
                  <button mat-flat-button color="warn" (click)="deleteFunction(funcIdx)">
                    {{ "algorithm-create.function.delete" | translate }}
                  </button>
                </div>
              </form>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="button-container button-container-separate">
          <button mat-flat-button color="primary" (click)="addFunction()">{{ "algorithm-create.function.add" | translate }}</button>
        </div>
        <div class="button-container">
          <button mat-flat-button type="submit" color="primary">{{ "general.submit" | translate }}</button>
          <button mat-flat-button (click)="handleCancel()">{{ "general.cancel" | translate }}</button>
        </div>
      </form>
    </ng-container>
    <ng-template #loading>
      <mat-spinner diameter="48"></mat-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
