<div class="background-img" aria-label="awefawefwaef" style="background-image: {{getBackgroundImage()}}; {{getAdditionalStyling()}}">
  <div class="col-md-12">
    <div class="card card-container">
      <div *ngIf="router.url === '/login'">
        <app-login></app-login>
      </div>
      <div *ngIf="router.url === '/password_lost'">
        <app-password-lost></app-password-lost>
      </div>
      <div *ngIf="router.url === '/password_recover'">
        <app-password-recover></app-password-recover>
      </div>
      <div *ngIf="router.url === '/setup_mfa'">
        <app-setup-mfa></app-setup-mfa>
      </div>
      <div *ngIf="router.url === '/mfa_code'">
        <app-mfa-code></app-mfa-code>
      </div>
      <div *ngIf="router.url === '/mfa_lost'">
        <app-mfa-lost></app-mfa-lost>
      </div>
      <div *ngIf="router.url === '/mfa_recover'">
        <app-mfa-recover></app-mfa-recover>
      </div>
    </div>
  </div>
</div>
<div class="attribution-text" [innerHTML]="getAttributionText()"></div>