@use '../globals/variables' as v;

.btn-scope {
  width: 120px;
}

.btn-operation {
  width: 75px;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

.btn-has-permission {
  background-color: v.$vtg-blue;
  color: v.$white;
}

.btn-has-permission-rule {
  background-color: v.$vtg-orange;
  color: v.$white;
}

.btn-part-permission {
  background: repeating-linear-gradient(
    -55deg,
    v.$vtg-blue,
    v.$vtg-blue 5px,
    v.$vtg-blue-opac06 5px,
    v.$vtg-blue-opac06 10px
  );
  color: v.$white;
}

.btn-no-permission:disabled {
  color: v.$vtg-blue;
}

.btn-no-permission-possible {
  background-color: gray !important;
  color: white;
}

table {
  margin-bottom: 10px;
}
