<table style="width: 100%">
  <colgroup>
    <col span="1" style="width: 25%;"/>
    <col span="1" style="width: 25%;"/>
    <col span="1" style="width: 50%;"/>
  </colgroup>
  <tr>
    <th>Resource</th>
    <th>Scope</th>
    <th>Operation</th>
  </tr>
  <ng-container *ngFor="let resource of RESOURCES">
    <tr *ngFor="let scope of getScopes(resource); let idx = index">
      <td>
        <div *ngIf="idx===0">
          {{resource | titlecase}}
        </div>
      </td>
      <td>
        <button [className]="getScopeClass(resource, scope)">
          {{scope | titlecase}}
        </button>
      </td>
      <td>
        <div class="btn-group">
          <button
              *ngFor="let operation of getOperations(resource, scope)"
              [className]="getClass(operation, resource, scope)">
            {{operation | titlecase}}
          </button>
        </div>
      </td>
    </tr>
  </ng-container>
  </table>
