<form class="form" [formGroup]="formGroup">
  @if (isFirstDatabaseMultiple() && containsColumnArguments()) {
    <div class="warning-message">
      <app-alert
        class="warning-alert"
        label="{{ 'task-create.step-parameters.warning-column-list-multiple-dataframes' | translate }}"
      ></app-alert>
    </div>
  }

  <ng-container>
    <div class="field-description">{{ "task-create.step-parameters.description" | translate }}</div>
    @for (argument of sortArgumentsForDisplay($safeNavigationMigration(function?.arguments)); track argument) {
      @if (shouldDisplayArgument(function, argument)) {
        <b>{{ argument.description }}</b>
        @if (argument.type === argumentType.Json) {
          <p>{{ "task-create.step-parameters.valid-json" | translate }}</p>
        }
        <!-- Show form field for dropdowns or single input fields (float, int, string) -->
        @if (shouldIncludeFormField(argument)) {
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>{{ getDisplayName(argument) }}</mat-label>
            @if (shouldShowColumnDropdown(argument)) {
              <mat-select [formControlName]="argument.name" [multiple]="argument.type === argumentType.ColumnList">
                @for (column of dataFrameColumns; track column) {
                  <mat-option [value]="column">{{ column }}</mat-option>
                }
              </mat-select>
            }
            @if (shouldShowAllowedValuesDropdown(argument)) {
              <mat-select [formControlName]="argument.name">
                @for (allowed_value of argument.allowed_values; track allowed_value) {
                  <mat-option [value]="allowed_value">{{ allowed_value }}</mat-option>
                }
              </mat-select>
            }
            @if (shouldShowOrganizationDropdown(argument)) {
              <mat-select
                [formControlName]="argument.name"
                [compareWith]="compareIDsForSelection"
                [multiple]="argument.type === argumentType.OrganizationList"
              >
                @for (organization of organizations; track organization) {
                  <mat-option [value]="organization.id">
                    {{ organization.name }}
                  </mat-option>
                }
              </mat-select>
            }
            @if (shouldShowParameterSimpleInput(argument)) {
              <input
                matInput
                appNumberOnly
                [type]="argument.type === argumentType.Integer || argument.type === argumentType.Float ? 'number' : 'text'"
                [formControlName]="argument.name"
              />
            }
          </mat-form-field>
        }
        <!-- Show form field for json input -->
        @if (shouldShowParameterJsonInput(argument)) {
          <div>
            <p>{{ "task-create.step-parameters.upload-or-fill-in-json" | translate }}</p>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>{{ "algorithm-create.card-from-json.file-label" | translate }}</mat-label>
              <input matInput value="{{ getJsonFileName(argument) }}" disabled />
              <input hidden (change)="selectedJsonFile($event, argument)" #fileInput type="file" id="file" />
              <button mat-flat-button type="button" matSuffix color="primary" (click)="fileInput.click()">
                {{ "general.file-select" | translate }}
              </button>
            </mat-form-field>
            <p>{{ "task-create.step-parameters.valid-json" | translate }}</p>
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>{{ argument.name }}</mat-label>
              <textarea matInput [formControlName]="argument.name"></textarea>
            </mat-form-field>
          </div>
        }
        <!-- Show checkbox for boolean parameters -->
        @if (shouldShowParameterBooleanInput(argument)) {
          <mat-checkbox class="newLineCheckbox" [formControlName]="argument.name" [checked]="false">
            {{ argument.name }}
          </mat-checkbox>
        }
        <!-- Show expandable list for multiple inputs (list of str, int, or float) -->
        @if (shouldShowMultipleInput(argument)) {
          <div>
            @for (input of getFormArrayControls(argument); track input; let idx = $index) {
              <div formArrayName="{{ argument.name }}">
                <div style="display: flex; align-items: center">
                  <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ argument.name }} {{ idx + 1 }}</mat-label>
                    <input
                      matInput
                      appNumberOnly
                      [type]="argument.type === argumentType.Integer || argument.type === argumentType.Float ? 'number' : 'text'"
                      [formControlName]="idx"
                    />
                  </mat-form-field>
                  <button mat-raised-button color="warn" (click)="removeInputFieldForArg(argument, idx)">Delete</button>
                </div>
              </div>
            }
            <button mat-raised-button color="primary" (click)="addInputFieldForArg(argument)">Add More</button>
          </div>
        }
      }
    }
  </ng-container>
</form>
