{{- if not (lookup "v1" "Secret" (.Values.namespace | default .Release.Namespace) (printf "%s-secrets" .Release.Name)) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  namespace: {{ .Values.namespace | default .Release.Namespace }}
data:
  KEYCLOAK_ADMIN_USERNAME: {{ .Values.server.keycloakAdminUsername | b64enc }}
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.server.keycloakAdminPassword | b64enc }}
  KEYCLOAK_ADMIN_CLIENT: {{ .Values.server.keycloakAdminClient | b64enc }}
  KEYCLOAK_ADMIN_CLIENT_SECRET: {{ .Values.server.keycloakAdminClientSecret | b64enc }}
{{- end }}