@import "../../../../config.scss";

.role-read {
  &__tab-content {
    margin-top: $spacing-px-4;
  }
  &__buttons {
    text-align: center;
    margin-bottom: $spacing-px-4;
  }

  &__submit-buttons {
    margin-top: $spacing-px-4;
  }

  &__error-message {
    color: $error-900;
  }
}
