<ng-container *ngIf="!isLoading && role; else loading">
  <app-page-header [title]="role.name"> </app-page-header>
  <mat-card>
    <mat-card-content>
      <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="{{ 'role-read.tab.permissions' | translate }}">
          <div class="role-read__tab-content">
            <button *ngIf="!isEditing" mat-flat-button type="submit" color="primary" (click)="handleEnterEditMode()">
              {{ "role-read.edit-permissions" | translate }}
            </button>

            <button *ngIf="isEditing" mat-flat-button type="submit" color="primary" (click)="handleCancelEdit()">
              {{ "general.cancel" | translate }}
            </button>
            <app-permissions-matrix [fixedSelected]="fixedSelectedRules" [preselected]="preselectedRules" [selectable]="selectableRules">
            </app-permissions-matrix>
          </div>
        </mat-tab>
        <mat-tab label="{{ 'role-read.tab.users' | translate }}">
          <div class="role-read__tab-content">
            <app-table *ngIf="showUserTable" [data]="userTable"></app-table>
            <p *ngIf="!showUserTable">{{ "role-read.no-users" | translate }}</p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
