<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "collaboration-read.card-nodes.title" | translate }}</mat-card-title>
    @if (canCreateNodes && isMissingNodes()) {
      <button actions mat-flat-button class="right-aligned-button" color="primary" (click)="onRegisterMissingNodes()">
        <mat-icon>add</mat-icon>{{ "collaboration-read.card-nodes.add" | translate }}
      </button>
    }
    @if (!canCreateNodes && canCreateNodesOwnOrg && isMissingOwnOrgNode()) {
      <button actions mat-flat-button class="right-aligned-button" color="primary" (click)="onRegisterMissingNodes(false)">
        <mat-icon>add</mat-icon>{{ "collaboration-read.card-nodes.add-own-org" | translate }}
      </button>
    }
  </mat-card-header>
  <mat-card-content>
    @if (isMissingNodes()) {
      <app-alert class="node-alert" label="{{ 'collaboration-read.alert-missing-nodes' | translate }}"></app-alert>
    }
    <div class="chip-container">
      @for (node of nodes; track node) {
        <app-chip label="{{ getNodeLabelText(node) }}" [type]="node.status === nodeStatus.Online ? 'success' : 'error'"></app-chip>
      }
    </div>
  </mat-card-content>
</mat-card>
