<mat-card>
  <mat-card-header>
    <mat-card-title>Create task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper [linear]="true" orientation="vertical" #stepper>
      <mat-step [stepControl]="packageForm">
        <form [formGroup]="packageForm">
          <ng-template matStepLabel>Select package</ng-template>
          <mat-form-field>
            <mat-label>Algorithm</mat-label>
            <mat-select formControlName="algorithmID">
              <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">
                {{ algorithm.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Analysis name</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Analysis description</mat-label>
            <input matInput type="text" formControlName="description" />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="functionForm">
        <form [formGroup]="functionForm">
          <ng-template matStepLabel>Select function</ng-template>
          <mat-form-field>
            <mat-label>Function</mat-label>
            <mat-select formControlName="functionName">
              <mat-option *ngFor="let function of algorithm?.functions" [value]="function.name">
                {{ function.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="function">
            <mat-label>Organization</mat-label>
            <mat-select *ngIf="function.is_central" formControlName="organizationIDs">
              <mat-option
                *ngFor="let organization of (chosenCollaborationService.collaboration$ | async)?.organizations"
                [value]="organization.id"
              >
                {{ organization.name }}
              </mat-option>
            </mat-select>
            <mat-select *ngIf="!function.is_central" formControlName="organizationIDs" multiple>
              <mat-option
                *ngFor="let organization of (chosenCollaborationService.collaboration$ | async)?.organizations"
                [value]="organization.id"
              >
                {{ organization.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <app-alert
            class="node-alert"
            *ngIf="node && node?.status !== 'online'"
            [label]="'The node ' + node.name + ' is offline. This task will be handled when the node is back online.'"
          ></app-alert>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="databaseForm">
        <form [formGroup]="databaseForm">
          <ng-template matStepLabel>Select databases</ng-template>
          <ng-container *ngFor="let database of function?.databases">
            <h4>{{ database.name }}</h4>
            <mat-form-field>
              <mat-label>Database</mat-label>
              <mat-select [formControlName]="database.name + '_name'">
                <mat-option *ngFor="let database of databases" [value]="database.name">
                  {{ database.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="databaseForm.get(database.name + '_query')">
              <mat-label>Query</mat-label>
              <textarea matInput type="text" [formControlName]="database.name + '_query'" rows="4"></textarea>
            </mat-form-field>
            <mat-form-field *ngIf="databaseForm.get(database.name + '_sheet')">
              <mat-label>Sheet name</mat-label>
              <input matInput type="text" [formControlName]="database.name + '_sheet'" />
            </mat-form-field>
          </ng-container>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="parameterForm">
        <form [formGroup]="parameterForm">
          <ng-template matStepLabel>Function parameters</ng-template>
          <ng-container *ngFor="let argument of function?.arguments">
            <b>{{ argument.description }}</b>
            <mat-form-field>
              <mat-label>{{ argument.name }}</mat-label>
              <input
                matInput
                [type]="argument.type === argumentType.Integer || argument.type === argumentType.Float ? 'number' : 'text'"
                [formControlName]="argument.name"
              />
            </mat-form-field>
          </ng-container>
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    <div class="button-container">
      <button
        mat-flat-button
        color="primary"
        [disabled]="packageForm.invalid || functionForm.invalid || databaseForm.invalid || parameterForm.invalid"
        (click)="handleSubmit()"
      >
        Submit
      </button>
      <button mat-stroked-button [routerLink]="routes.tasks">Cancel</button>
    </div>
  </mat-card-content>
</mat-card>
