@use "src/app/styles/config.scss" as *;

.user-form {
  &__header {
    padding: 0 16px 16px;
  }
  &__label {
    transform-origin: 0 0;
    transform: scale(0.75);
    color: var(--mat-form-field-filled-label-text-color);
    font-size: var(--mat-form-field-filled-label-text-size);
    font-weight: var(--mat-form-field-filled-label-text-weight);
  }
  &__button-container {
    margin-top: $spacing-px-4;
  }
}
