<mat-card *ngIf="userPermission.hasPermission('view', 'user', 'global') ||
                 userPermission.hasPermission('create', 'user', '*')">
  <div *ngIf="userPermission.hasPermission('view', 'user', 'global')" class="inline">
    Select organization to view:
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>
        {{getOrgNameDropdown()}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
        <button ngbDropdownItem
              [routerLink]="['/users']">
            All
          </button>
        <div *ngFor="let org of organizations">
          <button ngbDropdownItem
              [routerLink]="['/users', org.id]">
            {{org.name}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userPermission.hasPermission('create', 'user', '*')" class="inline">
    <div *ngIf="isShowingSingleOrg() || !userPermission.hasPermission('create', 'user', 'global'); else createAnyOrgBlock" class="inline">
      <button mat-button class="btn btn-dflt btn-right"
          [routerLink]="['/user/create', route_org_id]">
        <mat-icon>add_circle</mat-icon>
        <span>New user</span>
      </button>
    </div>
    <ng-template #createAnyOrgBlock>
      <button mat-button class="btn btn-dflt btn-right"
          [routerLink]="['/user/create']">
        <mat-icon>add_circle</mat-icon>
        <span>New user</span>
      </button>
    </ng-template>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filter columns</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input/>
  </mat-form-field>
</mat-card>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.first_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.last_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Organization</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{getOrgNameTable(elem)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"
    ></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 5, 20]"
                  showFirstLastButtons
                  aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #tpl let-element>
	<div class="mat-row detail-row" [@detailExpand] style="overflow: hidden; margin: 15px;">
    <app-user-view
            [user]="element"
            (deletingResource)="deleteResource(element)"
    ></app-user-view>
    <div *ngIf="element.id===loggedin_user.id" class="inline">
      <button mat-button class="btn btn-dflt btn-top-margin"
        [routerLink]="['/profile']"
        >
          Go to your profile page
      </button>
    </div>
	</div>
</ng-template>