<div *ngIf="userPermission.hasPermission('view', 'user', 'global')">
  <mat-card>
    Select organization to view:
    <div class="inline">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>
          {{getOrgNameDropdown()}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
          <button ngbDropdownItem
                [routerLink]="['/users']">
              All
            </button>
          <div *ngFor="let org of organizations">
            <button ngbDropdownItem
                [routerLink]="['/users', org.id]">
              {{org.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="table_data" >
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let elem">{{elem.username}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let elem">{{elem.email}}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell *matCellDef="let elem">{{elem.first_name}}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let elem">{{elem.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef>Organization</th>
      <td mat-cell *matCellDef="let elem">{{getOrgNameTable(elem)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 5, 20]"
                  showFirstLastButtons
                  aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #tpl let-element>
	<div class="mat-row detail-row" [@detailExpand] style="overflow: hidden; margin: 15px;">
    <app-user-view
            [user]="element"
            (deletingUser)="deleteResource(element)"
            (editingUser)="editUser(element)"
    ></app-user-view>
	</div>
</ng-template>