{{- $namespace := .Values.namespace | default .Release.Namespace }}
{{- $keycloakAdminExistingSecret := .Values.keycloak.auth.adminUserSecret }}
{{- $keycloakAdminSecretName := ($keycloakAdminExistingSecret | default (printf "%s-kc-adm-secret" .Release.Name)) }}
{{- $userSpecifiedKCAdminSecret := ne (trim $keycloakAdminExistingSecret) "" }}
{{- $keycloakAdminSecret := lookup "v1" "Secret" $namespace $keycloakAdminSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-kc-db-secret
  namespace: {{ $namespace }}
  labels:
{{ include "auth.labels" . | indent 4 }}
type: Opaque
stringData:
  username: {{ .Values.database.username }}
  password: {{ .Values.database.password }}
---
{{- if $userSpecifiedKCAdminSecret }}
  {{- if not $keycloakAdminSecret }}
    {{- fail (printf "The secret '%s' specified in keycloak.auth.keycloakAdminExistingSecret was not found in namespace '%s'" $keycloakAdminSecretName $namespace) }}
  {{- end }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $keycloakAdminSecretName }}
  namespace: {{ $namespace }}
  labels:
{{ include "auth.labels" . | indent 4 }}
type: Opaque
stringData:
  username: {{ .Values.keycloak.auth.adminUser }}
  password: {{ .Values.keycloak.auth.adminPassword }}
{{- end }}
