apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-keycloak-db-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
{{ include "auth.labels" . | indent 4 }}
type: Opaque
stringData:
  username: {{ .Values.keycloak.database.username }}
  password: {{ .Values.keycloak.database.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-keycloak-admin-secret
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
{{ include "auth.labels" . | indent 4 }}
type: Opaque
stringData:
  username: {{ .Values.keycloak.auth.adminUser }}
  password: {{ .Values.keycloak.auth.adminPassword }}
