{{- if .Values.keycloak.service }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  labels:
{{ include "auth.labels" . | indent 4 }}
spec:
  type: {{ .Values.keycloak.service.type | default "ClusterIP" }}
  ports:
    {{- if .Values.keycloak.production }}
    - name: https
      port: 8443
      targetPort: 8443
      protocol: TCP
    {{- else }}
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    {{- end }}
  selector:
    app.kubernetes.io/name: {{ include "auth.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
