@import "../../styles/config.scss";

.roles-table {
  border-collapse: collapse;
  position: relative;

  width: 100%;
  max-width: 800px;
  margin-left: 0; // Needed to undo the anti-pattern that is defined on 'mat-card table'

  &__body {
    font-size: 0.9em;
  }

  &__resource-header,
  &__resource {
    text-align: left;
    padding-left: $spacing-px-4;
    padding-right: $spacing-px-4;
    width: 120px;
  }

  &__scope-header,
  &__scope {
    text-align: right;
    padding-left: $spacing-px-4;
    padding-right: $spacing-px-4;
    width: 120px;
  }

  &__resource-header,
  &__scope-header,
  &__operation-header {
    padding-bottom: $spacing-px-4;
  }

  &__even-row {
    background-color: #f0f0f0;
  }

  &__operation-permission-select {
    text-align: center;
  }

  &__check {
    color: $success-700;

    &--secondary {
      color: $warning-700;
    }
  }

  .mdc-checkbox--disabled {
    opacity: 0.3;
  }
}
