<mat-card>
  <mat-card-header>
    <mat-card-title>Create task</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper [linear]="true" orientation="vertical" #stepper>
      <mat-step [stepControl]="packageForm">
        <form [formGroup]="packageForm">
          <ng-template matStepLabel>Select package</ng-template>
          <mat-form-field>
            <mat-label>Algorithm</mat-label>
            <mat-select formControlName="algorithmID">
              <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">
                {{ algorithm.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Analysis name</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Analysis description</mat-label>
            <input matInput type="text" formControlName="description" />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="functionForm">
        <form [formGroup]="functionForm">
          <ng-template matStepLabel>Select function</ng-template>
          <mat-form-field>
            <mat-label>Function</mat-label>
            <mat-select formControlName="functionName">
              <mat-option *ngFor="let function of algorithm?.functions" [value]="function.name">
                {{ function.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="function">
            <mat-label>Organization</mat-label>
            <mat-select *ngIf="function.is_central" formControlName="organizationIDs" multiple>
              <mat-option
                *ngFor="let organization of (chosenCollaborationService.collaboration$ | async)?.organizations"
                [value]="organization.id"
              >
                {{ organization.name }}
              </mat-option>
            </mat-select>
            <mat-select *ngIf="!function.is_central" formControlName="organizationIDs">
              <mat-option
                *ngFor="let organization of (chosenCollaborationService.collaboration$ | async)?.organizations"
                [value]="organization.id"
              >
                {{ organization.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="parametersForm">
        <form [formGroup]="parametersForm">
          <ng-template matStepLabel>Function parameters</ng-template>
          <mat-form-field *ngFor="let argument of function?.arguments">
            <mat-label>{{ argument.name }}</mat-label>
            <input matInput type="text" [formControlName]="argument.name" />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
