<app-page-header title="Tasks">
  <button actions mat-flat-button color="primary" *ngIf="canCreateTask" [routerLink]="routes.taskCreate">
    <mat-icon>add</mat-icon>Create task
  </button>
</app-page-header>
<mat-card>
  <mat-card-content>
    <ng-container *ngIf="!isLoading; else loading">
      <table mat-table class="clickable-table" [dataSource]="tasks">
        <ng-container [matColumnDef]="tableRows.ID">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let task">{{ task.id }}</td>
        </ng-container>
        <ng-container [matColumnDef]="tableRows.Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let task">{{ task.name }}</td>
        </ng-container>
        <ng-container [matColumnDef]="tableRows.Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let task">
            <app-chip label="{{ task.status }}" [type]="getChipTypeForStatus(task.status)"></app-chip>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="handleRowClick(row)"
          (keypress)="handleRowKeyPress($event, row)"
          tabindex="0"
        ></tr>
      </table>
      <mat-paginator (page)="handlePageEvent($event)" [length]="pagination?.total" pageSize="10" [hidePageSize]="true"></mat-paginator>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-spinner diameter="48"></mat-spinner>
</ng-template>
