@use "@angular/material" as mat;
@import "config.scss";

// ANGULAR MATERIAL SETUP
@include mat.core();

$primary-pallette: mat.m2-define-palette($vantage-primary, 900);
$accent-pallette: mat.m2-define-palette($vantage-accent, 800);

$vantage-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-pallette,
      accent: $accent-pallette
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($vantage-theme);
@include mat.list-density(-2);

// ANGULAR MATERIAL OVERRIDES
mat-form-field {
  width: 100%;
}

mat-card {
  mat-card-header {
    margin-bottom: $spacing-px-2;
  }

  mat-stepper {
    .mat-vertical-content {
      padding: $spacing-px-2 $spacing-px-6;
    }
  }
}

.checkbox-form-field {
  margin-bottom: $spacing-px-3;

  mat-checkbox {
    margin-bottom: 0;
  }

  mat-hint {
    display: block;
    margin-left: $spacing-px-4;
    font-size: var(--mdc-typography-caption-font-size, $spacing-px-3);
  }
}

.form {
  mat-form-field,
  mat-checkbox {
    margin-bottom: $spacing-px-4;
  }

  mat-checkbox {
    margin-top: $spacing-px-minus-1;
    margin-bottom: $spacing-px-3;
  }
}
