<mat-card>
  <mat-card-content>
    <h1>Welcome</h1>
    <span>
      You are using vantage6 with server <b>{{ serverUrl }}</b
      >, user interface (UI) version {{ uiVersion }} and server version {{ serverVersion }}.
    </span>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h2>About this user interface</h2>
    <p>Use this user interface to create tasks, view results, and manage your vantage6 resources.</p>
    <h4>Problems or questions?</h4>
    <p>
      Reach out to us on <a href="https://discord.com/invite/yAyFf6Y">Discord</a> if you have questions about how this UI works. If you want
      to report a bug or request a new feature, please create a
      <a href="https://github.com/vantage6/vantage6-UI/issues/new/choose">new issue</a>.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <h2>Vantage6 resources</h2>
    <p>You can find more information on vantage6 in the following places:</p>
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <a href="https://vantage6.ai">
          <img class="link-pic" src="/assets/images/vantage6_logo.png" alt="logo" />
          <div class="inline link-text">Project website</div>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a href="https://docs.vantage6.ai/">
          <img class="link-pic" src="/assets/images/vantage6_logo.png" alt="docs" />
          <div class="inline link-text">Documentation</div>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a href="https://discord.com/invite/yAyFf6Y">
          <img class="link-pic" src="/assets/images/discord-logo.svg" alt="discord" />
          <div class="inline link-text">Discord community</div>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a href="https://github.com/vantage6">
          <img class="link-pic" src="/assets/images/github-logo.png" alt="github" />
          <div class="inline link-text">Github repositories</div>
        </a>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
