.column {
  float: center;
  width: 50%;
}

mat-card {
  margin-bottom: 10px;
}

.link-text {
  color: black;
  font-style: italic;
  text-decoration: none;
}

.link-pic {
  width: 120px;
  margin-right: 15px;
}

.inline {
  display: inline;
}
