<ng-container *ngIf="!isLoading && !isSubmitting && collaboration; else loading">
  <app-page-header [title]="collaboration.name"></app-page-header>
  <mat-card>
    <mat-card-content>
      <app-collaboration-form
        [collaboration]="collaboration"
        (submitted)="handleSubmit($event)"
        (cancelled)="handleCancel()"
      ></app-collaboration-form>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
</ng-template>
