<mat-card>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr>
      <td>Username:</td>
      <td><input [(ngModel)]="user.username"/></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input [(ngModel)]="user.email"/></td>
    </tr>
    <tr *ngIf="isCreate()">
      <td>Password:</td>
      <td><input type="password" [(ngModel)]="user.password"/></td>
    </tr>
    <tr *ngIf="isCreate()">
      <td>Repeat password:</td>
      <td>
        <input type="password" [(ngModel)]="user.password_repeated"/>
        <p class="inline text-warning" *ngIf="user.password != user.password_repeated">
          Passwords do not match!
        </p>
      </td>
    </tr>
    <tr>
      <td>First name:</td>
      <td><input [(ngModel)]="user.first_name"/></td>
    </tr>
    <tr>
      <td>Last name:</td>
      <td><input [(ngModel)]="user.last_name"/></td>
    </tr>
    <tr *ngIf="isCreateAnyOrg()">
      <td>Organization:</td>
      <td>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="dropdownRoles" ngbDropdownToggle>
            <span class="align-top">{{getNameOrgDropdown()}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownRoles">
            <div *ngFor="let org of organizations">
              <button ngbDropdownItem (click)="selectOrg(org)">{{org.name}}</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Role(s):</td>
        <td>
        <div *ngIf="user.id===loggedin_user.id; else modifyRulesBlock">
          <div *ngFor="let role of user.roles" class="inline">
            <button mat-button class="btn btn-detail btn-inline" disabled>
              {{role.name}}
            </button>
          </div>
          <br/>
          You can't modify your own permissions!
        </div>
        <ng-template #modifyRulesBlock>
          <div *ngFor="let role of user.roles" class="inline">
            <button mat-button class="btn btn-delete btn-inline" (click)="removeRole(role)">
              <mat-icon>remove_circle</mat-icon>
              <span>{{role.name}}</span>
            </button>
          </div>
          <div class="inline" *ngIf="roles_assignable.length > 0 && can_assign_roles_rules; else noAssignableRolesBlock">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-dropdown" id="dropdownRoles" ngbDropdownToggle>
                <mat-icon>add_circle</mat-icon>
                <span class="align-top">Add role</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownRoles">
                <div *ngFor="let role of roles_assignable">
                  <button ngbDropdownItem (click)="addRole(role)">{{role.name}}</button>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noAssignableRolesBlock>
            {{ getTextReasonNoRoles()}}
          </ng-template>
        </ng-template>
      </td>
    </tr>
  </table>
  <div *ngIf="user.id!==loggedin_user.id && can_assign_roles_rules">
    <app-permission-table
        [given_roles]="user.roles"
        [given_rules]="user.rules"
        [loggedin_user_rules]="userPermission.userRules"
        [is_edit_mode]="true"
        (addedRulesChangeEvent)="updateAddedRules($event)"
    ></app-permission-table>
  </div>
  <button mat-button class="btn btn-save" (click)="save()">
    Save
  </button>
  <button mat-button class="btn btn-dflt" (click)="cancel()">
    Cancel
  </button>
</mat-card>
