<ng-container *ngIf="!isLoading && algorithm">
  <app-page-header title="{{ algorithm.name }}">
    <button actions mat-icon-button class="page-header__more" [matMenuTriggerFor]="menu" *ngIf="canDelete || canDelete">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="canEdit" [routerLink]="[routes.algorithmEdit, id]">
        <mat-icon>edit</mat-icon>
        <span>{{ "general.edit" | translate }}</span>
      </button>
      <button mat-menu-item *ngIf="canDelete" (click)="handleInvalidate()">
        <mat-icon>block</mat-icon>
        <span>{{ "algorithm-read.invalidate" | translate }}</span>
      </button>
      <button mat-menu-item *ngIf="canDelete" (click)="handleDelete()">
        <mat-icon>delete</mat-icon>
        <span>{{ "general.delete" | translate }}</span>
      </button>
    </mat-menu>
  </app-page-header>
  <div *ngIf="algorithm?.status === algorithmStatus.AwaitingReviewerAssignment">
    <app-alert-with-button
      *ngIf="canAssignReviewers"
      label="{{ 'algorithm-read.alert.assign-review.content' | translate }}"
      buttonLink="{{ getButtonLink(routes.algorithmReviewAssign, algorithm?.id) }}"
      buttonText="{{ 'algorithm-read.alert.assign-review.assign' | translate }}"
      [isSuccessAlert]="false"
    ></app-alert-with-button>
    <app-alert-with-button
      *ngIf="!canAssignReviewers"
      label="{{ 'algorithm-read.alert.assign-review.content' | translate }}"
    ></app-alert-with-button>
  </div>
  <div *ngIf="algorithm?.status === algorithmStatus.UnderReview">
    <app-alert-with-button
      *ngIf="canViewReviews"
      label="{{ 'algorithm-read.alert.under-review.content' | translate }}"
      buttonLink="{{ getButtonLink(routes.algorithmReview, algorithm?.id) }}"
      buttonText="{{ 'algorithm-read.alert.under-review.view' | translate }}"
      [isSuccessAlert]="false"
    ></app-alert-with-button>
    <app-alert-with-button
      *ngIf="!canViewReviews"
      label="{{ 'algorithm-read.alert.under-review.content' | translate }}"
    ></app-alert-with-button>
  </div>
  <app-alert *ngIf="showInvalidatedAlert()" label="{{ 'algorithm-read.alert.invalidated' | translate: { status: algorithm?.status } }}">
  </app-alert>
  <app-display-algorithm [algorithm]="algorithm"></app-display-algorithm>
</ng-container>
<mat-card *ngIf="isLoading">
  <mat-card-content>
    <mat-spinner diameter="48"></mat-spinner>
  </mat-card-content>
</mat-card>
