<ng-container *ngIf="!isLoading && algorithmStore">
  <app-page-header title="{{ algorithmStore.name }}"></app-page-header>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-read.card-details.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-list">
        <div class="data-list__item">
          <b>{{ "general.id" | translate }}</b>
          <span>{{ algorithmStore.id || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "general.name" | translate }}</b>
          <span>{{ algorithmStore.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "algorithm-store.url" | translate }}</b>
          <span>{{ algorithmStore.url || "-" }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-store-read.card-collaborations.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!algorithmStore.all_collaborations; else noCollaborations">
        <p>
          {{ "algorithm-store-read.card-collaborations.description" | translate }}
        </p>
        <app-table [data]="collaborationTable" [isLoading]="isLoading"></app-table>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="algorithms">
    <mat-card-header>
      <mat-card-title>{{ "algorithm-store-read.card-algorithms.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ "algorithm-store-read.card-algorithms.description" | translate }}</p>
      <app-display-algorithms [algorithms]="algorithms" [routeOnClick]="routePaths.algorithmManage"></app-display-algorithms>
    </mat-card-content>
  </mat-card>
</ng-container>
<mat-card *ngIf="isLoading">
  <mat-card-content>
    <mat-spinner diameter="48"></mat-spinner>
  </mat-card-content>
</mat-card>
<ng-template #noCollaborations>
  <p>{{ "algorithm-store-read.for-all-collaborations" | translate }}</p>
</ng-template>
