<h6>Enter your reset token</h6>
<p>You should have received your reset token by email</p>
<form
  name="form"
  (ngSubmit)="reset_form.form.valid && onSubmit()"
  #reset_form="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="reset_token">Reset token</label>
    <input
      type="text"
      class="form-control"
      name="reset_token"
      [(ngModel)]="form.reset_token"
      required
      #reset_token="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="reset_token.errors && reset_form.submitted"
    >
      Reset token is required!
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">
      Reset two-factor authentication
    </button>
  </div>
  <div class="form-group">
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="reset_form.submitted && api_call_complete"
    >
    Resetting two-factor authentication failed: {{ error_message }}
    </div>
  </div>
</form>