@if (!isLoading && !isLoadingRepeatTask) {
  <form class="form" [formGroup]="formGroup">
    @if (hasNoSessions) {
      <div class="margin-bottom-4">
        <app-alert label="{{ 'task-create.alert-no-sessions-found' | translate }}"> </app-alert>
      </div>
    }
    <div class="margin-bottom-4">
      <button mat-flat-button color="primary" [routerLink]="routes.sessionCreate">
        <mat-icon>add</mat-icon>{{ "session-create.create-title" | translate }}
      </button>
    </div>
    @if (hasSessions) {
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "task.session" | translate }}</mat-label>
        <mat-select formControlName="sessionID">
          @for (session of sessions; track session) {
            <mat-option [value]="session.id.toString()">
              {{ session.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (shouldShowNoDataframesAlert) {
      <app-alert-with-button
        class="node-alert"
        label="{{ 'task-create.alert-no-dataframes-in-session' | translate }}"
        buttonText="{{ 'task-create.step-dataframe.create-new-df' | translate }}"
        buttonLink="{{ routes.dataframeCreate + '/' + session?.id }}"
        [isSuccessAlert]="false"
      >
      </app-alert-with-button>
    }
    @if (allDataframesNotReady) {
      <app-alert-with-button
        class="node-alert"
        label="{{ 'task-create.alert-dataframes-not-ready' | translate }}"
        buttonText="{{ 'task-create.step-dataframe.create-new-df' | translate }}"
        buttonLink="{{ routes.dataframeCreate + '/' + session?.id }}"
        [isSuccessAlert]="false"
      >
      </app-alert-with-button>
    }
  </form>
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
