$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$success-500: #4caf50;
$error-500: #f44336;
$active-500: #ffeb3b;

$warning-50: #fff3e0;
$warning-100: #ffe0b2;
$warning-200: #ffcc80;
$warning-300: #ffb74d;
$warning-400: #ffa726;
$warning-500: #ff9800;
$warning-600: #fb8c00;
$warning-700: #f57c00;
$warning-800: #ef6c00;
$warning-900: #e65100;

$spacing-px-1: 4px;
$spacing-px-2: 8px;
$spacing-px-3: 12px;
$spacing-px-4: 16px;
$spacing-px-5: 20px;
$spacing-px-6: 24px;
$spacing-px-8: 32px;
$spacing-px-10: 40px;
$spacing-px-12: 48px;
$spacing-px-16: 64px;

$spacing-px-minus-1: -4px;
$spacing-px-minus-2: -8px;
$spacing-px-minus-3: -12px;
$spacing-px-minus-4: -16px;
$spacing-px-minus-5: -20px;
$spacing-px-minus-6: -24px;
$spacing-px-minus-8: -32px;
$spacing-px-minus-10: -40px;
$spacing-px-minus-12: -48px;
$spacing-px-minus-16: -64px;
