$spacing-px-1: 4px;
$spacing-px-2: 8px;
$spacing-px-3: 12px;
$spacing-px-4: 16px;
$spacing-px-5: 20px;
$spacing-px-6: 24px;
$spacing-px-8: 32px;
$spacing-px-10: 40px;
$spacing-px-12: 48px;
$spacing-px-16: 64px;
