@use "@angular/material" as mat;
@import "config.scss";

@include mat.core();

$vantage-primary: (
  50: #e4f1f8,
  100: #bddbf0,
  200: #96c5e6,
  300: #72afda,
  400: #5a9ed4,
  500: #478fcd,
  600: #3e82c0,
  700: #3571af,
  800: #2e609d,
  900: #21447d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$vantage-accent: (
  50: #fffde6,
  100: #fef8c2,
  200: #fdf399,
  300: #fcee6f,
  400: #fae94d,
  500: #f8e428,
  600: #fad527,
  700: #f9bc1e,
  800: #f7a415,
  900: #f47a03,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text
  )
);

$primary-pallette: mat.define-palette($vantage-primary, 900);
$accent-pallette: mat.define-palette($vantage-accent, 800);

$vantage-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-pallette,
      accent: $accent-pallette
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($vantage-theme);
@include mat.list-density(-2);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Angular Material overrides
mat-form-field {
  width: 100%;
}

//Reusable styles
.login-card {
  margin: 0 $spacing-px-4;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-px-4;
}

mat-card {
  mat-card-header {
    margin-bottom: $spacing-px-2;
  }

  table {
    width: calc(100% + $spacing-px-8);
    margin-left: $spacing-px-minus-4;
  }

  mat-spinner {
    margin: auto;
  }

  // TODO this styling is ugly - the contents of the entire card should be
  // centered, not just the spinner
  .spinnerWithMessage {
    display: flex;
    margin-left: 40%;
    margin-right: 10px;
  }

  .loadingMessage {
    align-items: center;
    display: flex;
  }
}

.button-container {
  display: flex;
  gap: $spacing-px-2;
}

.clickable-table {
  &.mdc-data-table__table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .mat-mdc-cell {
    position: relative;
    cursor: pointer;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: "";
      opacity: 0;
      pointer-events: none;
    }
  }

  .mat-mdc-row:hover {
    .mat-mdc-cell::before {
      background-color: black;
      opacity: 0.04;
    }
  }

  .mat-mdc-row:focus-visible {
    outline: none;

    .mat-mdc-cell::before {
      background-color: black;
      opacity: 0.12;
    }
  }
}

.card-accordion {
  mat-expansion-panel.mat-expansion-panel {
    width: calc(100% + $spacing-px-8);
    margin: 0 0 0 $spacing-px-minus-4;
    box-shadow: none;
    border-radius: 0 !important;

    &:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-expansion-panel-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .mat-expansion-panel-body {
      margin-top: $spacing-px-4;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}

.data-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-px-4;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-px-1;
    word-break: break-all;
    padding-bottom: $spacing-px-1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &--big {
      grid-column: span 2;
    }

    &--full {
      grid-column: span 3;
    }
  }

  &__header {
    margin: $spacing-px-4 0 $spacing-px-1 0;
  }
}

//TODO: Dirty fix for the page header slotted component, find a better way to do this
.page-header__more {
  margin: -6px -6px -12px 0;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-px-2;
}

.form {
  mat-form-field,
  mat-checkbox {
    margin-bottom: $spacing-px-4;
  }

  mat-checkbox {
    margin-top: $spacing-px-minus-1;
    margin-bottom: $spacing-px-3;
  }
}

.checkbox-form-field {
  margin-bottom: $spacing-px-3;

  mat-checkbox {
    margin-bottom: 0;
  }

  mat-hint {
    display: block;
    margin-left: $spacing-px-4;
    font-size: var(--mdc-typography-caption-font-size, $spacing-px-3);
  }
}

mat-card {
  mat-stepper {
    .mat-vertical-content {
      padding: $spacing-px-2 $spacing-px-6;
    }
  }
}
