<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <a href="https://vantage6.ai">
            <img src="/assets/images/logo.png" class="logo" alt="vantage6"/>
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<app-page-header title="Community Store">

</app-page-header>
<ng-container *ngIf="!isLoading; else loading">
    <app-algorithm-table [algorithms]="algorithms"></app-algorithm-table>
    <mat-card *ngIf="algorithms.length === 0">
        <mat-card-content>
            <p>{{ "algorithm-list.no-algorithms" | translate }}</p>
        </mat-card-content>
    </mat-card>
</ng-container>
<ng-template #loading>
    <mat-spinner diameter="48"></mat-spinner>
</ng-template>