<h6>Enter your reset token and new password</h6>
<p>You should have received your reset token by email</p>
<form
  name="form"
  (ngSubmit)="reset_form.form.valid && onSubmit()"
  #reset_form="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="reset_token">Reset token</label>
    <input
      type="text"
      class="form-control"
      name="reset_token"
      [(ngModel)]="form.reset_token"
      required
      #reset_token="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="reset_token.errors && reset_form.submitted"
    >
      Reset token is required!
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="form.password"
      required
      #password="ngModel"
      />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="password.errors && reset_form.submitted"
    >
      <div *ngIf="password.errors.required">Password is required!</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password_repeated">Repeat password</label>
    <input
      type="password"
      class="form-control"
      name="password_repeated"
      [(ngModel)]="form.password_repeated"
      required
      #password_repeated="ngModel"
      />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="reset_form.submitted && password_repeated.errors"
    >
      <div *ngIf="password_repeated.errors.required">Repeat your password!</div>
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="reset_form.submitted && password_repeated.value !== password.value"
    >
      Passwords are not the same!
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">
      Reset your password
    </button>
  </div>
  <div class="form-group">
    <div
    class="alert alert-danger"
    role="alert"
    *ngIf="reset_form.submitted && api_call_complete"
    >
    Setting password failed: {{ error_message }}
    </div>
  </div>
</form>