<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{collaboration.name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr>
      <td>Name:</td>
      <td>{{collaboration.name}}</td>
    </tr>
    <tr>
      <td>Encrypted:</td>
      <td>{{encrypted()}}</td>
    </tr>
    <tr>
      <td>Organization(s):</td>
      <td>
        <div *ngFor="let org of collaboration.organizations" class="inline">
            <button mat-button class="btn-detail" (click)="goToOrg(org)"
              [disabled]="!userPermission.can('view', 'organization', org.id)"> <!-- TODO add mouseover if someone is not allowed to view details -->
              {{org.name}}
            </button>
        </div>
        <div *ngIf="collaboration.organizations.length===0">
          No organizations are taking part in this collaboration!
        </div>
      </td>
    </tr>
    <tr>
      <td>Node(s):</td>
      <td>
        <div *ngFor="let org of collaboration.organizations" class="inline">
            <!-- <button mat-button class="btn-detail inline" disabled> -->
            <button mat-button
                    [className]="getButtonClasses(org)"
                    [disabled]="isDisabled(org)"
                    (click)="goToNode(org)"
                    >
              {{getNodeButtonText(org)}}
            </button>
        </div>
        <div *ngIf="collaboration.organizations.length===0">
          No organizations are taking part in this collaboration!
        </div>
      </td>
    </tr>

  </table>
  <div *ngIf="userPermission.hasPermission('view', 'node', 'global') && orgs_without_nodes.length > 0">
    <p class="text-warning">
      <mat-icon>warning</mat-icon>
      There are {{ orgs_without_nodes.length }} organizations in this
      collaboration without a node!
    </p>
  </div>
  <div *ngIf="userPermission.hasPermission('create', 'node', 'global')">
    <button *ngFor="let org of orgs_without_nodes"
            (click)="createNode(org)"
            mat-button class="btn btn-save inline">
      Register node for '{{ org.name }}'
    </button>
  </div>
  <br/>
  <button *ngIf="userPermission.hasPermission('edit', 'collaboration', 'global')"
      mat-button class="btn btn-edit inline"
      (click)="editCollab()" [routerLink]="['/collaboration', collaboration.id, 'edit']"
      >
    Edit
  </button>
  <button *ngIf="userPermission.hasPermission('delete', 'collaboration', 'global')"
      mat-button class="btn btn-delete-strong" (click)="delete()"
      >
    Delete
  </button>
</mat-expansion-panel>