@use 'src/app/shared/scss/variables' as v;

.inline {
  display: inline;
}

.btn-offline {
  background-color: v.$red !important;
}

.btn-online {
  background-color: v.$green !important;
}

.text-warning {
  color: v.$vtg-orange;
  font-weight: bold;
}
