<div *ngIf="(userPermission.hasPermission('view', 'organization', 'collaboration') ||
             userPermission.hasPermission('view', 'organization', 'global') ||
             userPermission.hasPermission('view', 'collaboration', '*')
             ) && userPermission.hasPermission('view', 'node', 'global')">
  <mat-card>
    <div class="inline">
      {{getSelectDropdownText()}}
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>
          {{getNameDropdown()}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
          <button ngbDropdownItem
                [routerLink]="['/nodes']">
              All
          </button>
          <div *ngIf="userPermission.hasPermission('view', 'organization', 'collaboration') ||
                      userPermission.hasPermission('view', 'organization', 'global')">
            <div class="dropdown-divider"></div>
            <div class="dropdown-subsection">Organizations</div>
            <div *ngFor="let org of organizations">
              <button ngbDropdownItem
                  [routerLink]="['/nodes/org', org.id]">
                {{org.name}}
              </button>
            </div>
          </div>
          <div *ngIf="userPermission.hasPermission('view', 'collaboration', '*')">
            <div class="dropdown-divider"></div>
            <div class="dropdown-subsection">Collaborations</div>
            <div *ngFor="let col of collaborations">
              <button ngbDropdownItem
                  [routerLink]="['/nodes/collab', col.id]">
                {{col.name}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="table_data" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let elem">{{elem.name}}</td>
    </ng-container>

    <ng-container matColumnDef="collaboration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Collaboration</th>
      <td mat-cell *matCellDef="let elem">{{elem.collaboration.name}}</td>
    </ng-container>

    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization</th>
      <td mat-cell *matCellDef="let elem">{{getOrgNameTable(elem)}}</td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let elem">
        <button mat-button class="btn btn-dflt" ngbDropdownItem [routerLink]="['/node', elem.id, 'view', elem.organization.id]">
          View node
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 5, 20]"
                  showFirstLastButtons
                  aria-label="Select page">
  </mat-paginator>
</div>
