<mat-card>
  <div class="inline"
  *ngIf="(userPermission.hasPermission('view', 'organization', 'collaboration') ||
          userPermission.hasPermission('view', 'organization', 'global') ||
          userPermission.hasPermission('view', 'collaboration', '*')
          ) && userPermission.hasPermission('view', 'node', 'global')">
    {{getSelectDropdownText()}}
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>
        {{getNameDropdown()}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
        <button ngbDropdownItem
              [routerLink]="['/nodes']">
            All
        </button>
        <div *ngIf="userPermission.hasPermission('view', 'organization', 'collaboration') ||
                    userPermission.hasPermission('view', 'organization', 'global')">
          <div class="dropdown-divider"></div>
          <div class="dropdown-subsection">Organizations</div>
          <div *ngFor="let org of organizations">
            <button ngbDropdownItem
                [routerLink]="['/nodes/org', org.id]">
              {{org.name}}
            </button>
          </div>
        </div>
        <div *ngIf="userPermission.hasPermission('view', 'collaboration', '*')">
          <div class="dropdown-divider"></div>
          <div class="dropdown-subsection">Collaborations</div>
          <div *ngFor="let col of collaborations">
            <button ngbDropdownItem
                [routerLink]="['/nodes/collab', col.id]">
              {{col.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filter columns</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input/>
  </mat-form-field>
</mat-card>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="collaboration">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Collaboration</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.collaboration.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Organization</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{getOrgNameTable(elem)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"
    ></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 5, 20]"
                  showFirstLastButtons
                  aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #tpl let-element>
	<div class="mat-row detail-row" [@detailExpand] style="overflow: hidden; margin: 15px;">
    <app-node-view
      [node]="element"
      (deletingResource)="deleteResource(element)"
    ></app-node-view>
	</div>
</ng-template>