@import "../../../styles/config.scss";

.node-alert {
  display: block;
  margin-bottom: $spacing-px-2;
}

.field-description {
  // font-style: italic;
  margin-bottom: $spacing-px-2;
}

.detail-txt {
  font-size: small;
  color: grey;
  display: inline;
}

.newLineCheckbox {
  display: block;
}