<mat-card>
  <h4>View roles</h4>
  <div *ngIf="userPermission.hasPermission('view', 'role', 'global') &&
              userPermission.hasPermission('view', 'organization', 'global')"
      class="inline">
    Select organization to view:
    <div class="inline">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>
          {{getOrgNameDropdown()}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
          <button ngbDropdownItem
                [routerLink]="['/roles']">
              All
            </button>
          <div *ngFor="let org of organizations">
            <button ngbDropdownItem
                [routerLink]="['/roles', org.id]">
              {{org.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userPermission.hasPermission('create', 'role', '*')" class="inline">
    <div *ngIf="isShowingSingleOrg() || !userPermission.hasPermission('create', 'role', 'global'); else createAnyOrgBlock" class="inline">
      <button mat-button class="btn btn-dflt btn-right"
          [routerLink]="['/role/create', route_org_id]">
        <mat-icon>add_circle</mat-icon>
        <span>New role</span>
      </button>
    </div>
    <ng-template #createAnyOrgBlock>
      <button mat-button class="btn btn-dflt btn-right"
          [routerLink]="['/role/create']">
        <mat-icon>add_circle</mat-icon>
        <span>New role</span>
      </button>
    </ng-template>
  </div>
  <br/>
  <mat-form-field appearance="standard" class="inline">
    <mat-label>Filter columns</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input/>
  </mat-form-field>
  <mat-checkbox [checked]="show_default_roles" (change)="toggleDefaultRoles()" class="inline">
    Show default roles
  </mat-checkbox>
</mat-card>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{elem.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Organization</mat-header-cell>
      <mat-cell *matCellDef="let elem">{{getOrgNameTable(elem)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"
    ></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 5, 20]"
    (page)="getPage($event)"
    [length]="dataService.get_total_number_resources()"
    showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #tpl let-element>
	<div class="mat-row detail-row" [@detailExpand] style="overflow: hidden; margin: 15px;">
    <app-role-view
            [role]="element"
            (deletingResource)="deleteResource(element)"
    ></app-role-view>
	</div>
</ng-template>