organizations:
{% for org in organizations %}
- name: {{ org['name'] }}
  domain: vantage6.ai
  address1: vantage street 76
  address2:
  zipcode: 7600VA
  country: Netherlands
  {% if org['make_admin'] %}
  users:
    - username: dev_admin
      firstname: admin
      lastname: robot
      password: Password123!
  {% endif %}
{% endfor %}
collaborations:
- name: {{ collaboration['name'] }}
  participants:
  {% if collaboration['participants'] %}
  {% for party in collaboration['participants'] %}
    - name: {{ party['name'] }}
  {% endfor %}
  {% endif %}
  encrypted: false