<div *ngIf="userPermission.hasPermission('view', 'collaboration', 'organization') && my_collaborations.length>0">
  <mat-card>
    <h4 class="inline">
      Your collaborations
    </h4>
    <div *ngIf="userPermission.hasPermission('create', 'collaboration', 'global')" class="inline">
      <button mat-button class="btn btn-dflt btn-right"
              [routerLink]="['/collaboration', 'create']">
        <mat-icon>add_circle</mat-icon>
        <span>New collaboration</span>
      </button>
    </div>
    <div class="vertical-spacer"></div>
    <div *ngFor="let col of my_collaborations">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{col.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-collaboration-view
          [collaboration]="col"
          (deletingCollab)="deleteCollaboration(col)"
          (editingCollab)="collabDataService.save(col)"
        ></app-collaboration-view>
      </mat-expansion-panel>
    </div>
  </mat-card>
</div>
<div *ngIf="userPermission.hasPermission('view', 'collaboration', 'global') && other_collaborations.length>0">
  <mat-card>
    <h4>
      Other collaborations
    </h4>
    <p>
      These are collaborations which your organization is not involved in.
      You can only see these because you have root permissions!
    </p>
    <div *ngFor="let col of other_collaborations">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{col.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-collaboration-view
          [collaboration]="col"
          (deletingCollab)="deleteCollaboration(col)"
          (editingCollab)="collabDataService.save(col)"
        ></app-collaboration-view>
      </mat-expansion-panel>
    </div>
  </mat-card>
</div>