<div class="searchable-table" [ngClass]="getComponentClass()">
  <form [formGroup]="searchForm">
    @if (data) {
      <table mat-table [dataSource]="data.rows" class="clickable-table">
        @for (column of data.columns; track column) {
          <ng-container [matColumnDef]="'search-' + column.id">
            <th mat-header-cell *matHeaderCellDef>
              @if (column.searchEnabled) {
                <div>
                  <mat-form-field>
                    <input matInput [placeholder]="getPlaceholder(column)" [formControlName]="column.id" type="search" />
                  </mat-form-field>
                </div>
              }
            </th>
            <td mat-cell *matCellDef="let element">{{ element.columnData[column.id] }}</td>
          </ng-container>
        }
        @for (column of data.columns; track column) {
          <ng-container [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.label }}
            </th>
            @if (!column.isChip) {
              <div>
                <td
                  mat-cell
                  *matCellDef="let element"
                  [innerHtml]="
                    element.columnData[column.id]
                      | highlight: $safeNavigationMigration(searchForm.value?.name) : column.searchEnabled ?? false
                  "
                ></td>
              </div>
            }
            @if (column.isChip && column.chipTypeProperty) {
              <div>
                <td mat-cell *matCellDef="let element">
                  <app-chip [label]="element.columnData[column.id]" [type]="element.columnData[column.chipTypeProperty]"></app-chip>
                </td>
              </div>
            }
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="searchColumnsToDisplay" class="searchable-table__search-header-row"></tr>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="searchable-table__header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="handleRowClick(row)" class="searchable-table__data-row"></tr>
      </table>
    }
  </form>
  <div class="searchable-table__loading-indicator">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
</div>
