@if (!isLoading) {
  <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "collaboration.name" | translate }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-checkbox formControlName="encrypted" color="primary" labelPosition="before">
      {{ "collaboration.encrypted" | translate }}
    </mat-checkbox>
    @if (!isEdit) {
      <mat-checkbox formControlName="session_restrict_to_same_image" color="primary" labelPosition="before">
        {{ "collaboration.session-restrict-to-same-image" | translate }}
      </mat-checkbox>
    }
    @if (canEditOrganizations) {
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "collaboration.organizations" | translate }}</mat-label>
        <mat-select
          multiple
          formControlName="organizations"
          (selectionChange)="handleOrganizationChange($event)"
          [compareWith]="compareOrganizationsForSelection"
        >
          @for (organization of organizations; track organization) {
            <mat-option [value]="organization">
              {{ organization.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (!isEdit || (isEdit && newOrganizations.length > 0)) {
      <mat-checkbox formControlName="registerNodes" color="primary" labelPosition="before">
        {{
          isEdit
            ? ("collaboration-create.register-nodes-edit" | translate: { organizations: newOrganizationNames })
            : ("collaboration-create.register-nodes" | translate)
        }}
      </mat-checkbox>
    }
    <div class="button-container">
      <button mat-flat-button type="submit" color="primary">{{ "general.submit" | translate }}</button>
      <button mat-flat-button (click)="handleCancel()">{{ "general.cancel" | translate }}</button>
    </div>
  </form>
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
