@use '../../globals/variables' as v;

mat-expansion-panel {
  margin-top: 10px;
}

.inline {
  display: inline;
}

.align-top {
  vertical-align: top;
}

table {
  margin-bottom: 15px;
}

table td {
  vertical-align: top;
}

tr {
  margin-bottom: 3px;
}
