<form class="form" [formGroup]="form">
  <ng-container *ngFor="let functionDatabase of functionDatabases">
    <h4>{{ functionDatabase.name }}</h4>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>{{ "task.database" | translate }}</mat-label>
      <mat-select [formControlName]="functionDatabase.name + '_name'">
        <mat-option *ngFor="let availableDatabase of availableDatabases" [value]="availableDatabase.name">
          {{ availableDatabase.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="form.get(functionDatabase.name + '_query')" subscriptSizing="dynamic">
      <mat-label>{{ "task.query" | translate }}</mat-label>
      <textarea matInput type="text" [formControlName]="functionDatabase.name + '_query'" rows="4"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="form.get(functionDatabase.name + '_sheet')" subscriptSizing="dynamic">
      <mat-label>{{ "task.sheet" | translate }}</mat-label>
      <input matInput type="text" [formControlName]="functionDatabase.name + '_sheet'" />
    </mat-form-field>
  </ng-container>
</form>
