<form class="form" [formGroup]="form">
  <ng-container *ngFor="let functionDatabase of functionDatabases">
    <h4>{{ functionDatabase.name }}</h4>
    <div *ngIf="availableDatabases.length > 0; else noDatabasesBlock">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "task.database" | translate }}</mat-label>
        <mat-select [formControlName]="functionDatabase.name + '_name'">
          <mat-option *ngFor="let availableDatabase of availableDatabases" [value]="availableDatabase">
            {{ availableDatabase.name }} <div class="detail-txt">({{ availableDatabase.type }})</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="form.get(functionDatabase.name + '_query')">
      <div class="field-description">
        {{ "task-create.step-database.description.query" | translate: { dbType: selectedDatabase?.type || "SQL" } }}
      </div>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "task.query" | translate }}</mat-label>
        <textarea matInput type="text" [formControlName]="functionDatabase.name + '_query'" rows="4"></textarea>
      </mat-form-field>
    </div>
    <div *ngIf="form.get(functionDatabase.name + '_sheet')">
      <div class="field-description">
        {{ "task-create.step-database.description.worksheet" | translate }}
      </div>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "task.sheet" | translate }}</mat-label>
        <input matInput type="text" [formControlName]="functionDatabase.name + '_sheet'" />
      </mat-form-field>
    </div>
  </ng-container>
</form>
<ng-template #noDatabasesBlock>
  <app-alert
    class="node-alert"
    *ngIf="node && node.config.length === 0"
    label="{{ 'task-create.alert-no-node-config' | translate: { name: node.name } }}"
  ></app-alert>
  <app-alert
    class="node-alert"
    *ngIf="node && node.config.length > 0 && !nodeConfigContainsDatabases()"
    label="{{ 'task-create.alert-no-databases' | translate: { name: node.name } }}"
  ></app-alert>
</ng-template>