<table style="width: 100%">
  <colgroup>
    <col span="1" style="width: 20%;"/>
    <col span="1" style="width: 80%;"/>
  </colgroup>
  <tr>
    <td>Description:</td>
    <td>{{role.description}}</td>
  </tr>
  <tr *ngIf="users_with_this_role &&
              (userPermission.hasPermission('view', 'user', 'organization') ||
               userPermission.hasPermission('view', 'user', 'global'))">
    <td>Users with this role:</td>
    <td>
      <div *ngFor="let user of users_with_this_role" class="inline">
        {{user.username}}
      </div>
    </td>
  </tr>
</table>
This role gives the following permissions:
<app-permission-table
  [given_roles]="[role]"
  [given_rules]="[]"
  [loggedin_user_rules]="userPermission.userRules"
  [is_edit_mode]="false"
></app-permission-table>
<div *ngIf="!isDefaultRole(); else defaultRoleMsg">
  <button *ngIf="userPermission.can('edit', 'role', role.organization_id)"
    mat-button class="btn btn-edit inline"
    (click)="edit(role)" [routerLink]="['/role', role.id, 'edit']">
      Edit
  </button>
  <button *ngIf="userPermission.can('delete', 'role', role.organization_id)"
    mat-button class="btn btn-delete-strong"
    (click)="askConfirmDelete()">
      Delete
  </button>
</div>
<ng-template #defaultRoleMsg>
  This default role is predefined and is available to all organizaitons.
  It cannot be changed or deleted.
</ng-template>