.form {
  .field-description {
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.875rem;
  }

  .dataframe-select {
    width: 100%;
    margin-bottom: 1rem;
  }

  .node-alert {
    margin-bottom: 1rem;
  }
}
