<form class="form" [formGroup]="formGroup">
  <div class="field-description">{{ "task-create.step-dataframe.description" | translate }}</div>

  @if (shouldShowDataframeSelection) {
    <div>
      @for (database of function?.databases || []; track database; let i = $index) {
        <mat-form-field subscriptSizing="dynamic" class="dataframe-select">
          <mat-label>{{ database.name }}{{ database.description ? " (" + database.description + ")" : "" }}</mat-label>
          <mat-select [formControlName]="'dataframeId' + i" [compareWith]="compareIDsForSelection" [multiple]="database.multiple">
            @for (dataframe of dataframes; track dataframe) {
              <mat-option [value]="dataframe.id">
                {{ dataframe.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </div>
  }

  @if (dataFrameNotReadyForAllSelectedOrganizations()) {
    <app-alert-with-button
      class="node-alert"
      label="{{
        'task-create.step-dataframe.alert-dataframe-not-ready-for-all-selected-organizations'
          | translate: { organizations: organizationNamesWithNonReadyDataframes.join(', ') }
      }}"
      buttonText="{{ 'task-create.step-dataframe.create-new-df' | translate }}"
      buttonLink="{{ routes.dataframeCreate + '/' + session?.id }}"
      [isSuccessAlert]="false"
    ></app-alert-with-button>
  }

  @if (shouldShowNoDataframesAlert) {
    <div>
      <app-alert-with-button
        class="node-alert"
        label="{{ 'task-create.alert-no-dataframes' | translate }}"
        buttonText="{{ 'task-create.step-dataframe.create-new-df' | translate }}"
        buttonLink="{{ routes.dataframeCreate + '/' + session?.id }}"
        [isSuccessAlert]="false"
      ></app-alert-with-button>
    </div>
  }
</form>
