<app-page-header title="{{ 'choose-collaboration.title' | translate }}"></app-page-header>
@if (!isLoading) {
  <div class="tile-grid">
    @for (collaboration of collaborations; track collaboration) {
      <button mat-raised-button (click)="handleCollaborationClick(collaboration)">
        {{ collaboration.name }}
      </button>
    }
  </div>
  @if (collaborations.length === 0) {
    <mat-card>
      <mat-card-content>
        <p>{{ "choose-collaboration.no-collaborations" | translate }}</p>
      </mat-card-content>
    </mat-card>
  }
  @if (encryptionService.privateKey$ | async) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ "choose-collaboration.card-private-key.title" | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ "choose-collaboration.card-private-key.description" | translate }}</p>
        <button mat-flat-button type="button" color="primary" [routerLink]="routes.keyUpload">
          {{ "choose-collaboration.card-private-key.button" | translate }}
        </button>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
