<mat-card class="auth-card">
  <mat-card-header>
    <mat-card-title>{{ "login.recover.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ "login.recover.message" | translate }}
    </p>
    <form class="form" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "login.recover.token-field" | translate }}</mat-label>
        <input matInput type="text" formControlName="resetToken" />
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "login.recover.new-password" | translate }}</mat-label>
        <input matInput type="text" formControlName="password" />
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "login.recover.new-password-repeat" | translate }}</mat-label>
        <input matInput type="text" formControlName="passwordRepeat" />
      </mat-form-field>
      <button mat-flat-button type="submit" color="primary" [disabled]="!recoverForm.valid">
        {{ "login.recover.submit" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
