<app-page-header title="{{ 'change-password.title' | translate }}"> </app-page-header>
<mat-card>
  <mat-card-content>
    <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "change-password.old-password" | translate }}</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "change-password.new-password" | translate }}</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        <mat-error *ngIf="form.controls.newPassword.hasError('minlength')">{{ "password.validation.length" | translate }}</mat-error>
        <mat-error *ngIf="form.controls.newPassword.hasError('pattern')">{{ "password.validation.pattern" | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ "change-password.new-password-repeat" | translate }}</mat-label>
        <input matInput type="password" formControlName="newPasswordRepeat" />
        <mat-error *ngIf="form.hasError('compare')">{{ "password.validation.compare" | translate }}</mat-error>
      </mat-form-field>
      <div class="button-container">
        <button mat-flat-button type="submit" color="primary">{{ "general.submit" | translate }}</button>
        <button mat-flat-button (click)="handleCancel()">{{ "general.cancel" | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
