mat-tree-node>.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
  height: 24px;
  width: 24px;
}

mat-tree-node>.mat-mdc-icon-button.mat-mdc-button-base .mat-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

mat-tree-node>mat-ripple.mat-mdc-checkbox-ripple.mat-mdc-focus-indicator {
  height: 30px;
  width: 30px;
  top: 5px;
  left: 5px;
}

mat-form-field>.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  margin-bottom: -1.25em !important;
  display: none !important;
}

.tree-dropdown {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  &__search-form {
    button {
      margin-right: 4px;
    }
  }

  &__chip-grid,
  &__chip-row,
  &__item-select {
    color: var(--mat-select-enabled-arrow-color);
    height: 40px;
    margin: 0 0 0 8px !important;
  }

  &__expand-collapse {
    margin-top: -4px;
  }

  &__content {
    margin-left: 16px;
  }

  &__hide-option {
    display: none;
  }

  &__tree {
    background: none;
    padding-left: 0;

    &--nomultiplelevels {
      padding-left: 0px;

      button {
        display: none;
      }
    }

    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      padding-inline-start: 25px;
    }

    p {
      cursor: pointer;
      margin: 0;
    }
  }

  &__node,
  &__nodenested {
    min-height: 32px;
    min-width: fit-content;

    +.mat-tree-node {
      align-items: center;
      flex-direction: row;
    }

    &--invisible {
      display: none !important;
    }
  }

  &__node {
    &--haschilds {
      height: auto;
    }
  }

  &__chevron {
    &--child-selected {
      color: #21447d;
      font-weight: bold;
    }
  }

  &__checkbox,
  &__radio {
    height: 24px;
    width: 24px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
  }

  &__node-label {
    height: 24px;
    display: flex;
    align-items: center;
  }
}