<app-page-header title="{{ 'algorithm-old-list.title' | translate }}"> </app-page-header>
@if (!isLoading) {
  <app-alert label="{{ 'algorithm-old-list.alert' | translate }}"></app-alert>
  <app-display-algorithms [algorithms]="oldAlgorithms" [routeOnClick]="routes.algorithmManage"></app-display-algorithms>
  @if (oldAlgorithms.length === 0) {
    <mat-card>
      <mat-card-content>
        <p>{{ "algorithm-old-list.no-algorithms" | translate }}</p>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
