<mat-card>
  <h4>{{getTitle()}}</h4>
  <table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr>
      <td>Name:</td>
      <td><input [(ngModel)]="role.name"/></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input [(ngModel)]="role.description"/></td>
    </tr>
    <tr *ngIf="isCreateAnyOrg()">
      <td>Organization:</td>
      <td>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="dropdownRoles" ngbDropdownToggle>
            <span class="align-top">{{getNameOrgDropdown()}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownRoles">
            <div *ngFor="let org of organizations">
              <button ngbDropdownItem (click)="selectOrg(org)">{{org.name}}</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <app-permission-table
    [given_roles]="[]"
    [given_rules]="role.rules"
    [loggedin_user_rules]="userPermission.userRules"
    [is_edit_mode]="true"
    (addedRulesChangeEvent)="updateAddedRules($event)"
  ></app-permission-table>
  <button mat-button class="btn btn-save" (click)="save()">
    <div *ngIf="isCreate(); else isEditRoleBlock">
      Create
    </div>
    <ng-template #isEditRoleBlock>
      Save
    </ng-template>
  </button>
  <button mat-button class="btn btn-dflt" (click)="cancel()">
    Cancel
  </button>
</mat-card>