<table class="roles-table">
  <thead>
    <tr>
      <th class="roles-table__resource-header">{{ "rule.resource.label" | translate }}</th>
      @for (operation of allOperations; track operation) {
        <th class="roles-table__operation-header">{{ "rule.operation." + operation | translate }}</th>
      }
    </tr>
  </thead>
  <tbody class="roles-table__body">
    @for (resourcePermission of resourcePermissions; track resourcePermission; let p = $index) {
      <tr [ngClass]="rowClass(p)">
        <td class="roles-table__resource">
          <!-- <td [rowSpan]="resourcePermission.scopes.length" class="roles-table__resource"> -->
          {{ "rule.resource." + resourcePermission.resource | translate }}
        </td>
        @for (operationPermission of resourcePermission.operations; track operationPermission) {
          <td class="roles-table__operation-permission-select">
            @if (showCheckBox(operationPermission)) {
              <mat-checkbox
                [disabled]="isDisabled(operationPermission)"
                (change)="$event ? selection.toggle(operationPermission) : null"
                [checked]="selection.isSelected(operationPermission)"
              ></mat-checkbox>
            }
            @if (showCheckIcon(operationPermission)) {
              <mat-icon class="roles-table__check" [ngClass]="getIconClass(operationPermission)">check</mat-icon>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
