# requirements for readthedocs generation
-r ../vantage6-common/requirements.txt
-r ../vantage6-client/requirements.txt
-r ../vantage6-algorithm-tools/requirements.txt
-r ../vantage6/requirements.txt
-r ../vantage6-node/requirements.txt
-r ../vantage6-server/requirements.txt
sphinx==8.1.3
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-click
sphinxcontrib-plantuml
furo