# requirements for readthedocs generation
# Note: This file is only used by ReadTheDocs which doesn't support pyproject.toml yet
# For local development, use: cd docs && uv sync
sphinx==8.2.3
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-click
sphinxcontrib-plantuml
furo