@if (!isLoading && algorithmStore) {
  <app-page-header title="{{ algorithmStore.name }}"></app-page-header>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-read.card-details.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-list">
        <div class="data-list__item">
          <b>{{ "general.id" | translate }}</b>
          <span>{{ algorithmStore.id || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "general.name" | translate }}</b>
          <span>{{ algorithmStore.name || "-" }}</span>
        </div>
        <div class="data-list__item">
          <b>{{ "collaboration.algorithm-store.url" | translate }}</b>
          <span>{{ algorithmStore.url || "-" }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-store-read.card-collaborations.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (!algorithmStore.all_collaborations) {
        <div>
          <p>
            {{ "algorithm-store-read.card-collaborations.description" | translate }}
          </p>
          <app-table [data]="collaborationTable" [isLoading]="isLoading"></app-table>
        </div>
      } @else {
        <p>{{ "algorithm-store-read.for-all-collaborations" | translate }}</p>
      }
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-store-read.card-policies.title" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (policyTable) {
        <app-table [data]="policyTable" [isLoading]="isLoading"></app-table>
      }
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "algorithm-store-read.card-algorithms.title" | translate }}</mat-card-title>
      @if (canAddAlgorithm) {
        <button actions mat-flat-button class="right-aligned-button" color="primary" [routerLink]="routePaths.algorithmCreate">
          <mat-icon>add</mat-icon>{{ "algorithm-create.short-title" | translate }}
        </button>
      }
    </mat-card-header>
    <mat-card-content>
      @if (algorithms) {
        <div>
          <p>{{ "algorithm-store-read.card-algorithms.description" | translate }}</p>
          <app-display-algorithms [algorithms]="algorithms" [routeOnClick]="routePaths.algorithmManage"></app-display-algorithms>
        </div>
      }
      @if (!algorithms) {
        <div>
          <p>{{ getMessageNoAlgorithms() }}</p>
        </div>
      }
    </mat-card-content>
  </mat-card>
}
@if (isLoading) {
  <mat-card>
    <mat-card-content>
      <mat-spinner diameter="48"></mat-spinner>
    </mat-card-content>
  </mat-card>
}
