<app-page-header title="{{ 'resources.algorithms' | translate }}"></app-page-header>
<ng-container *ngIf="!isLoading; else loading">
  <div class="tile-grid">
    <button mat-raised-button *ngFor="let algorithm of algorithms" (click)="handleAlgorithmClick(algorithm)">
      {{ algorithm.name }}
    </button>
  </div>
  <mat-card *ngIf="algorithms.length === 0">
    <mat-card-content>
      <p>{{ "algorithm-list.no-algorithms" | translate }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner diameter="48"></mat-spinner>
</ng-template>
