<app-page-header title="{{ 'resources.stores' | translate }}"></app-page-header>
@if (!isLoading) {
  <div class="tile-grid">
    @for (store of algorithmStores; track store) {
      <button mat-raised-button (click)="handleAlgorithmStoreClick(store)">
        {{ store.name }}
      </button>
    }
  </div>
  @if (algorithmStores.length === 0) {
    <mat-card>
      <mat-card-content>
        <p>{{ "algorithm-store-list.no-stores" | translate }}</p>
      </mat-card-content>
    </mat-card>
  }
} @else {
  <mat-spinner diameter="48"></mat-spinner>
}
