<table style="width: 100%">
    <colgroup>
      <col span="1" style="width: 20%;"/>
      <col span="1" style="width: 80%;"/>
    </colgroup>
    <tr>
      <td>Name:</td>
      <td>{{task.name}}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{task.description}}</td>
    </tr>
    <tr>
      <td>Docker image:</td>
      <td>{{task.image}}</td>
    </tr>
    <tr>
      <td>Collaboration:</td>
      <td>{{getCollaborationName()}}</td>
    </tr>
    <tr>
      <td>Run id:</td>
      <td>{{task.run_id}}</td>
    </tr>
    <tr>
        <td>Database:</td>
        <td>{{getDatabaseName()}}</td>
    </tr>
    <tr>
        <td>Completed:</td>
        <td>{{task.complete ? 'Yes': 'No'}}</td>
    </tr>
    <tr>
        <td>Initiator:</td>
        <td>{{getInitiatorName()}}</td>
    </tr>
    <!-- TODO links to parents/children -->
    <tr>
      <td>Parent:</td>
      <td>
        <button mat-button *ngIf="task.parent_id; else noParentBlock"
            class="btn btn-detail inline"
            [routerLink]="['/task', task.parent_id, 'view']">
          Task #{{task.parent_id}}
        </button>
        <ng-template #noParentBlock>
          None
        </ng-template>
      </td>
    </tr>
    <tr>
      <td>Children:</td>
      <td>
        <div *ngIf="task.children_ids.length > 0; else noChildrenBlock">
          <div *ngFor="let child_id of task.children_ids">
            <button mat-button
                class="btn btn-detail inline"
                [routerLink]="['/task', child_id, 'view']">
              Task #{{task.parent_id}}
            </button>
          </div>
        </div>
        <ng-template #noChildrenBlock>
          None
        </ng-template>
      </td>
    </tr>
  </table>
  <button *ngIf="userPermission.can('delete', 'task', org_id)"
      mat-button class="btn btn-delete-strong"
      (click)="askConfirmDelete()">
    Delete
  </button>
