<table style="width: 100%">
  <colgroup>
    <col span="1" style="width: 20%;"/>
    <col span="1" style="width: 80%;"/>
  </colgroup>
  <tr>
    <td>Username:</td>
    <td>{{user.username}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{user.email}}</td>
  </tr>
  <tr>
    <td>First name:</td>
    <td>{{user.first_name}}</td>
  </tr>
  <tr>
    <td>Last name:</td>
    <td>{{user.last_name}}</td>
  </tr>
  <tr>
    <td>Role(s):</td>
    <td>
      <div *ngFor="let role of user.roles" class="inline">
          <button mat-button class="btn-detail inline" disabled>
            {{role.name}}
          </button>
      </div>
      <div *ngIf="user.roles.length===0">
        This user has no roles!
      </div>
    </td>
  </tr>
  <tr *ngIf="user.rules.length > 0">
    <td>Extra rules:</td>
    <td>
      <div *ngFor="let rule of user.rules" class="inline">
        <button mat-button class="btn-detail inline" disabled>
          {{rule.operation}} {{rule.resource}} ({{rule.scope}})
        </button>
      </div>
    </td>
  </tr>
</table>
<button *ngIf="
      userPermission.can('edit', 'user', user.organization_id) ||
      (user.is_logged_in && userPermission.hasPermission('edit', 'user', 'own'))"
    mat-button class="btn btn-edit inline"
    (click)="edit(user)"
    [routerLink]="['/user', user.id, 'edit']"
    >
  Edit
</button>
<button *ngIf="
      userPermission.can('delete', 'user', user.organization_id) ||
      (user.is_logged_in && userPermission.hasPermission('delete', 'user', 'own'))"
    mat-button class="btn btn-delete-strong"
    (click)="askConfirmDelete()">
  Delete
</button>
