name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-black-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: psf/black@stable
