<div *ngIf="userPermission.hasPermission('view', 'organization', 'global') || userPermission.hasPermission('view', 'organization', 'collaboration')">
  <mat-card>
    Select organization to view:
    <div class="inline">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="dropdownOrgs" ngbDropdownToggle>{{current_organization.name}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownOrgs">
          <div *ngFor="let org of organizations">
            <button ngbDropdownItem
                    [routerLink]="['/organization', org.id]">
              {{org.name}}
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="userPermission.hasPermission('create', 'organization', 'global')" class="inline">
        <button mat-button class="btn btn-dflt btn-right" id="new_org_button"
                [routerLink]="['/organization', 'create']">
          <mat-icon>add_circle</mat-icon>
          <span>New organization</span>
        </button>
      </div>
    </div>
  </mat-card>
</div>
<div *ngIf="current_organization.id!==-1">
  <div class="row justify-content-md-center">
    <div class="col-lg">
      <mat-card>
        <h3>{{current_organization.name}}</h3>
        <address>
          {{current_organization.address1}}<br/>
          {{current_organization.address2}}<br/>
          {{current_organization.country}}<br/>
          {{current_organization.domain}}
        </address>
        <button mat-button class="btn btn-dflt btn-in-block" (click)="showPublicKey()">
          View public key
        </button>
        <button *ngIf="userPermission.can('edit', 'organization', current_organization.id)"
                mat-button class="btn-edit"
                (click)="editOrganization(current_organization)"
                [routerLink]="['/organization', current_organization.id, 'edit']">
          Edit
        </button>
      </mat-card>

      <mat-card>
        <h4>Collaborations</h4>
        <div *ngIf="userPermission.hasPermission('create', 'collaboration', 'global')" class="inline">
          <button mat-button class="btn btn-dflt btn-right"
                  [routerLink]="['/collaboration', 'create']">
            <mat-icon>add_circle</mat-icon>
            <span>New collaboration</span>
          </button>
        </div>
        <div class="vertical-spacer"></div>
        <div *ngFor="let col of collaborations">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{col.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-collaboration-view
              [collaboration]="col"
              (deletingCollab)="deleteCollaboration(col)"
              (editingCollab)="editCollaboration(col)"
            ></app-collaboration-view>
          </mat-expansion-panel>
        </div>
      </mat-card>

      <mat-card>
        <h4>Roles</h4>
        <div *ngIf="userPermission.can('create', 'role', current_organization.id)" class="inline">
          <button mat-button class="btn btn-dflt btn-right"
                  [routerLink]="['/role', 'create', current_organization.id]">
            <mat-icon>add_circle</mat-icon>
            <span>New role</span>
          </button>
        </div>
        <div *ngIf="!userPermission.can('view', 'role', current_organization.id)">
          You do not have permission to view the roles!
        </div>
        <div *ngFor="let role of roles | slice:0:MAX_ITEMS_DISPLAY">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{role.name}}
              </mat-panel-title>
              <mat-panel-description class="right-aligned-header">
                <div *ngIf="roleDataService.isDefaultRole(role)">
                  This is a default role
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-role-view
              [role]="role"
              (deletingRole)="deleteRole(role)"
            ></app-role-view>
          </mat-expansion-panel>
        </div>
        <button mat-button class="btn btn-dflt btn-top-margin"
          *ngIf="roles.length > MAX_ITEMS_DISPLAY"
          [routerLink]="['/roles', current_organization.id]"
          >
            View all roles
        </button>
      </mat-card>
    </div>

    <div class="col-lg">
      <mat-card>
        <h4>Users</h4>
        <div *ngIf="userPermission.can('create', 'user', current_organization.id)" class="inline">
          <button mat-button class="btn btn-dflt btn-right"
                  [routerLink]="['/user', 'create', current_organization.id]">
            <mat-icon>add_circle</mat-icon>
            <span>New user</span>
          </button>
        </div>
        <div *ngIf="organization_users.length===0">
          <div *ngIf="!userPermission.can('view', 'user', current_organization.id); else noUsersBlock">
            You do not have permission to view the users!
          </div>
          <ng-template #noUsersBlock>
            This organization has no users!
          </ng-template>
        </div>
        <div *ngFor="let user of organization_users | slice:0:MAX_ITEMS_DISPLAY">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{user.first_name}} {{user.last_name}}
              </mat-panel-title>
              <mat-panel-description>
                <div *ngIf="user.is_logged_in">
                  It's you!
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-user-view
              [user]="user"
              (deletingUser)="deleteUser(user)"
              (editingUser)="editUser(user)"
            ></app-user-view>
          </mat-expansion-panel>
        </div>
        <button mat-button class="btn btn-dflt btn-top-margin"
          *ngIf="organization_users.length > MAX_ITEMS_DISPLAY"
          [routerLink]="['/users', current_organization.id]"
          >
            View all users
        </button>
      </mat-card>

      <mat-card>
        <h4>Nodes</h4>
        <div *ngIf="nodes.length===0">
          <div *ngIf="!userPermission.can('view', 'node', current_organization.id); else noNodesBlock">
            You do not have permission to view the nodes!
          </div>
          <ng-template #noNodesBlock>
            This organization has no nodes!
          </ng-template>
        </div>
        <div *ngFor="let node of nodes | slice:0:MAX_ITEMS_DISPLAY">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{node.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="btn btn-dflt" style="max-width: 120px" ngbDropdownItem [routerLink]="['/node', node.id, 'view', current_organization.id]">
              View node
            </button>
          </mat-expansion-panel>
        </div>
        <button mat-button class="btn btn-dflt"
          *ngIf="nodes.length > MAX_ITEMS_DISPLAY"
          [routerLink]="['/nodes', current_organization.id]"
          >
            View all nodes
        </button>
      </mat-card>
    </div>
  </div>
</div>