@use 'src/app/shared/scss/variables' as v;

.column {
  float: center;
  width: 50%;
}

mat-card {
  margin-bottom: 10px;
}

mat-icon {
  margin-right: 8px;
}

.inline {
  display: inline;
}

.mat-button.mat-button-disabled.mat-button-disabled {
  color: v.$white;
}

h4 {
  display: inline-block;
}

#new_org_button {
  margin-top: 0px;
}

mat-expansion-panel {
  margin-top: 10px;
}